/* @override http://test.mopcon.org/css/all.css */

html,body{
	font-size:16px;
	line-height:24px;
	-webkit-text-size-adjust:100%;
	padding:0;
	background-color: rgb(215, 216, 218);
}

@media ( max-width: 979px ){
	body{padding-top:0}
	body .brand{text-align:center}
}

@media (min-width: 768px) and (max-width: 979px){
	.span6{float:none;width:auto}
}

#functionSeprate {
	list-style:none;
	background-color: #1b75bc;
	height: 4px;
}

.container {
	overflow:hidden;
	
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.8);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,0.8);
	box-shadow:0 1px 5px rgba(0,0,0,0.8);
	background-color:white;
}

@media (min-width:979) {
	#all.container {
		margin-top: 74px;
	}
}

.date {
	font: 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
	padding-right: 10px;
}
.date .start, .date .end{
	display:-moz-inline-box;
	-moz-box-orient:vertical;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	width: 200px;
	*display:inline
}

span.wd.ct10,span.slash {
	color: #b7b7b7;
}

.agenda:first-child {
	padding-bottom: 0;
}

.agenda {
	padding: 24px;
}

.agenda .border {
	border: 2px solid black;
	border-color: rgba(0,0,0,0.7);
}

.agenda .line {
	border: 3px double black;
	border-color: rgba(0,0,0,0.7);
	padding: 48px;
}

.agenda hgroup {
	padding-bottom: 24px;
}

.agenda h2 {
	font-size: 2em;
}

.agenda .agenda-group {
	border: 1px solid black;
	border-width: 1px 0;
	margin-bottom: -1px;
}

.agenda .agenda-title {
	color: #000;
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
	display: block;
}

.agenda .text-wrapper {
	padding: 8px 0 12px;
}

.text-wrapper {
	padding: 20px;
}

.agenda .agenda-title .time {
	text-align: left;
	font-family: monospace;
	font-size: 0.75em;
	line-height: 1.333em;
}

.agenda .agenda-title .name {
	font-size: 1.25em;
	line-height: 1.8em;
}

.agenda .span10 {
	border-left: 1px dashed rgba(0,0,0,0.3);
	margin-left: -1px;
}

.agenda .span10 .text-wrapper {
	padding-left: 12px;
}

.agenda .text-wrapper {
	padding: 8px 0 12px;
}

.agenda .agenda-group {
	border: 1px solid black;
	border-width: 1px 0;
	margin-bottom: -1px;
}

.agenda .rest {
	background: black;
	color: #e7cbb5;
	text-align: center;
}

.agenda .rest .name {
	font-size: 0.75em;
	line-height: 2em;
}

.copyright {
	font-size: 0.75em;
	line-height: 0.75em;
	text-align: center;
	padding-top: 16px;
}

.wf-active .wf-h2 {
	opacity: 1;
	position: relative;
	top: .15em;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.wf-active .wf {
	font-weight: normal;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.wf-h2, .name {
	font-family: "ff-netto-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h2 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.333em;
}

i.icon {
	font-family: 'Pictos Custom';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
}

a {
	color: #08c;
	text-decoration: none;
}

/* 社群頁面 */
.thumbnail {
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.thumbnail > img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	border: 0;
	height: 15em;
}

#aboutUs {
	padding-bottom: 1.5em;
	border-bottom: 1px dashed #a8a8a8;
	margin-bottom: 1.5em;
}

#aboutUs .section {
	display: inline-block;
	width: 250px;
	margin-left: 2em;
	vertical-align: top;
	position: relative;
}

#aboutUs .section .fontLogo {
	padding: 2.3em 0;
}

.fontLogo {
	font-size: 3em;
	padding: 1.75em 0;
	text-align: center;
	text-shadow: -1px 0 #687da8,0 1px #687da8,1px 0 #687da8,0 -1px #687da8,1px 1px 1px #333;
	display: block;
	font-family: Georgia, sans-serif;
}

#aboutUs .section .popover {
	margin: 1.5em auto 0;
	display: block;
	position: relative;
}

.popover.bottom {
	margin-top: 10px;
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	width: 236px;
	padding: 1px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.popover.bottom .arrow {
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-width: 0 10px 10px;
	border-bottom-color: #fff;
}

.popover .arrow, .popover .arrow::after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.popover .arrow::after {
	content: "";
	z-index: -1;
}

.popover .arrow, .popover .arrow::after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999;
}

.popover-content {
	padding: 9px 14px;
}

.popover-content p, .popover-content ul, .popover-content ol {
	margin-bottom: 0;
}

/* 贊助商 */
#sponsorList .main, #sponsorList .second, #sponsorList .special {
	margin: 10px;
	border-bottom: 1px dashed #a8a8a8;
	padding-left: 2em;
}
#sponsorList h3 {
	font-size: 1.6em;
	margin: 0;
	margin-left: -1em;
}
#sponsorList .thumbnails {
	margin-left: -20px;
	list-style: none;
}
#sponsorList .thumbnails::before, #sponsorList .thumbnails::after {
	display: table;
	content: "";
	line-height: 0;
}
#sponsorList .thumbnails::after {
	clear: both;
}
#sponsorList .thumbnails li {
	margin-bottom: 0;
}
.thumbnails > li {
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

#sponsorList .span2 {
	width: 140px;
}

#sponsorList .fontLogo {
	padding: 1em 0;
}