html,body{
	font-size:16px;
	line-height:24px;
	-webkit-text-size-adjust:100%;
	padding:0;
}

@media ( max-width: 979px ){
	body{padding-top:0}
	body .brand{text-align:center}
}

@media (min-width: 768px) and (max-width: 979px){
	.span6{float:none;width:auto}
}

#functionSeprate {
	list-style:none;
	background-color: #1b75bc;
	height: 4px;
}

@media (min-width:979) {
	#main_content {
		margin-top: 90px;
	}
	#container {
		border-radius: 5px;
		box-shadow:inset 1px 1px 5px #666666;
	}
}

#main_content {
}

.date {
	font: 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: right;
	padding-right: 10px;
}
.date .start, .date .end{
	display:-moz-inline-box;
	-moz-box-orient:vertical;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	width: 200px;
	*display:inline
}

span.wd.ct10,span.slash {
	color: #b7b7b7;
}