.section-image-wall {
  min-height: 100vh;
  margin-top: 200px;
  @include rwd(pad) {
    min-height: initial;
    min-height: auto;
    margin-top: 86px;
  }

  .title {
    @include rwd(pad) {
      span:nth-child(1) {
        display: block;
      }
    }
  }

  p {
    margin-top: 5px;
    span:not([class]) {
      color: $colorSecondary;
    }
    .symbol-x:before {
      @include rwd(pad) {
        content: "|";
      }
    }
  }

  .bg-cover {
    @include bgCenter;
    position: absolute;
  }
  .bg-cover--1 {
    top: -180px;
    left: -240px;
    width: 459px;
    height: 459px;
    background-image: url("./images/bg-cover-1.png");
    @include rwd(pad) {
      top: -10%;
      left: -25%;
      width: 44%;
      height: 0;
      padding-top: 44%;
    }
  }
  .bg-cover--2 {
    right: -50%;
    bottom: -60%;
    width: 909px;
    height: 909px;
    background-image: url("./images/bg-cover-2.png");
    @include rwd(pad) {
      right: -40%;
      bottom: -65%;
      width: 79%;
      height: 0;
      padding-top: 79%;
      background-image: url("./images/bg-cover-1.png");
    }
  }
  .people-flashlight {
    @include bgCenter(640px, 136px);
    position: absolute;
    right: -20%;
    bottom: -180px;
    background-image: url("./images/people-flashlight.png");
    @include rwd(lg) {
      right: 0;
    }
    @include rwd(pad) {
      right: 5%;
      bottom: -20%;
      width: 80%;
      height: 0;
      padding-top: calc(21% * 0.8);
    }
  }

  .image-wall {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 34px);
    margin: 45px 0 0 -17px;
    &__item:nth-child(1) {
      background-image: url("./images/image-wall-1.jpg");
    }
    &__item:nth-child(2) {
      background-image: url("./images/image-wall-2.jpg");
    }
    &__item:nth-child(3) {
      background-image: url("./images/image-wall-3.jpg");
    }
    &__item:nth-child(1),
    &__item:nth-child(2) {
      width: calc(50% - 34px);
      height: 0;
      padding-top: calc(82.5% * 0.5);
    }
    &__item:nth-child(3) {
      width: calc(100% - 34px);
      height: 0;
      padding-top: 40.39%;
    }
    &__item {
      @include bgCenter;
      margin: 17px;
      background-color: #fff;
      @include rwd(pad) {
        display: none;
      }

      &__text {
        position: absolute;
        bottom: 42px;
        left: 0;
        width: 100%;
        color: $colorWhite;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        @include rwd(sm) {
          bottom: 15px;
        }
      }
    }

    &__item--video {
      cursor: pointer;
      @include rwd(pad) {
        display: block;
        width: 100% !important;
        margin-top: 0;
        padding-top: 76.3% !important;
      }
      &:before {
        @include abCenter;
        content: "";
        position: absolute;
        width: 102%;
        height: 102%;
        background-color: rgba($colorBlack, 0.6);
      }

      .video-line {
        position: absolute;
        width: 77px;
        height: 77px;
        @include rwd(sm) {
          width: 48px;
          height: 48px;
        }
        &:before,
        &:after {
          @include abCenter;
          content: "";
          width: 100%;
          height: 100%;
        }
        &:before {
          border-left: solid 1px $colorWhite;
        }
        &:after {
          border-bottom: solid 1px $colorWhite;
        }
      }
      .video-line--left {
        bottom: 0px;
        left: 0px;
      }
      .video-line--right {
        top: 0;
        right: 0;
        transform: rotate(180deg);
      }

      .icon-play {
        @include bgCenter(118px, 118px);
        @include abCenter;
        position: absolute;
        background-image: url("./images/icon-play.png");
      }
    }
  }
}
