.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 12.5rem;
  margin-top: 2.5rem;
  gap: 24px;
  justify-items: center;
}
.card {
  width: 280px;
  border: 1px solid #dbdae1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #dbdae1;
  padding: 2.5rem 0;
}
.content {
  padding: 0;
  max-width: 10rem;
}
.text {
  margin: 1.25rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: #dbdae1;
}
.btn {
  font-size: 1rem;
  padding: 0.75rem 2.5rem;
  border-radius: 24px;
  max-width: 186px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.btn-active {
  cursor: pointer;
  color: #f47c57;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f47c57;
}
.btn-disabled {
  pointer-events: none;
  color: #dbdae1;
  border: 1px solid #dbdae1;
  background-color: rgba(0, 0, 0, 0);
}

.btn-active:hover {
  color: #dbdae1;
  background-color: #f47c57;
  transition: all 0.3s;
}
.btn-active:hover svg path {
  fill: #dbdae1;
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .wrap {
    max-width: 960px;
  }
  .container {
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 341px;
  }
  .container {
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 568px) {
  .container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 341px;
  }
  .wrap {
    max-width: 343px;
  }
  .container {
    margin-bottom: 4rem;
  }
}
