.sectionPastYears {
  display: flex;
  flex-flow: column nowrap;
  @include rwd(lg) {
    padding: 0 75px;
  }
  @include rwd(pad) {
    padding: 0 0 0 25px;
  }
  .title {
    margin-bottom: 55px;
    @include rwd(pad) {
      margin-bottom: 37px;
    }
  }

  .slider {
    width: calc(100% + 100px);
    margin-left: -50px;
    padding: 0 50px;
    @include rwd(lg) {
      padding: 0;
    }
    @include rwd(pad) {
      width: 100%;
      margin-left: 0;
      padding: 0;
    }
    .slider-container {
      width: 100%;
      @include rwd(lg) {
        width: calc(100% - 100px);
      }
      @include rwd(pad) {
        width: 100%;
      }

      .swiper-wrapper {
        .swiper-slide {
          width: 22%;

          @include rwd(pad) {
            width: 29%;
          }
          @include rwd(sm) {
            width: 60%;
          }

          &__inner {
            display: flex;
            width: 100%;
            height: 0;
            padding-top: 130%;
            border-radius: 13px;
            overflow: hidden;
          }

          &__image {
            @include abCenter;
            @include bgCenter(100%, 100%);
          }

          &__year {
            margin-top: 14px;
            color: $colorGrayLight;
            text-align: center;
          }
        }
      }
    }

    &-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include rwd(pad) {
        display: none;
      }
      .swiper-button-prev,
      .swiper-button-next {
        transform: translateY(-15px);
        outline: none;
      }
    }
  }

  &__btn {
    align-self: center;
    margin-top: 60px;
    margin-left: -25px;
    @include rwd(pad) {
      margin-top: 46px;
      padding: 0 18px;
    }
    &__link {
      display: flex;
      align-items: center;
    }
    .icon-play {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-right: 14px;
      background-image: url('./images/icon-play.png');
      background-size: contain;
      @include rwd(pad) {
        width: 23px;
        height: 23px;
        margin-right: 8px;
      }
    }
  }
}
