$content_width: 300px;

@mixin flex_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badgeContainer {
    @include flex_block;
    flex-direction: column;
    margin: 39px 0 49px 0;

    .shareBtn {
        display: flex;
        align-items: center;
        color: #3f6761;
        cursor: pointer;
        .fa {
            color: #3c579e;
        }
        span {
            margin-left: 5px;
        }
    }

    .illustration {
        width: 287px;
        height: 416px;
        .badge_icon {
            position: relative;
            background: #fff;
            background-size: 67px;
            width: 79px;
            height: 79px;
            border-radius: 8px;
            display: inline-block;
            margin: 0 18px 18px 0;
            &:nth-child(3n+3) {
                margin: 0 0 18px 0;
            }
        }
    }

    .collection {
        color: #fff;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    .func {
        display: flex;
        div {
            width: 150px;
            height: 47px;
            border: 1px solid #fff;
            border-radius: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 20px;
            line-height: 23px;
            margin-right: 13px;
            &:last-child {
                margin-right: 13px;
            }
        }
        img {
            margin-right: 7px;
        }
    }

    .modal-content {
        border-radius: 20px;
        .modal-header {
            border-radius: 20px 20px 0 0;
            background-color: #7ab6ad;
            .sponsor {
                color: #fff;
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 5px;
            }
            .time {
                color: #3f6761;
                font-size: 14px;
                line-height: 16px;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 34px;
                height: 34px;
                background-color: #181e3e;
                border-radius: 34px;
                opacity: 1;
                span {
                    color: #fff;
                    font-size: 25px;
                }
            }
        }
        .modal-body {
            .logo {
                text-align: center;
                margin-bottom: 20px;
                img {
                    width: 155px;
                    height: 155px;
                } 
            }
            .intro {
                color: #4f4f4f;
                font-size: 13px;
                line-height: 15px;
            }
        }
    }
}