$heatmap_width: 307px;
$heatmap_height: 308px;

@mixin flex_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#heatmapRoomContainer {
    @include flex_block;
    flex-direction: column;

    .title {
        margin: 33px 0 51px 0;
        color: #fff;
        font-size: 35px;
        line-height: 41px;
    }
    .map {
        width: $heatmap_width;
        height: $heatmap_height;
        position: relative;

        .floor {
            width: $heatmap_width;
            height: $heatmap_height;
            display: none;
        }

        .heatmap3F {
            position: absolute !important;
            top: 75px;
            left: 32px;
            width: 205px;
            height: 113px;
        }

        .heatmap4F {
            position: absolute !important;
            top: 74px;
            left: 18px;
            width: 246px;
            height: 150px;
        }
    }

    .logo {
        margin: 37px;

        img {
            width: 284px;
            height: 95px;
        }
    }
}