$content_width: 300px;

@mixin flex_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileContainer {
    @include flex_block;
    flex-direction: column;
    margin-top: 43px;

    .form-group {
        width: $content_width;

        label {
            color: #fff;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 8px;
        }

        input {
            border: 0;
            background-color: #181e3e;
            border-bottom: 1px solid #fff;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 10%;
        }

        input[type="text"] {
            color: #7ab6ad;
        }

        input[type="password"] {
            color: #fff;
        }
    }
    .functions {
        @include flex_block;
        margin: 38px 0;
        .func_btn {
            @include flex_block;
            width: 148px;
            height: 39px;
            border: 1px solid #fff;
            color: #bdbdbd;
            font-family: Noto Sans Mono CJK TC;
            font-size: 18px;
            line-height: 21px;
            margin-right: 7px;

            &:last-child {
                margin-right: 0px;
            }
        }
        .func_btn_highlight {
            color: #f1e28c;
            border: 1px solid #f1e28c;
        }
    }
}