.speaker {
    &.container {
        padding-right: 0;
        padding-left: 0;
    }
    margin: 12vw auto;
}

.speaker_content {
    .h4 {
        background-color: $colorMainSecond;
        border-radius: 30px;
        color: $colorWhite;
        padding: 13px;
        text-align: center;
        margin-top: 20px;
    }
    margin:60px auto;
    .owl-item {
        @include mobile() {
            padding: 20px;
        }
    }
}

.speakerDetail {
    .name {
        color: $colorMainSecond;
    }
}