.sponsor {
    position: relative;
}

.sponsor_content {
    margin: 0 auto 100px;
    position: relative;
    text-align: center;
}

.sponsor_content_title {
    z-index: 1;
    background-color: $colorMainThird;
    color: $colorSubThird;
    border-radius: 60px;
    padding: .5rem 1.5rem;
    font-size: $font-larger;
    font-weight: bold;
    position: absolute;
    max-width: 300px;
    width: 100%;
    top: -2rem;
    left: -30px;
    text-align: center;
    @include pad-below () {
        font-size: $font-large;
        max-width: 200px;
        left: -15px;
    }
    &.setCenter {
        margin: auto;
        right: 0;
        left: 0;
    }
}