.ticket {
    border: 1px solid $colorMainSecond;
    position: relative;
    margin-right: 50px;
    margin-bottom: 18px;
    display: block;
    padding: 1rem;
    min-height: 170px;
    @include pad-below() {
        margin-right: auto;
    }
    .h3 {
        text-align: left;
    }
    .tip {
        color: #F2994A;
    }
    .btn-rightNow {
        position: absolute;
        right: -50px;
        top: 0;
        height: 63px;
        bottom: 0;
        margin: auto;
        @include pad-below() {
            right: 1rem;
            margin: inherit;
            height: inherit;
            top: auto;
        }
    }
}

.ticket_price {
    color: #fff;
    background: $colorMainSecond;
    font-size: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-shadow: rgba(0, 0, 0, .5) 0 0 10px;
    @include pad-below() {
        width: 100%;
        height: inherit;
    }
}

.ticket_content {
    margin-left: 22%;
    @include pad-below() {
        margin-left: inherit;
        margin-bottom: 60px;
        margin-top: 60px;
    }
}