.section-sponsorCore {
  display: flex;
  flex-flow: column nowrap;
  margin: 150px auto;
  @include rwd(pad) {
    margin: 106px auto;
    padding-right: 0;
  }

  .title {
    margin-bottom: 122px;
    @include rwd(pad) {
      margin-bottom: 56px;
    }
  }

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar { 
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: $colorGray;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: $colorPrimary;
    }
    @include rwd(pad) {
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }

    &__item {
      @include bgCenter;
      margin-right: 12px;
      margin-top: 12px;
      width: calc(33% - 15px);
      height: 0;
      padding-top: calc(100% * 0.33 - 15px);

      @include rwd(pad) {
        flex: 0 0 auto;
        width: 206px;
        height: 208px;
        padding-top: 0;
      }

      &__tag {
        position: absolute;
        bottom: 12px;
        left: -3px;
        height: 33px;
        padding-left: 34px;
        background-color: $colorPrimary;
        line-height: 33px;
        &:before,
        &:after {
          content: '';
          position: absolute;
        }

        &:after {
          @include bgCenter(17px, 12px);
          top: 50%;
          left: 9px;
          transform: translateY(-50%);
          background-image: url('./images/icon-gold.png');
          background-size: contain;
        }

        &:before {
          right: -25px;
          bottom: 0;
          width: 0;
          height: 0;
          border-right: 25px solid transparent;
          border-bottom: 33px solid $colorPrimary;
        }

        span {
          color: $colorWhite;
          font-size: 14px;
          letter-spacing: 0.7px;
        }
      }

      &__more {
        margin-right: 12px;
        margin-top: 12px;
        width: calc(33% - 15px);
        height: 0;
        padding-top: calc(50% * 0.33 - 15px);
        padding-left: calc(33.333% * 0.33 - 15px);
      }
    }
  }

  &__more {
    align-self: flex-end;
    margin-top: 19px;
    padding-bottom: 3px;
    color: $colorWhite;
    font-size: 16px;
    letter-spacing: 0.8px;
    @include rwd(pad) {
      display: none
    }

    &:before {
      content: '';
      position: absolute;
      width: calc(200% - 15px);
      height: 100%;
      border-bottom: solid 1px $colorWhite;
    }

    &__mobile {
      display: none;
      @include rwd(pad) {
        display: inline-block;
        line-height: 1.88em;
        color: $colorWhite;
        border-bottom: solid 1px $colorWhite;
      }
    }
  }

  &__mobile {
    text-align: right;
    padding-right: 1.5em;
  }
}
