$bg_map: (
  png: mosume,
  svg: github_icon facebook_icon website_icon twitter_icon calendar location
    share
);
@include bgImg(speaker);

span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  &.link {
    cursor: pointer;
  }
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.12em;
  color: #202020;
  br {
    display: none;
  }
}

@include screen(pad) {
  h2 {
    br {
      display: block;
    }
  }
}

@include screen(sm) {
  h2 {
    font-size: 24px;
    letter-spacing: 0.15px;
  }
}
.title-container {
  @include flex(normal, row);
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    line-height: 52px;
    margin-left: 30px;
  }
}
@include screen(sm) {
  .title-container {
    padding-top: 46px;
    padding-bottom: 40px;
    @include flex(normal, column);
    h2 {
      margin-left: 0px;
      margin-top: 1rem;
    }
  }
}
//內容 CSS
.line-gray-transform {
  position: relative;
  z-index: 2;
}
.main {
  .container {
    padding-top: 150px;
    min-height: 100vh;
  }
  .vol10-gray {
    top: 50px;
    left: 0;
  }
  .mo-container {
    @include flex(center, row, center);
  }
  .bg-mosume {
    width: 500px;
    height: 298.2px;
    background-size: contain;
  }
  .vol10-mobile {
    top: 50px;
    left: 20px;
  }
  &-title {
    span {
      color: $colorBlueDark;
    }
  }
  &-content {
    width: 650px;
    text-align: center;
    margin: 0 auto;
    @include font(20px);
    span {
      @include font(20px, $colorOrange, 700);
    }
  }
}
@include screen(pad) {
  .main {
    &-content {
      width: 100%;
    }
  }
}
@include screen(sm) {
  .main {
    .container {
      padding-top: 80px;
    }
    .bg-mosume {
      height: 200px;
    }
    &-content {
      text-align: left;
    }
  }
}
.label-list {
  list-style: none;
  padding-left: 96px;
  padding-right: 96px;
  @include flex(center, row, center);
  flex-wrap: wrap;
  li {
    display: inline-block;
  }
  label {
    display: inline-block;
    background-color: $colorBlueLight;
    opacity: 0.6;
    border-radius: 32px;
    padding: 7px 16px;
    color: white;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox'] + label:before {
    content: '';
    display: inline-block;
    height: 15px;
  }
  input[type='checkbox']:checked + label:before {
    content: '';
    vertical-align: middle;
    height: 15px;
    width: 15px;
    background-image: url(../../assets/images/speaker/check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
  }
  input[type='checkbox']:checked + label {
    background-color: $colorBlueDark;
    opacity: 1;
  }
}
@include screen(pad) {
  .label-list {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.speaker {
  background: #efeaeb;
  &-list {
    @include flex(flex-start);
    flex-wrap: wrap;
    margin-top: 64px;
    list-style: none;
    li {
      width: 33.3333%;
      @include flex(normal, column, center);
      margin-bottom: 24px;
      padding-bottom: 40px;
      cursor: pointer;
      &:hover {
        .hover-box {
          transform: rotate(0deg);
        }
      }
      h3 {
        @include font(20px, $colorBlack, 700);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: calc(50% - 16px);
          bottom: 0px;
          width: 32px;
          height: 4px;
          background-color: $colorOrange;
          border-radius: 10px;
        }
      }
      p {
        min-height: 16px;
      }
    }
  }
  &-img-list {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
  }
  &-img-wrap {
    width: 140px;
    height: 140px;
    transform: rotate(45deg);
    border-radius: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    img {
      object-fit: cover;
      transform: rotate(-45deg) scale(1.2);
      max-width: 100%;
    }
  }
  .hover-box {
    width: 140px;
    height: 140px;
    background-color: $colorOrange;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 40px;
    transform: rotate(45deg);
    border-radius: 40px;
    transition: all 0.5s;
  }

  &-btn-wrap {
    @include flex(center, row, center);
    flex-wrap: wrap;
    button {
      padding: 2px 12px;
      border: 2px solid $colorBlueDark;
      border-radius: 18px;
      color: $colorBlueDark;
      background-color: transparent;
    }
  }
}

@include screen(pad) {
  .speaker {
    &-list {
      li {
        width: 50%;
      }
    }
  }
}

@include screen(sm) {
  .speaker {
    &-list {
      li {
        width: 100%;
        h3 {
          margin-bottom: 4px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 4px;
            background-color: $colorOrange;
            border-radius: 10px;
          }
        }
        p {
          min-height: 0;
          margin-bottom: 4px;
        }
      }
    }
  }
}

// Modal 內容樣式
.modalHeader {
  @include flex(flex-start, row, center);
}
.speaker-text-modal {
  h3 {
    @include font(20px, $colorBlack, 700);
  }
  > p {
    @include font(14px);
    opacity: 0.6;
  }
}
.speaker-community-wrap {
  @include flex(content, row, center);
  p {
    @include font(14px);
    text-align: center;
  }
}
.speaker-community-icon {
  @include flex(center, row, center);
  a {
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-right: 16px;
  }
  a:last-child {
    margin-right: 0;
  }
}
.modalBody {
  span {
    color: $colorOrange;
  }
  h4 {
    @include font(18px, $colorBlack, 500);
  }
  p {
    @include font(16px);
  }
  h3 {
    @include font(24px, $colorBlack, 700);
  }
}
.modal-summary-header {
  @include flex(flex-start, row, center);
  h4 {
    white-space: nowrap;
  }
}
.modal-summary-info-wrap {
  @include flex(flex-start, row, center);
}
.modal-summary-info {
  @include flex(normal, row, center);
  > div {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}
.sponsor-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  display: inline-block;
}
.modalFooter {
  @include flex(normal, row, center);
  > a {
    display: block;
    height: 100%;
    background-color: $colorOrange;
    border-radius: 8px;
    font-size: 18px;
    margin-right: auto;
    width: 100%;
  }
  .community-share-outline {
    @include flex(center, row, center);
    cursor: pointer;
    position: relative;
    border: 2px solid $colorOrange;
    background-color: $colorWhite;
    border-radius: 8px;
    width: 100%;
    p {
      font-size: 18px;
    }
  }
  .community-share {
    @include flex(center, row, center);
    cursor: pointer;
    position: relative;
    border: 2px solid $colorOrange;
    background-color: $colorOrange;
    border-radius: 8px;
    width: 100%;
    p {
      font-size: 18px;
    }
  }
  .bg-share {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .community-share-list {
    width: 200px;
    position: absolute;
    top: 80%;
    right: calc(0px - 70px);
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    a {
      display: block;
      padding: 8px 12px;
      &:hover {
        background-color: $colorOrangeLight;
      }
    }
  }
}
@include screen(pad) {
  .modal-summary-header {
    @include flex(flex-start, column, flex-start);
  }
}
@include screen(sm) {
  .modalHeader {
    @include flex(center, column, center);
  }
  .speaker-text-modal {
    h3 {
      text-align: center;
    }
    > p {
      text-align: center;
    }
  }

  .speaker-community-wrap {
    @include flex(center, column, center);
    br {
      display: block;
    }
  }
  .modalBody {
    h3 {
      @include font(20px, $colorBlack, 700);
    }
  }
  .modal-summary-info-wrap {
    @include flex(flex-start, column, flex-start);
  }
}
