.hero {
  @include bgCenter;
  width: 100%;
  min-height: 100vh;
  padding-top: 20vh;
  padding-left: 10%;
  @include rwd(pad) {
    min-height: initial;
    min-height: auto;
    padding: 0;
    text-align: center;
  }
  &:after,
  &:before {
    @include bgCenter;
    content: "";
    position: absolute;
    top: 0;
  }
  &:before {
    right: 0;
    width: 1200px;
    height: 676px;
    background-image: url("./images/bg.png");
    @include rwd(lg) {
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }
    @include rwd(sm) {
      width: 130%;
      height: 0;
      padding-top: calc(56.25% * 1.3);
    }
  }
  &:after {
    top: -70%;
    left: -50%;
    width: 1150px;
    height: 1150px;
    background-image: url("./images/bg-cover.png");
    @include rwd(md) {
      top: -80%;
      left: -80%;
    }
    @include rwd(pad) {
      top: -110%;
      left: -110%;
    }
    @include rwd(sm) {
      top: -150%;
      left: -150%;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 40%;
    @include rwd(pad) {
      width: 100%;
      height: 100%;
      padding-top: 40%;
    }
  }

  &__logo {
    @include bgCenter;
    width: 504px;
    height: 104px;
    background-image: url("./images/logo.png");
    @include rwd(llg) {
      width: 100%;
      height: 0;
      padding-top: 20.63%;
    }
    @include rwd(pad) {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 87px;
      height: 31px;
      padding-top: 0;
      background-image: url("./images/logo-s.png");
    }
  }

  .event-logo {
    @include bgCenter(218px, 218px);
    margin: 100px 0 10px 0;
    background-image: url("./images/event-logo.png");
    @include rwd(pad) {
      width: 149px;
      height: 149px;
      margin-bottom: 5px;
    }
  }

  &__btn {
    margin-top: 40px;
    @include rwd(pad) {
      margin-top: 15px;
    }
  }
}
