$bg_map: (
  svg: IxDA-Taiwan OCF SITCON Vue PyConTaiwan DDD Chatbot HKOSCON Chicago COSCUP
);
@include bgImg(community);

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.12em;
  color: #202020;
  br {
    display: none;
  }
}

span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  &.link {
    cursor: pointer;
  }
}

@include screen(sm) {
  h2 {
    br {
      display: block;
    }
  }
}
.title-container {
  @include flex(normal, row);
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    line-height: 52px;
    margin-left: 30px;
  }
}
@include screen(sm) {
  .title-container {
    padding-top: 46px;
    padding-bottom: 40px;
    @include flex(normal, column);
    h2 {
      margin-left: 0px;
      margin-top: 1rem;
    }
  }
}
.line-deco-container {
  @include flex(flex-end, row, center);
  padding-bottom: 100px;
}
@include screen(pad) {
  .line-deco-container {
    display: none;
  }
}

// 內容 css
.slogan {
  .container {
    padding-top: 220px;
    height: 100vh;
  }
  .vol10-gray {
    top: 0;
    left: 0;
  }
  .vol10-mobile {
    top: 50px;
    left: 20px;
    display: none;
  }
  &-content {
    list-style: none;
    li {
      color: #202020;
    }
    li:last-child {
      color: $colorOrange;
      margin-bottom: 88px;
      font-weight: 700;
      br {
        display: none;
      }
    }
    span {
      color: inherit;
      font-size: inherit;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
  }
  .btn {
    width: 382px;
    transition: all 0.25s;
    background-color: $colorOrange;
    color: $colorWhite;
    border: none;
    &:hover {
      background-color: $colorOrangeLight;
      border-color: $colorOrange;
    }
  }
}
@include screen(pad) {
  .slogan {
    .container {
      padding-top: 178px;
    }
    &-title {
      br {
        display: block;
      }
    }
    .vol10-gray {
      display: none;
    }
    .vol10-mobile {
      display: block;
    }
    .btn-container {
      padding-bottom: 110px;
    }
  }
}
@include screen(sm) {
  .slogan {
    .container {
      padding-top: 90px;
    }
    &-content {
      li:last-child {
        br {
          display: block;
        }
      }
    }
    p {
      display: none;
    }
    .btn {
      width: 310px;
    }
  }
}
// @include screen(xs) {
//   .slogan {
//     .container {
//       padding-left: 3px;
//       padding-right: 3px;
//     }
//   }
// }

.volunteer {
  padding-bottom: 100px;
  background-color: #EFEAEB;
  &-area {
    @include flex(space-between);
  }
  &-content{
    @include flex(space-between);
    .group-box {
      @include flex(center);
      padding: 2rem;
      background-color: #EFEAEB;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      width: 300px;
      &:hover {
        outline: 2px solid $colorWhite;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .group-main {
        @include flex(normal, column, center);
        cursor: pointer;
        &:before {
          content: '';
          background-color: #FB8628;
          width: 151px;
          height: 17px;
          border-radius: 10px;
          position: absolute;
          bottom: -4px;
        }
        .image-admim {
          background-image: url('../../assets/images/community/volunteer-admim.svg');
          width: 206px;
          height: 206px;
        }
        .image-product {
          background-image: url('../../assets/images/community/volunteer-product.svg');
          width: 238px;
          height: 206px;
        }
        .image-business {
          background-image: url('../../assets/images/community/volunteer-business.svg');
          width: 184px;
          height: 206px;
        }
        .group-title {
          font-family: Roboto;
          font-size: 3rem;
          font-weight: bold;
          margin-top: 1.5rem;
          margin-bottom: 0rem;
          letter-spacing: 0.08em;
        }
        .group-name {
          font-family: Roboto;
          font-size: 1.5rem;
          margin-top: 0.5rem;
        }
      }
      .group-content {
        display: none;
        padding: 1rem;
        flex-grow: 1;
      }
      &.active {
        opacity: 1;
        width: 70%;
        outline: 2px solid $colorWhite;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        .group-main {
          &:before {
            width: 89px;
            top: 416px;
          }
        }
        .group-content {
          display: block;
        }
      }
      &.no-active {
        opacity: 0.4;
        width: 120px;
        .group-main {
          &:before {
            content: none;
          }
        }
      }
      &.no-active, &.active {
        .group-main {
          padding-top: 350px;
          min-width: 90px;
        }
        .group-title {
          position: absolute;
          writing-mode: vertical-lr;
          top: 0px;
        }
        .group-name {
          font-size: 1.25rem;
        }
        .image-admim {
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
        }
        .image-product {
          background-size: 55px 48px;
          width: 55px;
          height: 48px;
        }
        .image-business {
          background-size: 43px 48px;
          width: 43px;
          height: 48px;
        }
      }
      &.hide {
        opacity: 0;
      }
    }
    .team-box {
      border-bottom: 1px solid $colorOrange;
      padding-bottom: 1.5rem;
      margin-bottom: 2.5rem;
      .team-title {
        @include flex(normal, row, center);
        span {
          font-family: Roboto;
          font-size: 1.25rem;
        }
        .team-expand {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 12px solid #FB8628;
          left: 5px;
          cursor: pointer;
          &.team-expand-hide {
            transform: rotate(90deg);
          }
        }
      }
      .team-content {
        margin-top: 1rem;
        &.team-content-hide {
          display: none;
        }
        span {
          font-family: Roboto;
          font-size: 1.25rem;
          color: rgba(0, 0, 0, 0.6);
          padding-right: 2.25rem;
          padding-bottom: 0.5rem;
          display: inline-block;
        }
      }
    }
  }
  .line-deco-container {
    display: none;
  }
}

@include screen(md) {
  .volunteer {
    &-content{
      @include flex(normal, column, center);
    }
    .group-box {
      @include flex(normal, column, normal);
      margin-bottom: 4rem;
      padding: 1rem;
      width: fit-content;
      .group-main {
        @include flex(normal, column, flex-start);
        flex-wrap: wrap;
        width: 500px;
        height: 150px;
        &:before {
          width: 89px;
          right: 180px;
          bottom: 12px;
        }
        .image-admim {
          background-size: 150px 150px;
          background-position: 50%;
          background-repeat: no-repeat;
          width: 200px;
          height: 150px;
        }
        .image-product {
          background-size: 173.3px 150px;
          background-position: 50%;
          background-repeat: no-repeat;
          width: 200px;
          height: 150px;
        }
        .image-business {
          background-size: 133.98px 150px;
          background-position: 50%;
          background-repeat: no-repeat;
          width: 200px;
          height: 150px;
        }
        .group-title {
          width: 250px;
        }
        .group-name {
          width: 250px;
        }
      }
      &.no-active, &.active {
        width: 100%;
        min-width: unset;
        margin-bottom: 0px;
        padding-top: 0px;
        outline: unset;
        filter: unset;
        .group-main {
          @include flex(center, row, center);
          width: fit-content;
          align-self: center;
          padding-top: 0px;
          height: 100px;
          &:before {
            content: '';
            top: 50px;
            right: 0px;
          }
        }
        .group-title {
          writing-mode: initial;
          position: relative;
          margin-top: 0px;
          width: initial;
          padding-left: 1rem;
          padding-right: 1rem;
        }
        .group-name {
          width: initial;
        }
        .image-admim {
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
        }
        .image-product {
          background-size: 55px 48px;
          width: 55px;
          height: 48px;
        }
        .image-business {
          background-size: 43px 48px;
          width: 43px;
          height: 48px;
        }
      }
    }
    .team-box {
      @include flex(normal, row, flex-start);
      .team-expand {
        display: none;
      }
      .team-title {
        min-width: 120px;
      }
      .team-content {
        margin-top: 0px;
      }
    }
    .line-deco-container {
      @include flex(center);
      padding-bottom: 0px;
    }
  }
}
@include screen(sm) {
  .volunteer {
    .group-box {
      margin-bottom: 2rem;
      .group-main {
        height: 80px;
        width: 300px;
        &:before {
          right: 93px;
          bottom: 4px;
        }
        .group-title {
          font-size: 2rem;
          margin-top: 0.5rem;
          line-height: 2rem;
          padding-left: 0px;
          padding-right: 0px;
        }
        .group-name {
          font-size: 1.25rem;
        }
        .image-admim {
          background-size: 78px 78px;
          width: 120px;
          height: 78px;
        }
        .image-product {
          background-size: 80px 69px;
          width: 120px;
          height: 69px;
        }
        .image-business {
          background-size: 72px 80px;
          width: 120px;
          height: 80px;
        }
      }
      &.no-active, &.active {
        .group-main {
          @include flex(normal, column, flex-start);
          width: 300px;
          &:before {
            top: 63px;
            right: 93px;
          }
        }
        .group-title {
          width: 250px;
        }
      }
    }
    .team-box {
      flex-wrap: wrap;
      .team-title {
        margin-bottom: 10px;
      }
    }
  }
}

.community {
  &-list {
    @include flex(space-around, row);
    flex-wrap: wrap;
    .vol10-gray {
      top: 150px;
      left: 0;
    }
  }
  .card {
    @include flex(center, column, center);
    border: 2px solid transparent;
    transition: all 0.2s;
    min-width: 205px;
    &-pic {
      width: 200px;
      height: 200px;
      background-size: contain;
    }
    &:hover {
      border: 2px solid #fb8628;
      border-radius: 10px;
    }
  }
}
@include screen(pad) {
  .community {
    &-title-container {
      padding-top: 100px;
      margin-bottom: 100px;
      justify-content: flex-start;
    }
    &-list {
      margin-bottom: 100px;
      .vol10-gray {
        display: none;
      }
    }
  }
}
@include screen(sm) {
  .community {
    &-list {
      margin-bottom: 90px;
    }
    .card {
      @include flex(center, row, center);
      &-pic {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.rule {
  background-color: #efeaeb;
  &-content {
    display: flex;
    padding-bottom: 60px;
    p {
      font-size: 18px;
      span {
        color: $colorOrange;
      }
    }
  }
}
@include screen(pad) {
  .rule {
    &-content {
      padding-bottom: 100px;
      flex-direction: column;
    }
  }
}
@include screen(sm) {
  .rule {
    &-content {
      padding-bottom: 80px;
    }
  }
}

.modal {
  &-title-container {
    @include flex(normal, row, center);
    h4 {
      font-weight: 700;
    }
  }
  &-pic {
    width: 120px;
    height: 120px;
    background-size: contain;
  }
}

@include screen(pad) {
  .modal {
    &-title-container {
      margin-bottom: 80px;
    }
    &-pic {
      width: 200px;
      height: 200px;
    }
  }
}
@include screen(sm) {
  .modal {
    &-title-container {
      margin-bottom: 35px;
    }
    &-pic {
      width: 80px;
      height: 80px;
    }
  }
}
