
@mixin card-bg-img-circle {
  content: "";
  background-image: url('./images/bg-circle.png');
  @apply absolute bg-contain opacity-50 bg-no-repeat;
}

.card-ticket {
  &.normal-card-bg-circle {
    &:nth-child(odd)::before {
      content: "";
      background: url('./images/ticket-deco-regular.png');
      height: 50%;
      @screen md {
        height: 75%;
      }
      @apply bg-contain bg-no-repeat bg-bottom absolute bottom-0 left-0 w-2/5;
    }
    &::after {
      @include card-bg-img-circle
      @apply w-full top-0;
      height: 75%;
      right: -65%;
      @screen md {
        right: -55%;
      }
    }
  }
  &.vip-card-bg-circle::after {
    @include card-bg-img-circle
    @apply w-4/5;
    height: 100%;
    right: -30%;
    @screen md {
      @apply w-full bottom-0;
      height: 75%;
      right: -50%;
    }
  }
  &.card-img-wave::after {
    content: "";
    height: 100%;
    background-image: url('./images/bg-wave.png');
    @apply w-full absolute bg-contain bg-no-repeat bg-right-bottom bottom-0 right-0 z-0;
  }
  .btn {
    @apply px-12 py-3 inline-block text-center align-middle border rounded z-10 relative text-base;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-white {
    @apply border-white bg-white text-purple-700;
  }
  .btn-dark {
    @apply bg-blue-950 border-blue-950;
  }
  &:hover:not(.disabled) {
    transform: translateY(-0.75rem);
    transition: all 0.3s;
  }
  &.disabled {
    @apply pointer-events-none;
    .btn-white {
      @apply bg-white text-purple-700 cursor-default;
    }
    .btn-dark {
      @apply bg-blue-900 cursor-default text-white border-blue-900;
    }
  }
  .checkmark{
    &::before{
      content: '';
      display: inline-block;
      width: 8px;
      height: 14px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border: solid;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
