{% extends 'main.twig' %}

{% block content %}

<header class="header">
	<div class="circle-logo"></div>
	<img src="images/cfp-01.png" width="726" alt="" class="pull-right prm img-responsive common-idx">
</header>

<div class="bucket-panel bg-dark">
	<div class="bucket-row mb0">
		<i class="bucket-icon ton-li-flag-2"></i>
		<h3 class="bucket-title">Call for Paper/Recommendation</h3>
		<div>Calling for Submissions</div>
	</div>
</div>
<div class="bucket-panel">
	<div class="row">
		<div class="col-sm-3">
			<nav class="list-group">
				<div class="list-group-item">
				  <h4>Get involved</h4>
				</div>
				<a class="list-group-item" href="#cfp1">Call for Paper/Recommendation</a>
				<a class="list-group-item" href="#cfp2">Guidelines</a>
				<a class="list-group-item" href="#cfp3">How to submit</a>
				<a class="list-group-item" href="#cfp4">Topic</a>
				<a class="list-group-item" href="#cfp6">Copyright of recorded video</a>
				<a class="list-group-item" href="#cfp7">Submit/Recommend Now!</a>
			</nav>
		</div><!-- col-sm-3 -->
		<div class="col-sm-9">
			<div><h3 class="fc-dark" id="cfp1">Call for Paper/Recommendation</h3></div>
			<p>This year, we are not only inviting you to share you thoughts and experience, but you can also tell us what kind (or who's) thoughts and experience you would like to hear!
			   We hope in this way, every one would benefit more from each other, for the better sharing of knowledge!</p>
			<br>
			<h3 class="fc-dark" id="cfp2">Guidelines</h3>
			<p>Time</p>
		    <ul>
				<li>You can submit your topic/recommendation until 8/31.</li>
			    <li>We will notify you the final result after 9/9</li>
		    </ul>
			<br>
			<h3 class="fc-dark" id="cfp3">How to submit</h3>
			<p>Please fill the following form</p>
			<h4>Session submission</h4>
			<ul>
			    <li>Title</li>
			    <li>Your name (or your nickname on the internet)</li>
			    <li>The organization you currently work for, and your position (optional)</li>
			    <li>Brief introduction</li>
			    <li>Sessions are 45 minutes in length, Q&amp;A included</li>
		    </ul>
			<br>
			<h4>Recommendation</h4>
			<ul>
			    <li>Who you want to recommend (either real name or nickname will do)</li>
			    <li>How can we get in touch with him/her</li>
				<li>Your name (or your nickname on the internet)</li>
			    <li>Reason you recommend this person</li>
			</ul>
			<br>
			<h4>Reward</h4>
				<ul>
			    <li>If your session submission is selected, a traffic subsidy of NTD 4000 will be provided.</li>
			    <li>If the person you recommend is accepted, and we successfully invite he/she to MOPCON as a speaker, we will give you a VIP ticket as reward.</li>
			</ul>
			<h3 class="fc-dark" id="cfp4">Topic</h3>
			<p>We care anything mobile, following is a (partial) list of possible topic:</p>
			<ul>
			    <li>Mobile software development</li>
			    <li>Business operation, community management</li>
			    <li>Cloud service and terminal integration</li>
			    <li>Wearable device</li>
			    <li>Sport and health care</li>
			    <li>Entertainment</li>
			    <li>Design thinking and it's implementation</li>
			</ul>
			<br>
			<h3 class="fc-dark" id="cfp6">Copyright of recorded video</h3>
			<p>We will record the entire session, and upload it to somewhere public. Therefor, you need grant us at least one of this right:</p>
			<ul>
			    <li>Grant us the right of uploading video of your talk with out any restriction, or</li>
				<li>Grant us above right under terms of CC BY 3.0, or</li>
				<li>Grant us above right under terms of CC BY-SA 3.0, or</li>
				<li>Grant us above right under terms of CC BY-NC 3.0, or</li>
			    <li>Video recording is prohibited, but our staff can make a text record of your talk</li>
		    </ul>
		    <br>
			<div id="cfp7">
				<a href="http://mopcon.kktix.cc/events/mopcon2015-cfr"><button class="btn btn-lg btn-info btn-outer-border ">Recommendation</button></a>
				&nbsp;&nbsp;
				<a href="http://mopcon.kktix.cc/events/mopcon-2015-cfp"><button class="btn btn-lg btn-info btn-outer-border ">Session Submission</button></a>
			</div>
		</div><!-- col-sm-9 -->
	</div>
</div>

{% endblock %}
