{% extends 'main.twig' %}

{% block content %}
    <header class="header text-center">
	<div class="circle-logo"></div>
	<div class="header-info-box text-center super-idx">
		<div class="en-location">Kaohsiung ICCK</div>
		<div class="tw-location">高雄國際會議中心</div>
		<hr>
		<div class="num-date">Oct. 31 - Nov. 01</div>
		<!-- <div class="num-year">2015</div> -->
	</div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block super-idx">
</header>

<div class="container container-fluid">
	<h3 class="text-center">Be a sponser</h3>
	<div style="text-align:center">Please contact sponsor@mopcon.org if you are interested in sponsoring MOPCON.<br><br>
	</div>
</div>

<div class="relative bg-p-center bucket-panel res-background bg-dot bg-gray" style="background-image: url(https://c2.staticflickr.com/6/5608/15639412951_74b6990e29_k.jpg);">
	<div class="row relative" style="z-index: 2">
		<div class="col-sm-6">
			<h1 class="text-white">
				<img src="images/logo.png" width="340" alt="" class="pdm">
				<br>
				<br>
				THE Conference of soutern Taiwan
			</h1>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<h3 class="card-head">Philosophy</h3>
				<div class="card-body">
					<p>In these days, the world overwhelmed by softwares, data continues to flood in as everyone try to grasp them. Mobile application is the last-mile technologies that can be use to collect the users’ information. Nowadays smartphones and tablets are so popular, wearables continue to be the hottest fashion, IoT devices are anywhere around our life, and smart textiles try to deal with the bottleneck in manufacturing…all of these portrait the future that fills with data stream.
					<p>At MOPCON 2015, we choose the keyword “CONNECT” as our main topic this year. In this era that all things can be connected to the network, and data are most-crucial, we want to re-construct the social links that connect human relationships.
				</div>
				<h3 class="card-head">About Sessions</h3>
				<div class="card-body">
					<p>Since 2012, we at MOPCON bring many mobile-related topic under the spotlight, including application development, cloud services, digital contents, creative business model, Big data, wearable devices, sports and health care, home automation system, TV high-definition contents, design and development simplicity.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bucket-panel bg-dark">
	<div class="bucket-row">
		<i class="bucket-icon ton-li-people-7"></i>
		<h3 class="bucket-title"><a href="/2014/">MOPCON 2014</a></h3>
		<div>The Best Conference </div>
	</div>
	<div class="flex-grid img vertical miner-mg">
		<div class="horizontal">
			<div class="three bg-gray bg-dot relative" class="filter-img" style="background-image: url(https://c2.staticflickr.com/4/3948/15660938852_f56a4c2f78_h.jpg)"></div>
			<div class="one vertical">
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c2.staticflickr.com/4/3946/15652540895_16f1ea888c_b.jpg);background-position:center 25%"></div>
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c4.staticflickr.com/8/7466/15473457969_dbb2bb98f0_h.jpg)"></div>
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c2.staticflickr.com/4/3944/15618339816_51981d2853_h.jpg)"></div>
			</div>
		</div>
	</div>
</div>

<div class="bucket-panel bg-light-gray">
	<div class="text-center">
		<h3 class="bucket-title">Registration</h3>
		<hr class="thin-fragment">
		<a href="#" class="btn btn-lg btn-outer-border wide disabled">Not yet open</a>
	</div>
</div>
{% endblock %}
