{% extends 'main.twig' %}

{% block content %}
    <header class="header text-center">
	<div class="circle-logo"></div>
	<div class="header-info-box text-center super-idx">
		<div class="en-location">Kaohsiung ICCK</div>
		<div class="tw-location">高雄國際會議中心</div>
		<hr>
		<div class="num-date">Oct. 31 - Nov. 01</div>
		<!-- <div class="num-year">2015</div> -->
	</div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block super-idx">
</header>

<div class="container container-fluid">
	<h3 class="text-center">熱情贊助</h3>
	<div style="text-align:center">如果您欲贊助 MOPCON，請與 sponsor@mopcon.org 聯絡。<br><br>
	</div>
</div>

<div class="relative bg-p-center bucket-panel res-background bg-dot bg-gray" style="background-image: url(https://c2.staticflickr.com/6/5608/15639412951_74b6990e29_k.jpg);">
	<div class="row relative" style="z-index: 2">
		<div class="col-sm-6">
			<h1 class="text-white">
				<img src="images/logo.png" width="340" alt="" class="pdm">
				<br>
				<br>	
				南台灣最強大<br class="hidden-md hidden-lg">
				技術研討會
			</h1>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<h3 class="card-head">精神</h3>
				<div class="card-body">
					<p>在這個軟體正吞食世界，掌握資料為王的時代，行動應用科技是貼近使用者資訊收集的最後一里，不論是全面入侵的智慧手機、平板電腦，乃至於正夯的穿戴科技、舖天蓋地滲入的 IoT 裝置，積極克服加工瓶頸的智慧型紡織品，這一切勾勒被資料流貫穿的未來願景。
					<p>除迎接萬物聯網、資料為王的新世紀，MOPCON 2015 將年度精神意涵定為 “Connect”，回歸人類關係互聯的社群連結，建構屬於濁水溪以南的科技饗宴。
				</div>
				<h3 class="card-head">議程</h3>
				<div class="card-body">
					<p>MOPCON自2012開辦以來，議題橫跨 App開發、雲端服務、數位內容、創新營運、海量資料、穿戴式裝置、運動健康照護、家庭自動化、TV / 高畫質內容、簡化設計和開發流程等眾多行動相關議題，本年度也將中文名稱「行動科技應用開發者年會」更改為「行動科技年會」，廣納各種與行動相關之創新議題！
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bucket-panel bg-dark">
	<div class="bucket-row">
		<i class="bucket-icon ton-li-people-7"></i>
		<h3 class="bucket-title"><a href="/2014/">MOPCON 2014</a></h3>
		<div>The Best Conference </div>
	</div>
	<div class="flex-grid img vertical miner-mg">
		<div class="horizontal">
			<div class="three bg-gray bg-dot relative" class="filter-img" style="background-image: url(https://c2.staticflickr.com/4/3948/15660938852_f56a4c2f78_h.jpg)"></div>
			<div class="one vertical">
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c2.staticflickr.com/4/3946/15652540895_16f1ea888c_b.jpg);background-position:center 25%"></div>
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c4.staticflickr.com/8/7466/15473457969_dbb2bb98f0_h.jpg)"></div>
				<div class="one bg-gray bg-dot relative" style="background-image: url(https://c2.staticflickr.com/4/3944/15618339816_51981d2853_h.jpg)"></div>
			</div>
		</div>
	</div>
</div>

<div class="bucket-panel bg-light-gray">
	<div class="text-center">
		<h3 class="bucket-title">線上報名</h3>
		<hr class="thin-fragment">
		<a href="#" class="btn btn-lg btn-outer-border wide disabled">尚未開放</a>
	</div>
</div>
{% endblock %}
