{% extends 'main.twig' %}

{% block content %}
<header class="header">
	<div class="circle-logo"></div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block super-idx">
</header>

<div class="bucket-panel bg-deep-blue">
	<div class="bucket-row text-white">
		<i class="bucket-icon ton-li-people-5"></i>
		<h3 class="bucket-title">第一日</h3>
		<div>2015 / 10 / 31 </div>
	</div>
	<div class="container-lg">
		<h4 class="text-white text-center mbxl">08:30 ~ 09:00</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							報到
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">09:00 ~ 09:15</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							開幕式
						</h4>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">09:15 ~ 10:00</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							開放資料平台
						</h4>
						<a href="#">翟本喬 (Ben Jai)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">10:00 ~ 10:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">10:15 ~ 11:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							使用者要的不是功能！
						</h4>
						<a href="#">Akane Lee</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							Gradle 不只自動化而且更敏捷
						</h4>
						<a href="#">邱炫儒 (Sam)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>

		</div>

		<h4 class="text-white text-center mbxl">11:00 ~ 11:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">11:15 ~ 12:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							Intro to Growth Hacking for developers 
						</h4>
						<a href="#">鄭伊廷 (xdite)</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							如何用 reactjs + web 標準降低大眾進入硬體門檻 
						</h4>
						<a href="#">陳柏儒 (Blue)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							軟體、測試、程式設計家 
						</h4>
						<a href="#">周家弘 (SJ)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳 (R3)
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">12:00 ~ 13:00</h4>
		<div class="column-layout column-1">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							午餐時間
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">13:00 ~ 13:45</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							行動測試與發布的秘訣 [Tips of Mobile Continuous Delivery]
						</h4>
						<a href="#">宋志峰 (Anistar)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">13:45 ~ 14:00 休息時間</h4>

		<h4 class="text-white text-center mbxl">14:00 ~ 14:45</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							雲端影像辨識？算了吧！ 
						</h4>
						<a href="#">張逸中</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">14:45 ~ 15:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">15:15 ~ 16:00</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							Job Fair 
						</h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">16:00 ~ 16:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">16:15 ~ 17:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							Hacking with the ARM Mobile devices on Linux 
						</h4>
						<a href="#">下野健二 (Kenji Shimono)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<!-- <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> -->
					<div class="card-body">
						<h4>
							想像力讓技術極致
						</h4>
						<a href="#">林毅祥 (TK)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳 (R3)
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">17:00 ~  END</h4>

		<h4 class="text-white text-center mbxl">18:00 ~ </h4>
		<div class="column-layout column-1">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							Develop Night
						</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<div class="bucket-panel bg-green">
	<div class="bucket-row text-white">
		<i class="bucket-icon ton-li-people-5"></i>
		<h3 class="bucket-title">第二日</h3>
		<div>2015 / 11 / 01 </div>
	</div>
	<div class="container-lg">
		<h4 class="text-white text-center mbxl">08:30 ~ 09:00</h4>
		<div class="column-layout column-1 text-center">
      <div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							報到
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">09:00 ~ 09:15</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Announcement
						</h4>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">09:15 ~ 10:00</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							晚點告訴你 :P
						</h4>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">10:00 ~ 10:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">10:15 ~ 11:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Apple Watch 開發 - 與 Apple 間的愛恨情仇 
						</h4>
						<a href="#">黃元亨 (Howard Huang)</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Agile x API x Documentation @ NGO 
						</h4>
						<a href="#">曾君宇 (魯蛇喬)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳 (R3)
					</div>
				</div>
			</div>
		</div>
		
		<h4 class="text-white text-center mbxl">11:00 ~ 11:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">11:15 ~ 12:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Deliver Beta App with ChatOps 
						</h4>
						<a href="#">吉田太一郎 (Taichiro Yoshida)</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							跨界的優雅：多平台的 QML 應用程式架構設計  
						</h4>
						<a href="#">姜柏任 (RSChiang)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">12:00 ~ 13:00</h4>
		<div class="column-layout column-1">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							午餐時間
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">13:00  ~ 13:45</h4>
		<div class="column-layout column-1 text-center">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							強震即時警報 EEW  
						</h4>
						<a href="#">陳坤助 (KNY)</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳連播
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">13:45 ~ 14:00 休息時間</h4>

		<h4 class="text-white text-center mbxl">14:00   ~ 14:45</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							IoT 就是要結合 Mobile 啊，不然要幹嘛?  
						</h4>
						<a href="#">許益祥 (Marty)</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							功能完整 && 操作便利 = null? 
						</h4>
						<a href="#">Lancelot Wu</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							手機自動化測試和持續整合  
						</h4>
						<a href="#">Carl Su</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳 (R3)
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">14:45 ~ 15:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">15:15   ~ 16:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							React Native 帶來的跨平台 mobile app 開發典範轉移  
						</h4>
						<a href="#">Jeremy Lu</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							打造行動裝置網站的經驗談 
						</h4>
						<a href="#">吳姿穎 (Muki)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>晚點告訴你 :P </h4>
						<a href="#">&nbsp;</a>
					</div>
					<div class="card-footer text-center text-info">
						&nbsp;
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">16:00   ~ 16:15 休息時間</h4>

		<h4 class="text-white text-center mbxl">16:15   ~ 17:00</h4>
		<div class="column-layout column-3">
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Hack &amp; Go 2   
						</h4>
						<a href="#">Ben Lue</a>
					</div>
					<div class="card-footer text-center text-info">
						一廳 (R1)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							全天下男人都會犯的錯：密碼學  
						</h4>
						<a href="#">藍永倫 (yllan)</a>
					</div>
					<div class="card-footer text-center text-info">
						二廳 (R2)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-body">
						<h4>
							Windows 10 UWP + Azure 創造開發APP的新思維   
						</h4>
						<a href="#">Ian</a>
					</div>
					<div class="card-footer text-center text-info">
						三廳 (R3)
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">17:00 ~ 17:30</h4>
		<div class="column-layout column-1">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							<i class="ton-li-lightning-2"></i>
							Lighting Talk 
							<i class="ton-li-lightning-2"></i>
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">17:30 ~ 18:00</h4>
		<div class="column-layout column-1">
			<div class="column">
				<div class="card">
					<div class="card-body text-center">
						<h4>
							閉幕式
						</h4>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-white text-center mbxl">18:00 ~ END</h4>
	</div>
</div>
{% endblock %}
