.bg{
  background-color: #0074A2;
  background-image: url('~/assets/images/banner.svg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
  @include screen(md){
    padding-top: 32px;
    padding-bottom: 258px;
    background-size: contain;
  }
  @include screen(pad){
    background-image: url('~/assets/images/banner_short_ipad.svg');
  }
  @include screen(sm){
    padding-top: 16px;
    padding-bottom: px;
    background-image: url('~/assets/images/banner_short_mobile.svg');
  }
}