.pinkCircle{
      @include bgCenter(651px,441px);
      background-image:url('~/assets/images/pinkStone_web.svg');
      background-size:contain;
      position: relative;
      @include flex(center,row,center);
      @include screen(sm){
        width: 327px;
        height: 210px;
      }
      h1{
        @include font(60px,$colorWhite,700);
        &:after{
          content:'';
          display: inline-block;
          position: absolute;
          top:100%;
          left:0;
          @include bgCenter(100%,57px);
          background-image:url('~/assets/images/mopcon_logo_web.svg');
          background-size:contain
        }
        &:before{
          content:'';
          display: inline-block;
          position: absolute;
          top:-23px;
          left:-76px;
          @include bgCenter(70px,70px);
          background-image:url('~/assets/images/blueBall_web.svg');
          background-size:contain
        }
        @include screen(sm){
          font-size: 48px;
          &:after{
            height: 38px;
          }
          &:before{
            width: 34px;
            height: 34px;
            top:-31px;
            left:-35px;
          }
        }
      }
    }