.btn {
  background-color: transparent;
  border-radius: 2rem;
  border: $colorPrimaryLight solid 2px;
  color: $colorPrimary;
  line-height: 3rem;
  box-sizing: border-box;
  padding: 5px 3rem;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    border-color: $colorPrimary;
    color: $colorPrimaryLight;
  }
  @include screen(sm) {
    width: 100%;
  }
}

.btn-pink {
  background-color: $colorPink;
  border-color: $colorPink;
  color: $colorWhite;
  &:hover {
    background-color: $colorPinkLight;
    border-color: $colorPinkLight;
    color: $colorWhite;
  }
}

.btn-primary {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
  color: $colorWhite;
  &:hover {
    background-color: $colorPrimaryLight;
    border-color: $colorPrimaryLight;
    color: $colorWhite;
  }
}

.btn-primary-light {
  background-color: $colorPrimaryLight;
  border-color: $colorPrimaryLight;
  color: $colorWhite;
  &:hover {
    background-color: $colorPink;
    border-color: $colorPink;
    color: $colorWhite;
  }
}
