.eboard-bg {
  background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes session-main {
  0% {
    background-image: url("~@/assets/images/edashboard/bg-Coming_up.png");
  }
  40% {
    background-image: url("~@/assets/images/edashboard/bg-Coming_up.png");
  }
  70% {
    background-image: url("~@/assets/images/edashboard/bg-pages.png");
  }
  100% {
    background-image: url("~@/assets/images/edashboard/bg-pages.png");
  }
}

.eboard-session-bg {
  background-image: url("~@/assets/images/edashboard/bg-pages.png");
  animation-name: session-main;
  animation-duration: 3s;
}

@keyframes session-main-multi {
  0% {
    background-image: url("~@/assets/images/edashboard/bg-Coming_up.png");
  }
  40% {
    background-image: url("~@/assets/images/edashboard/bg-Coming_up.png");
  }
  70% {
    background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  }
  100% {
    background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  }
}

.eboard-session-multi-bg {
  background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  animation-name: session-main-multi;
  animation-duration: 3s;
}

@keyframes session-main-start {
  0% {
    background-image: url("~@/assets/images/edashboard/bg-Session_Starting.png");
  }
  40% {
    background-image: url("~@/assets/images/edashboard/bg-Session_Starting.png");
  }
  70% {
    background-image: url("~@/assets/images/edashboard/bg-pages-With_announcement.png");
  }
  100% {
    background-image: url("~@/assets/images/edashboard/bg-pages-With_announcement.png");
  }
}

.eboard-session-start-bg {
  background-image: url("~@/assets/images/edashboard/bg-pages-With_announcement.png");
  animation-name: session-main-start;
  animation-duration: 3s;
}

@keyframes session-main-start-multi {
  0% {
    background-image: url("~@/assets/images/edashboard/bg-Session_Starting.png");
  }
  40% {
    background-image: url("~@/assets/images/edashboard/bg-Session_Starting.png");
  }
  70% {
    background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  }
  100% {
    background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  }
}

.eboard-session-start-multi-bg {
  background-image: url("~@/assets/images/edashboard/bg-pages--2-sessions.png");
  animation-name: session-main-start-multi;
  animation-duration: 3s;
}

.text-white {
  color: $colorWhite;
}

.text-pink {
  color: $colorPink;
}
