.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
}
.container p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
.container span {
  color: #fff;
  font-size: 1rem;
}
.sponsor {
  width: 180px;
  height: 100px;
  background-color: #fff;
  margin-bottom: 0.625rem;
  text-align: center;
}
.sponsor-swiper {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 568px) {
  .container {
    padding-top: 3.75rem;
    max-width: 375px;
    margin: 0 auto;
  }
  .container p {
    text-align: center;
    padding-bottom: 2.25rem;
  }
}
