.section-fb-news {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto 133px auto;
  overflow: hidden;
  @include rwd(pad) {
    margin: 137px auto 99px auto;
    padding: 0 10px;
  }

  .title {
    margin-bottom: 40px;
    @include rwd(pad) {
      text-align: center;
    }
  }

  .posts::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: $colorBg;
  }

  .posts::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $colorPrimary;
  }

  .posts {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 40px);
    height: 80vh;
    margin-left: -20px;
    overflow-y: auto;
    @include rwd(pad) {
      width: 100%;
      height: 75vh;
      margin-left: 0;
    }
  }

  .post {
    width: calc(50% - 20px);
    margin: 20px 10px;
    border: solid 1px $colorPrimary;
    background: linear-gradient(to bottom, $colorBg, $colorBg2);
    @include rwd(pad) {
      width: 100%;
      margin: 20px 0;
    }
    &:hover {
      background: linear-gradient(to bottom, #182434, #162336);
    }

    &__head {
      display: flex;
      align-items: center;
      padding: 18px 35px 16px 35px;

      &__logo {
        margin-right: 16px;
      }

      &__title {
        color: $colorGrayLight;
        letter-spacing: 0.8px;
      }
    }

    &__review {
      width: 100%;
    }

    &__text {
      padding: 25px 35px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    padding-right: 10px;
    color: $colorWhite;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.8px;

    &__icon {
      margin-top: 3px;
      margin-left: 8px;
    }
  }
}
