.section-sectionBuy {
  @include flexCenter;
  flex-flow: column nowrap;
  margin-top: 176px;
  padding: 120px 25px 120px 25px;
  @include rwd(pad) {
    margin-top: 135px;
    padding: 0px 25px 62px 25px;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 32%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      var(--dark),
      rgba(16, 23, 33, 0)
    );
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &__bg {
    @include bgCenter;
    @include abCenter;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg.png');
    @include rwd(pad) {
      top: 100%;
      height: 0;
      padding-top: 35.25%;
      transform: translate(-50%, -100%);
      background-image: url('./images/bg-s.png');
    }
  }

  .title {
    margin-bottom: 20px;
    @include rwd(pad) {
      font-size: 32px;
      letter-spacing: 1.6px;
    }
  }

  p {
    margin-bottom: 88px;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 1.2px;
    @include rwd(pad) {
      margin-bottom: 33px;
      font-size: 16px;
      line-height: 1.88;
      text-align: center;
    }
  }

  &__btn ::v-deep .btn {
    min-width: 171px;

    @include rwd(pad) {
      min-width: 110px;
    }
  }
}
