<?php
return [
    'paths' => [
        'seeds' => '%%PHINX_CONFIG_DIR%%/db/seeds',
        'migrations' => '%%PHINX_CONFIG_DIR%%/db/migrations',
    ],
    'version_order' => 'creation',
    'environments' => [
        'default_migration_table' => 'phinxlog',
        'default_database' => 'mopcon2018',
        'mopcon2018' => [
            'host' => 'localhost',
            'name' => 'your db name',
            'pass' => 'your password',
            'adapter' => 'mysql',
            'charset' => 'utf8',
            'port' => 3306,
            'user' => 'your account',
        ]
    ],
];
