.sponsor {
  text-align: center;
  
  &__banner {
    @include bgCenter;
    width: 100%;
    height: 0;
    padding-top: 23%;
    background-image: url('./images/banner.png');
    @include rwd(md) {
      width: 100%;
      height: 200px;
      padding-top: 0;
      background-size: auto 100%;
    }
  }

  .break {
    display: none;
    @include rwd(pad) {
      display: block;
    }
  }

  .coin {
    width: 179px;
    margin-top: 6px;
    margin-bottom: 55px;
    @include rwd(pad) {
      width: 78.8px;
      margin-bottom: 20px;
    }
  }

  .title {
    font-size: 32px;
    @include rwd(pad) {
      text-align: left;
    }
  }

  .intro {
    max-width: 606px;
    text-align: left;
    margin: 48px auto;
  }

  .sponsor_carrousel {
    margin-top: 94px;
    margin-bottom: 194px;
    @include rwd(pad) {
      margin-top: 74px;
      margin-bottom: 107px;
    }
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    @include rwd(pad) {
      width: 230px;
      height: 230px;
    }
  }
  .swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next {
    opacity: 0.4;
  }
  .slider-navigation {
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    @include rwd(pad) {
      display: none;
    }
  }

}

@mixin btn($color, $colorBg) {
  display: inline-block;
  position: relative;
  padding: 12px 24px;
  font-size: 19px;
  border: 1px solid $color;
  border-radius: 10px;
  color: white;
  margin-bottom: 32px;
  z-index: 2;
  &::before, &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  &::before {
    top: 0px;
    left: 0px;
    background-color: $colorBg;
    z-index: -1;
  }
  &::after {
    top: 10px;
    left: 10px;
    background-color: $color;
    opacity: 0.19;
    z-index: -2;
  }
  &:hover {
    transition: all 0.15s;
    transform: translate(3px, 3px);
    &::after {
      top: 0px;
      left: 0px;
    }
  }
  @include rwd(pad) {
    padding: 12px 17px;
  }
}  

.btn-primary {
  @include btn ($colorPrimary, $colorBg)
}