/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 2, ../sass/_base.sass */
html {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: #56cab6;
  height: 100%;
}

/* line 6, ../sass/_base.sass */
a {
  text-decoration: none;
}

/* line 8, ../sass/_base.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 3, ../sass/_layout.sass */
html {
  background: #0f222b;
}

/* line 5, ../sass/_layout.sass */
.container {
  box-shadow: 0 0 3px #323232;
  overflow: hidden;
}

/* line 12, ../sass/_layout.sass */
.container {
  *zoom: 1;
  max-width: 24em;
  _width: 24em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  /* line 12, ../sass/_layout.sass */
  .container {
    max-width: 44em;
  }
}
@media (min-width: 960px) {
  /* line 12, ../sass/_layout.sass */
  .container {
    max-width: 59em;
  }
}

/* line 22, ../sass/_layout.sass */
.content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 25, ../sass/_layout.sass */
.open .content {
  margin-right: -62.5%;
}
@media (min-width: 768px) {
  /* line 28, ../sass/_layout.sass */
  .open .content {
    margin-right: -34.09091%;
  }
}

/* line 36, ../sass/_header.sass */
.logo {
  color: white;
  display: block;
  text-align: right;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 1.125em;
  line-height: 1.33333em;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
/* line 44, ../sass/_header.sass */
.logo:hover, .logo:active {
  background: #0c4191;
}
@media (min-width: 768px) {
  /* line 36, ../sass/_header.sass */
  .logo {
    font-size: 1.625em;
    line-height: 1.84615em;
    padding: 0;
  }
}
@media (min-width: 960px) {
  /* line 36, ../sass/_header.sass */
  .logo {
    -webkit-border-radius: 0 0 0px 5px;
    -moz-border-radius: 0 0 0px 5px;
    -ms-border-radius: 0 0 0px 5px;
    -o-border-radius: 0 0 0px 5px;
    border-radius: 0 0 0px 5px;
    float: left;
    margin-right: 16px;
    padding: 0 16px;
  }
}

/* line 2, ../sass/partial/button.scss */
.btn {
  /* Structure */
  display: inline-block;
  *display: inline;
  /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, ../sass/partial/button.scss */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 25, ../sass/partial/button.scss */
.btn {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.3em 1em 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  *color: #444;
  /* IE 6 & 7 */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

/* line 43, ../sass/partial/button.scss */
.btn-hover,
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

/* line 51, ../sass/partial/button.scss */
.btn:focus {
  outline: 0;
}

/* line 55, ../sass/partial/button.scss */
.btn-active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

/* line 63, ../sass/partial/button.scss */
.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

/* line 75, ../sass/partial/button.scss */
.btn-hidden {
  display: none;
}

/* line 79, ../sass/partial/button.scss */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 87, ../sass/partial/button.scss */
.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
  background-color: #0078e7;
  color: #fff;
}

/* line 92, ../sass/partial/button.scss */
.btn-blue {
  background-color: #52BFFD;
  /* this is a green */
}

/* line 96, ../sass/partial/button.scss */
.btn-green {
  background: #1cb841;
}

/* line 100, ../sass/partial/button.scss */
.btn-pink {
  background: #535E64;
  /* this is an orange */
}

/* line 103, ../sass/partial/button.scss */
.btn-darkgreen {
  background: #fd5259;
}

/* line 106, ../sass/partial/button.scss */
.btn-red {
  background: #fd5259;
}

/* line 2, ../sass/_partial.sass */
.page-title {
  position: relative;
  font-size: 1.5em;
  line-height: 2em;
}
/* line 5, ../sass/_partial.sass */
.page-title h1 {
  margin-bottom: 24px;
  background: #1b75bc;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 10, ../sass/_partial.sass */
  .page-title h1 {
    margin: 0;
    background: none;
    color: #56cab6;
    text-align: left;
  }
}

/* line 15, ../sass/_partial.sass */
.showmenu {
  cursor: pointer;
  display: block;
  position: absolute;
  float: left;
  width: 50px;
  margin: 0.5em 0 0 0.5em;
  height: 48px;
  width: 48px;
}
/* line 24, ../sass/_partial.sass */
.showmenu:hover .line, .showmenu:active .line {
  -webkit-box-shadow: 0px 0px 15px 0px white;
  -moz-box-shadow: 0px 0px 15px 0px white;
  box-shadow: 0px 0px 15px 0px white;
}
/* line 26, ../sass/_partial.sass */
.showmenu .line {
  height: 3px;
  width: 70%;
  margin: 3px auto 6px auto;
  background: white;
}
@media (min-width: 960px) {
  /* line 15, ../sass/_partial.sass */
  .showmenu {
    display: none;
  }
}

@-webkit-keyframes outWaveIn {
  /* line 19, ../sass/_module.sass */
  to {
    stroke-width: 3px;
    stroke-dasharray: 40000;
  }
}

@-moz-keyframes outWaveIn {
  /* line 19, ../sass/_module.sass */
  to {
    stroke-width: 3px;
    stroke-dasharray: 40000;
  }
}

@-ms-keyframes outWaveIn {
  /* line 19, ../sass/_module.sass */
  to {
    stroke-width: 3px;
    stroke-dasharray: 40000;
  }
}

@keyframes outWaveIn {
  /* line 19, ../sass/_module.sass */
  to {
    stroke-width: 3px;
    stroke-dasharray: 40000;
  }
}

@-webkit-keyframes outWaveOut {
  /* line 24, ../sass/_module.sass */
  from {
    stroke-width: 1px;
    stroke-dasharray: 400;
  }

  /* line 27, ../sass/_module.sass */
  to {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1px;
    stroke-dasharray: 20;
  }
}

@-moz-keyframes outWaveOut {
  /* line 24, ../sass/_module.sass */
  from {
    stroke-width: 1px;
    stroke-dasharray: 400;
  }

  /* line 27, ../sass/_module.sass */
  to {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1px;
    stroke-dasharray: 20;
  }
}

@-ms-keyframes outWaveOut {
  /* line 24, ../sass/_module.sass */
  from {
    stroke-width: 1px;
    stroke-dasharray: 400;
  }

  /* line 27, ../sass/_module.sass */
  to {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1px;
    stroke-dasharray: 20;
  }
}

@keyframes outWaveOut {
  /* line 24, ../sass/_module.sass */
  from {
    stroke-width: 1px;
    stroke-dasharray: 400;
  }

  /* line 27, ../sass/_module.sass */
  to {
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1px;
    stroke-dasharray: 20;
  }
}

/* line 34, ../sass/_module.sass */
.md-text p {
  margin-bottom: 1.5em;
}
/* line 36, ../sass/_module.sass */
.md-text ul {
  list-style: disc;
  padding-left: 1em;
  margin-bottom: 1.5em;
}

/* line 1, ../sass/_news.sass */
.news {
  position: relative;
  padding-bottom: 1.5em;
}
/* line 4, ../sass/_news.sass */
.news time {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 72px;
  width: 72px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: white;
  float: left;
  text-align: center;
  color: #535e64;
  padding-top: 12.30769px;
  position: relative;
}
/* line 15, ../sass/_news.sass */
.news time em {
  font-size: 18px;
}
/* line 17, ../sass/_news.sass */
.news .news-content {
  margin-left: 96px;
}
/* line 19, ../sass/_news.sass */
.news .news-content h2 {
  color: white;
  font-size: 1.125em;
  line-height: 1.33333em;
}
@media (min-width: 768px) {
  /* line 19, ../sass/_news.sass */
  .news .news-content h2 {
    font-size: 1.5em;
    line-height: 2em;
  }
}
/* line 24, ../sass/_news.sass */
.news .news-content a {
  color: #fd5259;
}
/* line 26, ../sass/_news.sass */
.news .news-content p {
  margin-bottom: 1.5em;
}
/* line 28, ../sass/_news.sass */
.news:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: white;
  left: 31.2px;
}

/* line 7, ../sass/_session.sass */
.talk figure {
  text-align: center;
  margin: 0 auto;
  width: 72px;
  height: 72px;
}
/* line 12, ../sass/_session.sass */
.talk figure img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  height: 62px;
  padding-top: 5px;
  display: block;
}
/* line 17, ../sass/_session.sass */
.talk h2 {
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 19, ../sass/_session.sass */
.talk h2 a {
  color: #56cab6;
  text-decoration: underline;
}
/* line 22, ../sass/_session.sass */
.talk h3 {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  text-align: center;
}
/* line 26, ../sass/_session.sass */
.talk .row {
  *zoom: 1;
  overflow: hidden;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.talk .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../sass/_session.sass */
.talk .talker .detail {
  display: none;
  padding-top: 1.5em;
}
@media (min-width: 768px) {
  /* line 31, ../sass/_session.sass */
  .talk .talker .detail {
    display: none !important;
  }
}
/* line 37, ../sass/_session.sass */
.talk .area-all a h2 {
  color: white;
}
/* line 39, ../sass/_session.sass */
.talk .area-1, .talk .area-2, .talk .area-3, .talk .area-all {
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  /* line 42, ../sass/_session.sass */
  .talk .area-1, .talk .area-2, .talk .area-3 {
    padding-bottom: 500em;
    margin-bottom: -500em;
  }
}
/* line 47, ../sass/_session.sass */
.talk .area-all, .talk .area-1, .talk .area-2, .talk .area-3 {
  display: block;
  *zoom: 1;
  text-decoration: none;
  transition: all 0.3s;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.talk .area-all:after, .talk .area-1:after, .talk .area-2:after, .talk .area-3:after {
  content: "";
  display: table;
  clear: both;
}
/* line 53, ../sass/_session.sass */
.talk .notice {
  display: block;
  *zoom: 1;
  text-decoration: none;
  margin-bottom: 1.5em;
  background: #56cab6;
  color: #535e64;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.talk .notice:after {
  content: "";
  display: table;
  clear: both;
}
/* line 62, ../sass/_session.sass */
.talk .area-all .talker {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 65, ../sass/_session.sass */
  .talk .area-1, .talk .area-2 {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
}
@media (min-width: 768px) {
  /* line 68, ../sass/_session.sass */
  .talk .area-3 {
    width: 31.81818%;
    float: right;
    margin-right: 0;
  }
}
/* line 71, ../sass/_session.sass */
.talk time {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: white;
  padding-left: 0.5em;
  border-left: 5px solid #5eb95e;
}
/* line 79, ../sass/_session.sass */
.talk .place {
  font-size: 0.8125em;
  line-height: 1.84615em;
}
@media (min-width: 768px) {
  /* line 79, ../sass/_session.sass */
  .talk .place {
    margin: 0;
  }
}
/* line 84, ../sass/_session.sass */
.talk .place .btn {
  color: white;
}
/* line 86, ../sass/_session.sass */
.talk .place .area-time {
  color: black;
}
/* line 90, ../sass/_session.sass */
.talk .detail p {
  text-align: left;
}
/* line 92, ../sass/_session.sass */
.talk .detail .title {
  color: white;
}
/* line 94, ../sass/_session.sass */
.talk .detail .introduce {
  margin-bottom: 1.5em;
}
/* line 96, ../sass/_session.sass */
.talk .detail_outbox {
  display: none;
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  /* line 96, ../sass/_session.sass */
  .talk .detail_outbox {
    display: block;
    -webkit-animation: 1s slidein;
  }
}

@-webkit-keyframes slidein {
  /* line 103, ../sass/_session.sass */
  from {
    opacity: 0;
  }

  /* line 105, ../sass/_session.sass */
  to {
    opacity: 1;
  }
}

/* line 130, ../sass/_session.sass */
.close {
  background: blue;
  color: white;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

/* line 1, ../sass/_location.sass */
#map-canvas {
  height: 360px;
  margin-bottom: 1.5em;
}

/* line 5, ../sass/_location.sass */
.location address {
  display: block;
  margin-bottom: 1.5em;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 10, ../sass/_location.sass */
.location .transportation {
  margin-bottom: 1.5em;
}
/* line 12, ../sass/_location.sass */
.location .transportation p {
  padding-left: 1em;
}
@media (min-width: 768px) {
  /* line 10, ../sass/_location.sass */
  .location .transportation {
    width: 50%;
    float: left;
    margin-right: 2.27273%;
    margin-right: -100%;
  }
  /* line 42, ../sass/susy/_isolation.scss */
  .location .transportation:nth-child(2n + 1) {
    margin-left: 0%;
    clear: left;
  }
  /* line 42, ../sass/susy/_isolation.scss */
  .location .transportation:nth-child(2n + 2) {
    margin-left: 52.27273%;
    clear: none;
  }
}
@media (min-width: 960px) {
  /* line 10, ../sass/_location.sass */
  .location .transportation {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
  }
  /* line 42, ../sass/susy/_isolation.scss */
  .location .transportation:nth-child(2n + 1) {
    margin-left: 0%;
    clear: left;
  }
  /* line 42, ../sass/susy/_isolation.scss */
  .location .transportation:nth-child(2n + 2) {
    margin-left: 50.84746%;
    clear: none;
  }
}
/* line 18, ../sass/_location.sass */
.location h2 {
  display: none;
}
/* line 21, ../sass/_location.sass */
.location h3 {
  color: white;
}
/* line 23, ../sass/_location.sass */
.location ol {
  list-style: decimal outside;
  margin-left: 40px;
}
/* line 26, ../sass/_location.sass */
.location ol li {
  display: list-item;
}

/* line 2, ../sass/_sponsor.sass */
.anti-☢ .sponsor-platinum, .anti-☢ .sponsor-gold, .anti-☢ .sponsor-silver, .anti-☢ .sponsor-bronze, .anti-☢ .sponsor-media {
  margin-top: 4.5em;
  *zoom: 1;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.anti-☢ .sponsor-platinum:after, .anti-☢ .sponsor-gold:after, .anti-☢ .sponsor-silver:after, .anti-☢ .sponsor-bronze:after, .anti-☢ .sponsor-media:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/_sponsor.sass */
.anti-☢ .sponsor-platinum img, .anti-☢ .sponsor-gold img, .anti-☢ .sponsor-silver img, .anti-☢ .sponsor-bronze img, .anti-☢ .sponsor-media img {
  display: block;
}
/* line 7, ../sass/_sponsor.sass */
.anti-☢ .sponsor-platinum section, .anti-☢ .sponsor-gold section, .anti-☢ .sponsor-silver section, .anti-☢ .sponsor-bronze section, .anti-☢ .sponsor-media section {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  /* line 7, ../sass/_sponsor.sass */
  .anti-☢ .sponsor-platinum section, .anti-☢ .sponsor-gold section, .anti-☢ .sponsor-silver section, .anti-☢ .sponsor-bronze section, .anti-☢ .sponsor-media section {
    padding: 1.5em;
    vertical-align: top;
    width: 49.15254%;
    margin-bottom: 1.5em;
  }
}

/* line 17, ../sass/_sponsor.sass */
#map-canvas {
  height: 360px;
  margin-bottom: 1.5em;
}

/* line 21, ../sass/_sponsor.sass */
.anti-☢ h3 {
  color: white;
}
/* line 23, ../sass/_sponsor.sass */
.anti-☢ ol {
  list-style: decimal outside;
  margin-left: 40px;
}
/* line 26, ../sass/_sponsor.sass */
.anti-☢ ol li {
  display: list-item;
}
/* line 29, ../sass/_sponsor.sass */
.anti-☢ h2 {
  font-size: 1.5em;
  line-height: 2em;
  color: #fd5259;
}
/* line 34, ../sass/_sponsor.sass */
.anti-☢ .sponsor-platinum img {
  height: 192px;
}
/* line 39, ../sass/_sponsor.sass */
.anti-☢ .sponsor-gold img {
  height: 144px;
}
/* line 44, ../sass/_sponsor.sass */
.anti-☢ .sponsor-silver img {
  height: 96px;
}
@media (min-width: 960px) {
  /* line 46, ../sass/_sponsor.sass */
  .anti-☢ .sponsor-silver section {
    width: 32.20339%;
  }
}
/* line 52, ../sass/_sponsor.sass */
.anti-☢ .sponsor-bronze img {
  height: 72px;
}
@media (min-width: 960px) {
  /* line 54, ../sass/_sponsor.sass */
  .anti-☢ .sponsor-bronze section {
    width: 23.72881%;
  }
}
/* line 60, ../sass/_sponsor.sass */
.anti-☢ .sponsor-media img {
  height: 48px;
}
@media (min-width: 960px) {
  /* line 62, ../sass/_sponsor.sass */
  .anti-☢ .sponsor-media section {
    padding: 0.75em;
    width: 15.25424%;
  }
}

/* line 19, ../sass/_speakers.sass */
.love-☺ .speaker-head {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
/* line 24, ../sass/_speakers.sass */
.love-☺ .speaker-container {
  *zoom: 1;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 1em;
  margin: 0 1em 1.5em 1em;
  padding: 1.5em 1em;
  -webkit-box-shadow: -1px -1px 0 #535e64 inset;
  -moz-box-shadow: -1px -1px 0 #535e64 inset;
  box-shadow: -1px -1px 0 #535e64 inset;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.love-☺ .speaker-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 32, ../sass/_speakers.sass */
.love-☺ .speaker-container * :last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 24, ../sass/_speakers.sass */
  .love-☺ .speaker-container {
    padding: 0 1em 1.5em 12em;
    margin: 0 1em 1.5em 4em;
  }
}
/* line 38, ../sass/_speakers.sass */
.love-☺ .speaker-img {
  width: 100%;
  float: none;
  margin-left: 0;
  height: 7.5em;
}
/* line 45, ../sass/_speakers.sass */
.love-☺ .speaker-img img {
  width: auto;
  height: 120px;
  display: block;
}
@media (min-width: 768px) {
  /* line 38, ../sass/_speakers.sass */
  .love-☺ .speaker-img {
    width: auto;
    height: auto;
    margin-left: -14em;
    margin-right: 15px;
    float: left;
    margin-top: 1.5em;
  }
  /* line 58, ../sass/_speakers.sass */
  .love-☺ .speaker-img img {
    width: 12em;
    height: auto;
    border: 1px solid #535e64;
    border-bottom: transparent;
    border-right: transparent;
  }
}
/* line 65, ../sass/_speakers.sass */
.love-☺ .speaker-name {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: -1px;
  border-bottom: 1px solid #56cab6;
  color: #fd5259;
}
/* line 70, ../sass/_speakers.sass */
.love-☺ .speaker-name .sub {
  font-size: 0.8em;
  line-height: 1;
  margin-left: 0.5em;
}
/* line 75, ../sass/_speakers.sass */
.love-☺ .title {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 20, ../sass/_community.sass */
.group-☺ .group-list {
  text-align: center;
  *zoom: 1;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group-☺ .group-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 24, ../sass/_community.sass */
.group-☺ .group-list a {
  position: relative;
  display: block;
  height: 96px;
  width: 113px;
  float: left;
  margin-bottom: 0.75em;
  color: white;
}
/* line 35, ../sass/_community.sass */
.group-☺ .group-list a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
/* line 41, ../sass/_community.sass */
.group-☺ .group-list a:hover .hexagonal {
  fill: #fd5259;
  -webkit-animation: outWaveIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  -moz-animation: outWaveIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  -o-animation: outWaveIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  animation: outWaveIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
/* line 45, ../sass/_community.sass */
.group-☺ .group-list span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
/* line 50, ../sass/_community.sass */
.group-☺ .group-list2 {
  margin-top: 3em;
  margin-bottom: 6em;
}
/* line 53, ../sass/_community.sass */
.group-☺ .group-list2 a {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: -1px;
  border-bottom: 1px solid rgba(86, 202, 182, 0.3);
  color: #56cab6;
  -webkit-transition: border 0.3s, padding 0.3s;
  -moz-transition: border 0.3s, padding 0.3s;
  -o-transition: border 0.3s, padding 0.3s;
  transition: border 0.3s, padding 0.3s;
}
/* line 60, ../sass/_community.sass */
.group-☺ .group-list2 a:hover, .group-☺ .group-list2 a.selected {
  border-left: 4px solid #56cab6;
  padding-left: 0.5em;
}
/* line 65, ../sass/_community.sass */
.group-☺ .hexagonal {
  fill: rgba(0, 0, 0, 0.6);
  stroke-width: 1px;
  stroke: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 96px;
  overflow: hidden;
  z-index: 1;
  stroke-dasharray: 20;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: outWaveOut 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  -moz-animation: outWaveOut 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  -o-animation: outWaveOut 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  animation: outWaveOut 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
/* line 83, ../sass/_community.sass */
.group-☺ .group-content-wrap {
  position: relative;
  margin-top: 3em;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -1px -1px 0 #535e64 inset;
  -moz-box-shadow: -1px -1px 0 #535e64 inset;
  box-shadow: -1px -1px 0 #535e64 inset;
}
/* line 89, ../sass/_community.sass */
.group-☺ .group-content {
  padding: 1.5em 1em;
}
/* line 91, ../sass/_community.sass */
.group-☺ .group-img {
  background-color: white;
  height: 120px;
  width: 150px;
  margin-bottom: 1.5em;
}
/* line 97, ../sass/_community.sass */
.group-☺ .group-name {
  position: absolute;
  top: -1.5em;
  left: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 107, ../sass/_community.sass */
  .group-☺ .group-aside {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 4.5em;
  }
  /* line 110, ../sass/_community.sass */
  .group-☺ .group-content-wrap {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
  /* line 112, ../sass/_community.sass */
  .group-☺ .group-img {
    margin: -3em 2em;
    float: right;
  }
}
@media (min-width: 960px) {
  /* line 117, ../sass/_community.sass */
  .group-☺ .group-list a {
    float: left;
  }
  /* line 119, ../sass/_community.sass */
  .group-☺ .group-list a + a {
    margin-top: -3em;
  }
  /* line 121, ../sass/_community.sass */
  .group-☺ .group-list a:nth-child(2n) {
    float: right;
  }
}

/* line 5, ../sass/_menu.sass */
.nav-menu {
  font-size: 1.125em;
  line-height: 1.33333em;
  text-align: center;
  background-color: #333333;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}
/* line 14, ../sass/_menu.sass */
.nav-menu a {
  color: white;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 0.5em 0;
}

/* line 21, ../sass/_menu.sass */
.main-menu {
  position: fixed;
  left: auto;
  top: 0;
  right: -35%;
  bottom: 0;
  width: 35%;
  text-align: right;
  z-index: 3;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 0 0 0 50%;
  -moz-transform-origin: 0 0 0 50%;
  -ms-transform-origin: 0 0 0 50%;
  -o-transform-origin: 0 0 0 50%;
  transform-origin: 0 0 0 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 3em;
  overflow-y: auto;
}
/* line 36, ../sass/_menu.sass */
.main-menu a {
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0.5em 0;
}
@media (min-width: 768px) {
  /* line 36, ../sass/_menu.sass */
  .main-menu a {
    margin-right: 1em;
  }
}
/* line 44, ../sass/_menu.sass */
.menu-show .main-menu {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 49, ../sass/_menu.sass */
.main-menu .menu-link {
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  transition: transform 0.25s;
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(1) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(1) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(1) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(2) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(2) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(2) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(3) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(3) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(3) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(4) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(4) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(4) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(5) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(5) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(5) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(6) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(6) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(6) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(7) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(7) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(7) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 52, ../sass/_menu.sass */
.main-menu .menu-link:nth-child(8) {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/* line 57, ../sass/_menu.sass */
.menu-show .main-menu .menu-link:nth-child(8) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media (min-width: 768px) {
  /* line 52, ../sass/_menu.sass */
  .main-menu .menu-link:nth-child(8) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (min-width: 960px) {
  /* line 21, ../sass/_menu.sass */
  .main-menu {
    position: relative;
    background-color: #0f222b;
    width: auto;
    right: 0;
  }
  /* line 68, ../sass/_menu.sass */
  .main-menu li {
    display: inline-block;
  }
}

/* line 71, ../sass/_menu.sass */
.block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: none;
}

/* line 79, ../sass/_menu.sass */
.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  -ms-perspective-origin: 0 50%;
  -o-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
/* line 88, ../sass/_menu.sass */
.menu-show .perspective {
  background-color: #0f222b;
}
/* line 91, ../sass/_menu.sass */
.perspective.delay {
  position: fixed;
}
/* line 93, ../sass/_menu.sass */
.perspective .relative {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 50% 0 0 50%;
  -moz-transform-origin: 50% 0 0 50%;
  -ms-transform-origin: 50% 0 0 50%;
  -o-transform-origin: 50% 0 0 50%;
  transform-origin: 50% 0 0 50%;
  -webkit-transform: translateZ(0) translateX(0px) rotateY(0);
  -moz-transform: translateZ(0) translateX(0px) rotateY(0);
  -ms-transform: translateZ(0) translateX(0px) rotateY(0);
  -o-transform: translateZ(0) translateX(0px) rotateY(0);
  transform: translateZ(0) translateX(0px) rotateY(0);
}
/* line 101, ../sass/_menu.sass */
.perspective .absolute {
  position: relative;
  height: 100%;
}

/* line 108, ../sass/_menu.sass */
.menu-show .block {
  display: block;
}
/* line 110, ../sass/_menu.sass */
.menu-show .relative {
  position: absolute;
  -webkit-transform: translateZ(-500px) translateX(0px) rotateY(15deg);
  -moz-transform: translateZ(-500px) translateX(0px) rotateY(15deg);
  -ms-transform: translateZ(-500px) translateX(0px) rotateY(15deg);
  -o-transform: translateZ(-500px) translateX(0px) rotateY(15deg);
  transform: translateZ(-500px) translateX(0px) rotateY(15deg);
}
