/* line 17, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 105, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../sass/_base.sass */
html {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
}

/* line 15, ../sass/_base.sass */
a {
  text-decoration: none;
}

/* line 9, ../sass/_layout.sass */
html {
  background: url('/images/leather_bg.jpg?1396763229');
}

/* line 11, ../sass/_layout.sass */
.container {
  box-shadow: 0 0 3px #323232;
  background: white;
  overflow: hidden;
}

/* line 16, ../sass/_layout.sass */
.container {
  max-width: 24em;
  _width: 24em;
  margin: 0 auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(0, 0, 0, 0) 16.66667%, rgba(0, 0, 0, 0) 20.83333%, rgba(100, 100, 225, 0.25) 20.83333%, rgba(100, 100, 225, 0.25) 37.5%, rgba(0, 0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 41.66667%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(0, 0, 0, 0) 58.33333%, rgba(0, 0, 0, 0) 62.5%, rgba(100, 100, 225, 0.25) 62.5%, rgba(100, 100, 225, 0.25) 79.16667%, rgba(0, 0, 0, 0) 79.16667%, rgba(0, 0, 0, 0) 83.33333%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  background-origin: content-box;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
}
@media (min-width: 768px) {
  /* line 16, ../sass/_layout.sass */
  .container {
    max-width: 44em;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    background-origin: content-box;
    -webkit-background-clip: content;
    -moz-background-clip: content;
    background-clip: content-box;
  }
}
@media (min-width: 960px) {
  /* line 16, ../sass/_layout.sass */
  .container {
    max-width: 59em;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    background-origin: content-box;
    -webkit-background-clip: content;
    -moz-background-clip: content;
    background-clip: content-box;
  }
}

/* line 26, ../sass/_layout.sass */
.content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* line 29, ../sass/_layout.sass */
.open .content {
  margin-right: -62.5%;
}
@media (min-width: 768px) {
  /* line 32, ../sass/_layout.sass */
  .open .content {
    margin-right: -34.09091%;
  }
}

/* line 1, ../sass/_header.sass */
.menu {
  height: 100%;
  width: 58.33333%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
  background: #1b75bc;
  margin-left: -100%;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 8, ../sass/_header.sass */
.open .menu {
  margin-left: 0%;
}
/* line 11, ../sass/_header.sass */
.menu li a {
  color: white;
  padding: 0px 16px;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 48px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
/* line 19, ../sass/_header.sass */
.menu li a:hover, .menu li a:active {
  background: #0c4191;
}
@media (min-width: 768px) {
  /* line 1, ../sass/_header.sass */
  .menu {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
}
@media (min-width: 960px) {
  /* line 1, ../sass/_header.sass */
  .menu {
    width: 100%;
    float: right;
    margin-right: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  /* line 38, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .menu:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 29, ../sass/_header.sass */
  .menu ul {
    float: right;
  }
  /* line 31, ../sass/_header.sass */
  .menu li {
    float: left;
  }
}

/* line 33, ../sass/_header.sass */
.logo {
  color: white;
  display: block;
  display: block;
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 1.125em;
  line-height: 1.33333em;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
/* line 43, ../sass/_header.sass */
.logo:hover, .logo:active {
  background: #0c4191;
}
@media (min-width: 768px) {
  /* line 33, ../sass/_header.sass */
  .logo {
    font-size: 1.625em;
    line-height: 1.84615em;
    padding: 0;
  }
}
@media (min-width: 960px) {
  /* line 33, ../sass/_header.sass */
  .logo {
    -webkit-border-radius: 0;
    -moz-border-radius: 0 0 0px 5px;
    border-radius: 0 0 0px 5px;
    float: left;
    margin-right: 16px;
    padding: 0 16px;
  }
}

/* line 2, ../sass/partial/button.scss */
.btn {
  /* Structure */
  display: inline-block;
  *display: inline;
  /*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, ../sass/partial/button.scss */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 25, ../sass/partial/button.scss */
.btn {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.3em 1em 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  *color: #444;
  /* IE 6 & 7 */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

/* line 43, ../sass/partial/button.scss */
.btn-hover,
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

/* line 51, ../sass/partial/button.scss */
.btn:focus {
  outline: 0;
}

/* line 55, ../sass/partial/button.scss */
.btn-active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

/* line 63, ../sass/partial/button.scss */
.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

/* line 75, ../sass/partial/button.scss */
.btn-hidden {
  display: none;
}

/* line 79, ../sass/partial/button.scss */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 87, ../sass/partial/button.scss */
.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
  background-color: #0078e7;
  color: #fff;
}

/* line 92, ../sass/partial/button.scss */
.btn-blue {
  background-color: #0078e7;
  /* this is a green */
}

/* line 96, ../sass/partial/button.scss */
.btn-green {
  background: #1cb841;
}

/* line 100, ../sass/partial/button.scss */
.btn-pink {
  background: #df7514;
  /* this is an orange */
}

/* line 103, ../sass/partial/button.scss */
.btn-darkgreen {
  background: #5eb95e;
}

/* line 106, ../sass/partial/button.scss */
.btn-red {
  background: red;
}

/* line 2, ../sass/_partial.sass */
.page-title {
  position: relative;
  font-size: 1.5em;
  line-height: 2em;
}
/* line 5, ../sass/_partial.sass */
.page-title h1 {
  margin-bottom: 0.75em;
  background: #1b75bc;
  color: white;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 11, ../sass/_partial.sass */
  .page-title h1 {
    margin: 0;
    background: none;
    color: black;
    text-align: left;
  }
}

/* line 16, ../sass/_partial.sass */
.showmenu {
  cursor: pointer;
  display: block;
  position: absolute;
  float: left;
  width: 50px;
  margin: 0.5em 0 0 0.5em;
  height: 48px;
  width: 48px;
}
/* line 25, ../sass/_partial.sass */
.showmenu:hover .line, .showmenu:active .line {
  -webkit-box-shadow: 0px 0px 15px 0px white;
  -moz-box-shadow: 0px 0px 15px 0px white;
  box-shadow: 0px 0px 15px 0px white;
}
/* line 27, ../sass/_partial.sass */
.showmenu .line {
  height: 3px;
  width: 70%;
  margin: 3px auto 6px auto;
  background: white;
}
@media (min-width: 960px) {
  /* line 16, ../sass/_partial.sass */
  .showmenu {
    display: none;
  }
}

/* line 2, ../sass/_session.sass */
body {
  height: 100%;
}

/* line 4, ../sass/_session.sass */
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

/* line 15, ../sass/_session.sass */
.talk h2 {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  font-weight: bold;
}
@media (min-width: 768px) {
  /* line 15, ../sass/_session.sass */
  .talk h2 {
    font-size: 1.5em;
    line-height: 1em;
  }
}
/* line 22, ../sass/_session.sass */
.talk h3 {
  font-size: 1.125em;
  line-height: 1.33333em;
  color: black;
}
/* line 25, ../sass/_session.sass */
.talk .row {
  *zoom: 1;
  overflow: hidden;
}
/* line 38, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.talk .row:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  /* line 25, ../sass/_session.sass */
  .talk .row {
    margin-bottom: 1.5em;
  }
}
/* line 30, ../sass/_session.sass */
.talk .talker {
  padding: 1em;
}
/* line 32, ../sass/_session.sass */
.talk .area-all a {
  background: #5eb95e;
}
/* line 34, ../sass/_session.sass */
.talk .area-all a h2 {
  color: white;
}
/* line 36, ../sass/_session.sass */
.talk .area-1, .talk .area-2, .talk .area-3, .talk .area-all {
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  /* line 39, ../sass/_session.sass */
  .talk .area-1, .talk .area-2, .talk .area-3 {
    padding-bottom: 500em;
    margin-bottom: -500em;
  }
}
/* line 44, ../sass/_session.sass */
.talk .area-all, .talk .area-1, .talk .area-2, .talk .area-3 {
  display: block;
  *zoom: 1;
  cursor: default;
  text-decoration: none;
  transition: all 0.3s;
  background: #5eb95e;
}
/* line 38, ../../../../fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.talk .area-all:after, .talk .area-1:after, .talk .area-2:after, .talk .area-3:after {
  content: "";
  display: table;
  clear: both;
}
/* line 51, ../sass/_session.sass */
.talk .area-all:hover, .talk .area-all:active, .talk .area-1:hover, .talk .area-1:active, .talk .area-2:hover, .talk .area-2:active, .talk .area-3:hover, .talk .area-3:active {
  cursor: pointer;
  background: #459f45;
}
/* line 54, ../sass/_session.sass */
.talk .area-all:hover h2, .talk .area-all:active h2, .talk .area-1:hover h2, .talk .area-1:active h2, .talk .area-2:hover h2, .talk .area-2:active h2, .talk .area-3:hover h2, .talk .area-3:active h2 {
  color: white;
}
/* line 56, ../sass/_session.sass */
.talk .none, .talk .none:hover, .talk .none:active {
  cursor: default;
  background: #5eb95e;
}
/* line 60, ../sass/_session.sass */
.talk .area-all .talker {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 63, ../sass/_session.sass */
  .talk .area-1, .talk .area-2 {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
}
@media (min-width: 768px) {
  /* line 66, ../sass/_session.sass */
  .talk .area-3 {
    width: 31.81818%;
    float: right;
    margin-right: 0;
  }
}
/* line 69, ../sass/_session.sass */
.talk time {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  border-left: 5px solid #5eb95e;
}
/* line 76, ../sass/_session.sass */
.talk .place {
  font-size: 0.8125em;
  line-height: 1.84615em;
}
/* line 78, ../sass/_session.sass */
.talk .place .btn {
  color: white;
}
/* line 80, ../sass/_session.sass */
.talk .place .area-time {
  color: black;
}

/* line 82, ../sass/_session.sass */
.talker-view {
  position: absolute;
  top: 0;
  overflow: auto;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #207abc;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  width: 62.5%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 94, ../sass/_session.sass */
.talker-view h2 {
  color: yellow;
  font-size: 18px;
}
/* line 97, ../sass/_session.sass */
.talker-view p {
  color: white;
}
/* line 99, ../sass/_session.sass */
.open-session .talker-view {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  display: block;
}

/* line 103, ../sass/_session.sass */
.close {
  background: blue;
  color: white;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
