/*
Syntax error: Undefined mixin 'pie-clearfix'.
        on line 2 of D:/gitbox/MOPCON/2014_test/sass/header.sass, in `pie-clearfix'
        from line 2 of D:/gitbox/MOPCON/2014_test/sass/header.sass

1: D:/gitbox/MOPCON/2014_test/sass/header.sass

Backtrace:
D:/gitbox/MOPCON/2014_test/sass/header.sass:2:in `pie-clearfix'
D:/gitbox/MOPCON/2014_test/sass/header.sass:2
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/tree/root_node.rb:20:in `render'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/engine.rb:315:in `_render'
D:/fire.app/lib/ruby/common/sass-3.2.8/lib/sass/../sass/engine.rb:262:in `render'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:113:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:112:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:111:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `run'
org/jruby/RubyArray.java:1620:in `each'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `run'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:97:in `sass_added'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:86:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
D:/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
D:/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'pie-clearfix'.\A         on line 2 of D:/gitbox/MOPCON/2014_test/sass/header.sass, in `pie-clearfix'\A         from line 2 of D:/gitbox/MOPCON/2014_test/sass/header.sass\A \A 1: D:/gitbox/MOPCON/2014_test/sass/header.sass"; }
