// section sponsor
.section-sponsor {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 100%;
  padding: 50px 0 78px 0;
  z-index: 1;
  @include rwd(pad) {
    margin-bottom: 76px;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #0e1b2e;
    z-index: -1;
    @include rwd(llg) {
      width: 60%;
      height: 0;
      padding-top: 60%;
    }
    @include rwd(lg) {
      width: 900px;
      height: 900px;
      padding-top: 0;
    }
    @include rwd(md) {
      display: none;
    }
  }
  &:before {
    left: 0;
    transform: translateX(-55%);
    @include rwd(lg) {
      transform: translateX(-75%);
    }
  }
  &:after {
    right: 0;
    transform: translateX(55%);
    @include rwd(lg) {
      transform: translateX(75%);
    }
  }

  &__content {
    width: 446px;
    height: 668px;
    padding-top: 140px;
    text-align: center;
    @include rwd(pad) {
      height: initial;
      height: auto;
      padding-top: 80px;
    }
    @include rwd(sm) {
      width: 100%;
      text-align: center;
    }

    [class*="people-"] {
      position: absolute;
      width: 50px;
      height: 50px;
      @include rwd(pad) {
        display: none;
      }
    }

    .people-3 {
      @include bgCenter(123px, 177px);
      top: 39%;
      left: -50%;
      background-image: url("./images/people-3.png");
    }

    .people-4 {
      @include bgCenter(40px, 87px);
      top: 19%;
      left: -15%;
      background-image: url("./images/people-4.png");
    }

    .people-5 {
      @include bgCenter(62px, 125px);
      top: 37%;
      left: 124%;
      background-image: url("./images/people-5.png");
    }

    .people-6 {
      @include bgCenter(60px, 125px);
      top: 41%;
      left: 133%;
      background-image: url("./images/people-6.png");
    }

    .people-7 {
      @include bgCenter(102px, 177px);
      top: 77%;
      left: 108%;
      background-image: url("./images/people-7.png");
    }

    .light {
      @include bgCenter(446px, 668px);
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("./images/light.png");
      @include rwd(pad) {
        left: 50%;
        height: 450px;
        transform: translate(-50%);
        background-image: url("./images/light-s.png");
      }

      &:before,
      &__head {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &:before {
        @include bgCenter(446px, 56px);
        content: "";
        bottom: 0;
        background-image: url("./images/light-bottom.png");
        @include rwd(pad) {
          background-image: url("./images/light-bottom-s.png");
        }
      }

      &__head {
        @include bgCenter(19px, 28px);
        top: 0;
        background-image: url("./images/light-head.png");
        background-size: contain;
      }
    }

    .subtitle {
      margin: 20px 0 60px 0;
      @include rwd(pad) {
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.8px;
      }
    }

    .btn {
      margin-bottom: 37px;
      @include rwd(pad) {
        margin-bottom: 20px;
      }
    }

    .email {
      color: $colorPrimary;
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 1.2px;
    }

    .text {
      color: $colorGrayLight;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.8px;
    }

    .line {
      width: 256px;
      margin: 20px auto 0 auto;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: $colorPrimary;
      }
      &:before {
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0.3;
      }
      &:after {
        left: 50%;
        width: 42px;
        height: 2px;
        transform: translateX(-50%);
      }
    }
  }
}
