.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 3.75rem;
}
.btn {
  width: 100%;
  height: 60px;
  color: #dbdae1;
  border-radius: 10px;
  border: 1px solid #dbdae1;
  background-color: rgba(0, 0, 0, 0);
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  color: #2b383c;
  background-color: #dbdae1;
  transition: all 0.5s;
}
.active {
  color: #2b383c;
  background-color: #dbdae1;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 740px;
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 343px;
    gap: 16px;
  }
}
