// *********************************************
// 
// Typography
// 
// *********************************************
$font-family-base:'Microsoft JhengHei',
Arial,
Geneva,
sans-serif;
$font-size-base: 16px;
$font-larger: 1.8rem;
$font-large: 1.2rem;
$font-normal: 1rem;
$font-small: 0.857142rem; // 12px
// *********************************************
// 
// Color
// 
// *********************************************
$colorMainFirst:#181E3E;
$colorMainSecond:#7BB6AD;
$colorMainThird:#F1E28C;
$colorMainfourth:#376D65;

$colorSubFirst:#293264;
$colorSubSecond:#E3E1DA;
$colorSubThird:#B5814B;
$colorSubfourth:#C8A063;

$bgcolor: $colorMainFirst;
$color: #666464;
$colorWhite:#fff;

$gray-dark:#595E7A;
$gray:#828282;
// $colorGray:#9B9B9B;
// $colorGray-light:#d8d8d8;
// $colorGradientFirst:#461d87;
// $colorGradientSecond:#221938;
// $color-muted
// $color-primary
// $color-success
$color-info:#F1B861;
$color-notice:#5B8E54;
// $color-alert
// $color-warning
// $color-danger

$color-gradients:(
	'1':#7AB6AD,
	'2':#639F96,
	'3':#639A9F,
	'4':#558B8F,
	'5':#557E8F,
	'6':#446D7E,
	'7':#44667E,
	'8':#44667E,
	'9':#334966,
	'10':#333F65,
	'11':#202B4B,
	'12':#181E3E
);
// *********************************************
// 
// 
// 
// *********************************************
