// *********************************************
// 
// Typography
// 
// *********************************************
$font-family-base:'Microsoft JhengHei',
Arial,
Geneva,
sans-serif;
$font-size-base: 16px;
$font-larger: 1.8rem;
$font-large: 1.2rem;
$font-normal: 1rem;
$font-small: 0.857142rem; // 12px
// *********************************************
// 
// Color
// 
// *********************************************
$colorMainFirst:#181E3E;
$colorMainSecond:#7BB6AD;
$colorMainThird:#F1E28C;
$colorSubFirst:#293264;
$colorSubSecond:#E3E1DA;
$colorSubThird:#B5814B;
$bgcolor: $colorMainFirst;
$color: #666464;
$colorWhite:#fff;
// $colorGray:#9B9B9B;
// $colorGray-light:#d8d8d8;
// $colorGradientFirst:#461d87;
// $colorGradientSecond:#221938;
// $color-muted
// $color-primary
// $color-success
// $color-info
// $color-notice
// $color-alert
// $color-warning
// $color-danger
// *********************************************
// 
// 
// 
// *********************************************
