.wrap {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  color: #fff;
  font-size: 1rem;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 200px;
  text-align: center;
}

.content-container {
  max-width: 446px;
}
.content {
  font-size: 20px;
  margin-bottom: 2rem;
}
.mail {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.btn {
  border-radius: 30px;
  border: 1px solid #f47c57;
  color: #f47c57;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  max-width: 267px;
  margin: 3.75rem auto 0 auto;
  font-size: 1.5rem;
  padding: 0.75rem 0;
}
.btn:hover,
.btn:hover .icon path {
  color: #fff;
  background-color: #f47c57;
  transition: all 0.3s;
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .wrap {
    margin-bottom: 0px;
  }
  .container {
    max-width: 568px;
    gap: 48px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
  }
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 343px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }
  .container img {
    max-width: 253px;
  }
  .content-container {
    max-width: 343px;
  }
}
