.wrap {
  background-image: url("/public/assets/images/Home/imformation-background.png");
  background-size: cover;
  width: 100%;
  padding: 4.375rem 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.card {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  max-width: 218px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  font-size: 1.125rem;
  margin-top: 2.375rem;
  margin-bottom: 0.5rem;
}
.text {
  margin-top: 0px;
}
@media screen and (max-width: 568px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
  }
}
