.time {
  background-color: #efeaeb;
}
.time-title-container {
  @include flex(flex-start, row, center);
  margin-bottom: 70px;
  padding-top: 50px;
}
h2 {
  @include font(40px, $colorPrimary, 700);
  margin: 0;
  letter-spacing: 0.12em;
}
@include screen(sm) {
  .time-title-container {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 26px;
    padding-top: 100px;
    h2 {
      padding-top: 50px;
      align-self: center;
    }
  }
}
