#Sticker {
  background: $colorWhite;
  padding-bottom: 120px;
}
.container {
  background: $colorOrange;
  border-radius: 32px;
  padding: 0;
  @include flex(space-between, row, center);
  overflow: hidden;
}
.stickerTextContainer {
  width: 40%;
  h3 {
    @include font(56px, $colorPrimary, 600);
  }
  p {
    @include font(20px, $colorPrimary, 400);
  }
}
.stickerImgContainer {
  width: 60%;
  height: 480px;
  overflow: hidden;
  @include flex(center, row, center);
}
.stickerTextContainer a span {
  border-bottom: 1px solid $colorBlack;
}

.stickergroup {
  @include flex(center, column, space-between);
  overflow: hidden;
  width: 100%;
}
.stickerBg {
  @include flex(space-around, row, center);
  flex-wrap: nowrap;
}
@for $i from 1 through 12 {
  .sticker#{$i} {
    background-image: url(./images/sticker_#{$i}.png);
    @include bgCenter(160px, 160px);
    background-size: contain;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    margin: 15px;
    flex-shrink: 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
@include screen(md) {
  .stickerTextContainer {
    width: 70%;
  }
  .stickerImgContainer {
    height: 331px;
  }
}
@include screen(pad) {
  #Sticker {
    padding-bottom: 80px;
  }
  .container {
    flex-wrap: wrap;
  }
  .stickerTextContainer {
    width: 100%;
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .stickerImgContainer {
    width: 100%;
    align-items: flex-start;
  }
}
@include screen(sm) {
  #Sticker {
    padding-bottom: 48px;
  }
  .container {
    border-radius: 0;
  }
  .stickerTextContainer {
    h3 {
      font-size: 48px;
      white-space: nowrap;
    }
  }
  @for $i from 1 through 12 {
    .sticker#{$i} {
      width: 120px;
      height: 120px;
      margin: 8px;
    }
  }
}
