html,
body {
  overflow-x: hidden;
}
body {
  * {
    font-size: 16px;
    font-weight: normal;
    font-family: $fontStyle;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: $colorFont;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
  }
}
.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1280px;
  @include screen(md) {
    max-width: 960px;
  }
  @include screen(pad) {
    max-width: 720px;
  }
  @include screen(sm) {
    max-width: 540px;
  }
}