html,
body {
  overflow-x: hidden;
  background-color: $colorPrimary;
  margin: 0;
}
body {
  * {
    font-size: 16px;
    font-weight: normal;
    font-family: $fontStyle;
    line-height: 1.5;
    letter-spacing: 0.8px;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, div, span {
    color: $colorFont
  }
}
ul{
  padding: 0;
  li{
    list-style-type: none;
  }
}
.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1280px;
  @include screen(md) {
    max-width: 960px;
  }
  @include screen(pad) {
    max-width: 720px;
  }
  @include screen(sm) {
    max-width: 540px;
  }
}
