$colorPrimary: #004973;
$colorPrimaryLight: #51A3D3;
$colorFont: $colorPrimary;
$colorPink: #FF7987;
$colorPinkLight: #FF99A6;
$colorBlueDark: #004973;
$colorBlueLight: #5D6160;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$fontStyle: 'Noto Sans', 'Noto Sans TC', 'Noto Sans CJK TC', '微軟正黑體',
  'sans-serif', 'Helvetica', 'roboto', arial, sans-serif;

//space
$spacer: 4px;

//breakpoint
$breakpoints: ('lg', 'md', 'pad', 'sm', 'xs');

//font-size
$font-size-base: 4px;

//text-align
$text-align: ('left', 'right', 'center');

//position
$position: ('staic', 'relative', 'absolute', 'fixed', 'sticky');

//display
$display: ('inline', 'inline-block', 'block', 'flex', 'inline-flex', 'none');
