@import 'normalize.css';
@import './variables';
@import './mixin';
@import './base';
@import './utility';
@import './components/button';
@import './components/background';
@import './components/bannerPinkCircle';
@import 'swiper/css/swiper.css';

html.modal-open {
  overflow-y: hidden;
}
