.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
.swiper-button-prev svg,
.swiper-button-next svg {
  height: 22px;
}
.swiper-custome-prev {
  left: -80px;
}
.swiper-custome-next {
  right: -80px;
}
@media screen and (max-width: 768px) {
  .swiper-custome-prev {
    left: -40px;
  }
  .swiper-custome-next {
    right: -40px;
  }
}
