.container {
  width: 282px;
  height: 241px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 768px) {
  .container {
    width: 180px;
    height: 180px;
  }
}
