.wrap {
  max-width: 1020px;
  margin: 0 auto;
  max-height: 1000px;
  padding-bottom: 64px;
  border-left: 1px solid #f6ebcc;
}
.tab {
  position: absolute;
  color: #fbc427;
  background-color: #f6ebcc;
  font-size: 24px;
  font-weight: 700;
  padding: 0.5rem 2.25rem;
  border-radius: 26px;
  transform: translate(-50%);
}
.container {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  margin-left: 13.5rem;
  padding-bottom: 4rem;
  position: relative;
}
.container h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.container p {
  margin: 0 0 0.25rem 0;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.slide-container {
  position: relative;
  max-width: 670px;
  height: 241px;
  margin-top: 3.25rem;
  margin-bottom: 3rem;
}
.icon {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #f47c57;
  max-width: 124px;
  padding: 0.5rem 2.375rem;
  text-decoration: none;
  color: #f47c57;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.icon:hover {
  color: #fff;
  background-color: #f47c57;
  transition: all 0.3s;
}
.icon:hover path {
  fill: #ffffff;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .wrap {
    max-width: 860px;
  }
  .container {
    margin-left: 108px;
  }
}
@media screen and (max-width: 768px) {
  .wrap,
  .container {
    max-width: 375px;
  }

  .slide-container {
    height: 180px;
    width: 180px;
    margin: 3.25rem auto 2rem auto;
  }
  .tab {
    padding: 0.5rem 0.875rem;
  }
  .container {
    margin-left: 5.625rem;
  }
}
@media screen and (max-width: 568px) {
  .wrap {
    max-width: 270px;
  }
  .container {
    max-width: 343px;
  }
  .slide-container {
    margin: 4.25rem auto 2rem auto;
  }
  .icon {
    position: initial;
    margin-top: 1rem;
  }
  .container {
    margin-left: 3.3125rem;
  }
}
