#Design {
  background-color: $colorWhite;
  padding-top: 120px;
  padding-bottom: 80px;
}
.container {
  @include flex(space-between, row, center);
}
.designTextContainer {
  width: 40%;
  h3 {
    @include font(56px, $colorPrimary, 600);
  }
  p {
    width: 450px;
    @include font(20px, $colorPrimary, 400);
  }
}
.designImgContainer {
  width: 60%;
  .designThoughtBg {
    background-image: url(./images/designThought.png);
    @include bgCenter(auto, 450px);
    background-size: contain;
  }
}

@include screen(md) {
  .container {
    flex-wrap: wrap;
  }
  .designTextContainer {
    width: 100%;
    p {
      width: 560px;
    }
  }

  .designImgContainer {
    width: 100%;
  }
}

@include screen(sm) {
  #Design {
    padding-top: 48px;
    padding-bottom: 96px;
  }
  .designTextContainer {
    h3 {
      font-size: 48px;
    }
    p {
      width: 100%;
    }
  }
  .designImgContainer {
    .designThoughtBg {
      height: 197px;
    }
  }
}
