.section-about {
  margin-top: 160px;
  @include rwd(pad) {
    margin-top: 73px;
  }

  .title {
    @include rwd(pad) {
      text-align: center;
    }
  }

  .runNumber {
    margin: 68px 0 105px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    @include rwd(pad) {
      flex-flow: column nowrap;
    }
  }

  &__img {
    @include bgCenter(360px, 349px);
    flex: 0 0 auto;
    background-image: url('./images/section-about-img.png');
    @include rwd(pad) {
      width: 289px;
      height: 266px;
      margin-bottom: 40px;
      background-image: url('./images/section-about-img-s.png');
    }
  }

  &__info {
    margin-left: 100px;
    @include rwd(md) {
      margin-left: 50px;
    }
    @include rwd(pad) {
      margin-left: 0;
    }
  }

  .subtitle + .subtitle {
    @include rwd(pad) {
      margin-top: 20px;
    }
  }

  p {
    margin-top: 25px;
    color: $colorGrayLight;
    line-height: 1.88;
  }
}
