.hero {
  @include bgCenter;
  width: 100%;
  min-height: 100vh;
  padding-top: 20vh;
  padding-left: 10%;
  @include rwd(pad) {
    padding: 0;
    text-align: center;
  }
  &:after,
  &:before {
    @include bgCenter;
    content: '';
    position: absolute;
    top: 0;
  }
  &:before {
    right: 0;
    width: 1200px;
    height: 676px;
    background-image: url('./images/bg.png');
    @include rwd(lg) {
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }
  }
  &:after {
    top: -70%;
    left: -50%;
    width: 1150px;
    height: 1150px;
    background-image: url('./images/bg-cover.png');
    @include rwd(md) {
      top: -80%;
      left: -80%;
    }
    @include rwd(pad) {
      top: -110%;
      left: -110%;
    }
    @include rwd(sm) {
      top: -130%;
      left: -130%;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 46%;
    @include rwd(pad) {
      width: 100%;
      height: 100%;
      padding-top: 51%;
    }
  }

  &__logo {
    @include bgCenter;
    width: 504px;
    height: 104px;
    background-image: url('./images/logo.png');
    @include rwd(llg) {
      width: 100%;
      height: 0;
      padding-top: 20.63%;
    }
    @include rwd(pad) {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 87px;
      height: 31px;
      padding-top: 0;
      background-image: url('./images/logo-s.png');
    }
  }

  .subtitle {
    margin: 70px 0;
    color: $colorPrimary;
    @include rwd(pad) {
      margin: 30px 0;
      padding: 6px 0 9px 0;
      border-top: solid 1px rgba($colorPrimary, 0.3);
      border-bottom: solid 1px rgba($colorPrimary, 0.3);
    }

    .icon-x {
      display: inline-block;
      top: 6px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      &:before,
      &:after {
        @include abCenter;
        content: '';
        width: 60%;
        height: 2px;
        background-color: $colorWhite;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__desc {
    margin-bottom: 80px;
    @include rwd(pad) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__btn {
    @include rwd(pad) {
      margin-top: 26px;
    }
  }

  &__countdown {
    position: absolute;
    right: 0;
    bottom: 40px;
    padding-right: 10%;
    padding-bottom: 10px;
    white-space: nowrap;
    @include rwd(pad) {
      position: relative;
      bottom: 0;
      padding: 0;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      @include rwd(pad) {
        display: none;
      }
    }
    &:before {
      width: 100%;
      height: 1px;
      background-color: $colorPrimary;
      opacity: 0.3;
    }
    &:after {
      width: 42px;
      height: 2px;
      background-color: $colorWhite;
    }
    span {
      font-size: 24px;
      letter-spacing: 1.2px;
      @include rwd(pad) {
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
    .day,
    .hour,
    .min {
      margin: 0 7px;
      @include rwd(sm) {
        margin: 0 3px;
      }
    }
    .day {
      color: $colorSecondary;
    }
    .hour {
      color: $colorPrimary;
    }
    .min {
      color: $colorThird;
    }
  }

  &__countdown--pc {
    @include rwd(pad) {
      display: none;
    }
  }

  &__countdown--mobile {
    display: none;
    @include rwd(pad) {
      display: block;
    }
  }
}
