.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 303px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $colorBg3;
    .card__btn {
      border-top-left-radius: 50%;
    }
  }
  &:hover:active {
    .card__btn {
      background-color: $colorPrimary;
      &:before,
      &:after {
        background-color: $colorBg;
      }
    }
  }

  &__head {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 0;
    background-color: $colorPrimary;
    color: $colorBg;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    &__time {
      margin-left: auto;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    width: 100%;
    margin-top: 6px;
    padding: 13px 26px 12px 19px;
    border: solid 1px $colorPrimaryDark;
    @include rwd(md) {
      align-items: flex-start;
    }

    &__tags {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      max-width: 256px;
      margin-bottom: 25px;
      margin-left: -5px;
    }

    &__tag {
      margin: 5px;
      padding: 2px 8px;
      border: none;
      font-size: 12px;
      line-height: 1.5;
      &:hover {
        border: none;
      }
    }

    &__name {
      display: -webkit-box;
      width: 100%;
      max-width: 256px;
      height: 65px;
      margin-bottom: 10px;
      color: $colorWhite;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.5;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include rwd(md) {
        max-width: 100%;
      }
    }

    &__promptTags {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      max-width: 256px;
      margin-top: auto;
      margin-left: -5px;
      [class*='tag-btn-'] {
        margin: 3px 5px;
      }
    }

    &__speaker {
      display: flex;
      width: 100%;
      max-width: 256px;
      margin-top: 34px;
      padding-right: 65px;
      @include rwd(pad) {
        max-width: calc(100% - 50px);
      }

      &__item {
        display: flex;
      }

      &__avatar {
        flex: 0;
        width: 48px;
        height: 48px;
        margin-right: 18px;
        border-radius: 50%;
      }

      &__name {
        color: $colorGray;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    border: solid 1px $colorPrimary;
    &:before,
    &:after {
      @include abCenter;
      content: '';
      width: 21px;
      height: 1px;
      transition: all 0.3s;
      background-color: $colorPrimary;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.card.small + .card.small {
  margin-left: 6px;
  @include rwd(md) {
    margin-bottom: 13px;
    margin-left: 0;
  }
}

.card.big {
  width: 100%;
  z-index: 1;
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    @include rwd(md) {
      display: none;
    }
  }
  &:before {
    @include bgCenter(297px, 257px);
    left: 0;
    background-image: url('./images/bg-left.png');
  }
  &:after {
    @include bgCenter(197px, 194px);
    right: 10%;
    background-image: url('./images/bg-right.png');
  }

  .card__content {
    padding-top: 39px;
    @include rwd(md) {
      padding-top: 13px;
    }

    @include rwd(pad) {
      margin-top: 0;
    }

    &__name {
      max-width: 100%;
    }
  }
}

// 多講者
.card.more {
  .card__content__speaker__name {
    display: none;
  }
  .card__content__speaker {
    align-self: center;
    padding-right: 0px;
    @include rwd(pad) {
      align-self: flex-start;
    }
  }
}

.card.exceed {
  .card__content__tags,
  .card__content__name {
    order: 1;
  }

  .card__content__promptTags {
    order: 3;
  }

  .card__content__speaker {
    margin-top: 0;
    margin-bottom: 36px;
    order: 2;
  }
}

.card.big.more {
  &:before,
  &:after {
    display: none;
  }

  .card__content__speaker__item + .card__content__speaker__item {
    margin-left: 18px;
  }

  .card__content__speaker {
    max-width: 100%;
  }

  .card__content__speaker__name {
    display: block;
    @include rwd(sm) {
      display: none;
    }
  }

  .card__content {
    align-items: flex-start;
    padding: 39px 72px 36px 72px;
    @include rwd(pad) {
      padding: 13px 26px 12px 19px;
    }
  }
}

.card.big.more.exceed {
  .card__content__speaker__name {
    display: none;
  }
}

.card.active {
  background-color: $colorBg3;
  .card__btn {
    border-top-left-radius: 50%;
    background-color: $colorPrimary;
    &:before,
    &:after {
      background-color: $colorBg;
    }
  }
}
