.btnBuy {
  @include flexCenter;
  position: fixed;
  top: calc(50vh - 60px);
  right: 69px;
  width: 114px;
  height: 120px;
  transition: all 0.3s;
  border-radius: 50%;
  background-color: $colorPrimary;
  z-index: 2000;
  @include rwd(pad) {
    top: calc(65vh - 60px);
    right: 25px;
    width: 69px;
    height: 73px;
  }

  &:hover {
    background-color: #0093cf;
    &:before {
      border: solid 2px #0093cf;
    }
  }

  &:before {
    @include abCenter;
    content: '';
    width: 130px;
    height: 136px;
    border: solid 2px $colorPrimary;
    border-radius: 50%;
    @include rwd(pad) {
      width: 79px;
      height: 83px;
    }
  }

  &__text {
    color: $colorWhite;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    @include rwd(pad) {
      font-size: 14px;
      line-height: 1.47;
      letter-spacing: 0.7px;
    }
  }
}
