.speak-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 1.5rem;
  margin: 0 auto 6.25rem auto;
  color: #2b383c;
}

.card {
  max-width: 384px;
  cursor: pointer;
  border-radius: 20px;
  max-height: 463px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 163px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.6);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 1;
  }
}
.img-container {
  background-color: #f6ebcc;
  width: 384px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.name {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
}
.job-title {
  font-size: 1rem;
  text-align: center;
}
.tab {
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .speak-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .speak-container {
    grid-template-columns: 1fr;
  }
  .img-container {
    max-width: 343px;
  }
  .card {
    max-width: 343px;
    max-height: 463px;
  }
}
