.container {
  margin: 0 auto;
  margin-bottom: 160px;
}
.centeredImgStyle {
  margin: 0 auto;
  max-width: 588px;
  max-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.centeredImgStyle img {
  -webkit-user-drag: none;
  width: 100%;
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 343px;
  }
  .h1 {
    font-size: 24px;
  }
  .p {
    font-size: 16px;
  }
}
