.sectionApp {
  @include bgCenter;
  width: calc(100% + 80px);
  height: 679px;
  margin-top: 191px;
  margin-left: -40px;
  background-image: url('./images/bg.png');
  @include rwd(md) {
    width: 100%;
    height: auto;
    height: initial;
    margin: 59px 0 0 0;
    background-image: url('./images/bg-s.png');
    background-size: auto 264px;
    background-position: 50% 110%;
  }

  @include rwd(pad) {
    background-size: auto 200px;
    background-position: 50% 109.5%;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    overflow: hidden;

    @include rwd(md) {
      flex-flow: column nowrap;
    }
  }

  &__info {
    @include rwd(md) {
      text-align: center;
    }
    &__title {
      margin-bottom: 4px;
      color: $colorThird;
      font-size: 32px;
      font-weight: bold;
      @include rwd(pad) {
        font-size: 24px;
      }
    }

    &__text {
      letter-spacing: 0;
    }

    &__downloads {
      display: flex;
      margin-top: 27px;
      @include rwd(md) {
        justify-content: center;
      }

      .google-play {
        @include bgCenter(150px, 44px);
        background-image: url('./images/google-play.png');
      }

      .app-store {
        @include bgCenter(131px, 44px);
        margin-left: 25px;
        background-image: url('./images/app-store.png');
      }
    }
  }

  &__phone {
    @include bgCenter(340px, 669px);
    margin: 0 0 -330px 92px;
    background-image: url('./images/phone.png');

    @include rwd(md) {
      height: 402px;
      margin: 47px 0 100px 0;
      background-position: top center;
      margin-bottom: 55px;
    }

    @include rwd(pad) {
      width: 224px;
      height: 265px;
    }
  }
}
