#About {
  background-color: #0d1336;
}
h2 {
  @include font(40px, $colorWhite, 600);
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex(center, row, center);
}
@include screen(pad) {
  ul {
    flex-wrap: wrap;
  }
}
li {
  width: 50%;
  p {
    text-align: center;
    @include font(24px, $colorWhite, 600);
  }
  .num {
    @include font(80px, $colorOrange, 600);
    margin: 0;
  }
}
@include screen(pad) {
  .num {
    font-size: 48px;
  }
}
.line-gray {
  margin-top: 80px;
}
@include screen(pad) {
  .line-gray {
    margin-top: 60px;
  }
}
