.schedule {
  &__tagDesc {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 1050px;
    margin: 0 auto;
    @include rwd(md) {
      justify-content: flex-start;
    }
    &__item {
      display: flex;
      align-items: center;
      margin: 8px 30px;
      color: $colorWhite;
      font-size: 14px;
      @include rwd(xs) {
        align-items: flex-start;
      }

      &__tag {
        flex: 0 0 auto;
        width: 78px;
        span {
          display: inline-block;
          height: 24px;
          padding: 0 8px;
          border: solid 1px $colorWhite;
        }
      }

      &__text {
        flex: 0 0 auto;
        width: calc(100% - 78px);
        margin-left: 5px;
      }
    }
  }

  &__timeList {
    max-width: 1085px;
    margin: 23px auto 0 auto;
    @include rwd(pad) {
      margin-top: 80px;
      padding: 0 25px;
    }
  }

  &__filter {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    max-width: 942px;
    margin: 19px auto 0 auto;

    &__card {
      width: 100%;
      max-width: 300px;
      margin: 7px !important;

      @include rwd(md) {
        max-width: calc(50% - 14px);
      }
      @include rwd(sm) {
        max-width: 100%;
        margin: 7px 25px !important;
        ::v-deep .card__content__tags,
        ::v-deep .card__content__name,
        ::v-deep .card__content__promptTags,
        ::v-deep .card__content__speaker {
          max-width: 100%;
        }
      }

      ::v-deep .card__head {
        padding: 8px 20px;
        text-align: left;
      }
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 480px;
    margin: 0 auto;
    @include rwd(sm) {
      width: calc(100% - 50px);
    }

    &__bg {
      @include bgCenter;
      width: 100%;
      height: 0;
      padding-top: 21.6%;
      background-image: url('./images/bg-empty.png');
    }

    &__title {
      margin-top: 67px;
      color: $colorPrimary;
      font-size: 24px;
      @include rwd(sm) {
        margin-top: 36px;
        font-size: 20px;
        line-height: 1.45;
      }
    }
  }

  .schedule__tool.mobile {
    display: none;
    @include rwd(pad) {
      display: block;
      margin-top: 57px;
    }
  }
}
