.eventResult {
  width: 100%;
  padding: 107px 0 198px 0;
  @include rwd(pad) {
    padding: 25px 0 38px 0;
  }
  &:after {
    @include bgCenter;
    content: "";
    position: absolute;
    top: 0;
  }
  &:after {
    top: -70%;
    left: -50%;
    width: 1150px;
    height: 1150px;
    background-image: url("./images/bg-cover.png");
    @include rwd(md) {
      top: -80%;
      left: -80%;
    }
    @include rwd(pad) {
      top: -110%;
      left: -110%;
    }
    @include rwd(sm) {
      top: -150%;
      left: -150%;
    }
  }

  .section-logo {
    max-width: 1280px;
    margin: 0 auto 145px auto;
    @include rwd(pad) {
      margin: 0 auto 17px auto;
    }
  }

  .eventResult__logo {
    @include bgCenter;
    width: 504px;
    height: 104px;
    background-image: url("./images/logo.png");
    @include rwd(pad) {
      width: 87px;
      height: 31px;
      background-image: url("./images/logo-s.png");
    }
  }

  &__content {
    display: flex;
    padding: 0;
    @include rwd(pad) {
      flex-flow: column nowrap;
    }

    &__image {
      align-self: flex-start;
      width: calc(100% - 318px);
      @include rwd(pad) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &__info {
      display: flex;
      flex-flow: column nowrap;
      width: 258px;
      margin-left: 60px;
      @include rwd(pad) {
        width: 100%;
        margin-left: 0;
        padding: 0 55px;
      }

      .subtitle {
        line-height: 1.25;
      }

      .desc {
        margin: 25px 0;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: 1.2px;
      }

      .subtitle,
      .desc {
        @include rwd(pad) {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.8px;
        }
      }

      .fb-share {
        margin: auto 0 10px 0;
        @include rwd(pad) {
          align-self: center;
        }
      }
    }
  }
}
