@import '~@/assets/styles/_mix';
#ticket {
  .header-width {
    @apply w-full mx-auto;
    @screen lg {
      @apply w-1/2 mx-auto;
    }
    @screen md {
      @apply w-2/3 mx-auto;
    }
  }
  .background-title {
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    left: 50%;
    @apply absolute z-0 whitespace-no-wrap opacity-25;
  }
  .logo-main {
    min-height: 174px;
    background: url('./images/joinus@2x.png');
    @apply bg-contain bg-no-repeat bg-center;
  }
  .top h2 {
    @screen md {
      @include border-primary;
    }
  }
}
