{% extends 'main.twig' %}

{% block content %}

<header class="header text-center relative" id="particles-js">
	<div class="planet-logo"></div>
	<div class="header-block">
		<div class="header-logo">
			<img src="images/cfp-logo.png" srcset="images/cfp-logo@2x.png 2x, images/cfp-logo@3x.png 3x" alt="cfplogo" class="img-responsive center-block common-idx mbxl">
			<img src="images/n-e-e-d-y-o-u.png" srcset="images/n-e-e-d-y-o-u@2x.png 2x, images/n-e-e-d-y-o-u@3x.png 3x" alt="mopcon needyou" class="img-responsive center-block common-idx">
		</div>
		<a class="btn cfp-link cfp-l" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfr">許願講者</a>
		<a class="btn cfp-link cfp-l" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfp">我要投稿</a>
	</div>
</header>

<div class="container-md relative ovh">
	<div class="planet-1"></div>
	<div class="planet-2"></div>
	<div class="planet-3"></div>
	<div class="card">
		<div class="card-body pd50">
			<h1 class="cfp-title text-center">
			    徵稿啟事
			</h1>
			<h4 class="cfp-sub text-center">Calling for Presentation</h4>
			<hr style="width: 41px;height: 2px; background-color: #85cfd0;">
			<p class="text-center">
				為了議程的多元化，我們開創以往研討會所沒有的形式：<br/>
				「推薦講者」，與「議程徵稿」。<br/>
				讓實戰經驗得以充分呈現給與會的朋友！
			</p>
			<br>	
			<h3 class="card-head comma" id="cfp2">活動辦法</h3>
			<h4 class="card-sub">活動時間</h4>
		    <ul>
		    	<li>推薦講者從即日起至 7/31 。</li>
			    <li>徵稿日從即日起至 8/31（我們將於 9/15 通知您的講題是否入選）。</li>
		    </ul>
			<br>

			<h3 class="card-head comma" id="cfp3">投稿方式</h3>
			<p>請依照以下格式，填妥報名表單。</p>
			<h4 class="card-sub">推薦講者格式</h4>
			<ul>
                <li>講者姓名（網路暱稱亦可）。</li>
                <li>講者聯絡信箱（可於「備註」欄位提供其他聯絡方式）。</li>
                <li>講者介紹連結。</li>
                <li>推薦人名稱（網路暱稱亦可）。</li>
                <li>推薦理由：可提及講者擅長的領域。</li>
                <li>您希望他演講的主題。</li>
            </ul>
			<br>
			<h4 class="card-sub">議程投稿格式</h4>
			<ul>
                <li>講者姓名（網路暱稱亦可）。</li>
                <li>聯絡方式。</li>
                <li>講者簡介。</li>
                <li>演講主題。</li>
                <li>主題簡介。</li>
                <li>授權方式（請參考下方影片著作權說明）。</li>
            </ul>
			<br>
			<h4 class="card-sub">入選獎勵</h4>
			<ul>
                <li>一旦您推薦之講者最終得以由 MOPCON 議程委員會表決通過並邀請成功，我們將會贈送您大會入場門票一張。</li>
                <li>一旦您投稿的主題入選，我們將會贈送您大會入場門票一張、MOPCON 2016 紀念 T-shirt、講者晚宴席次、交通費補助。</li>
            </ul>
			<h3 class="card-head comma" id="cfp4">主題說明</h3>
			<h4 class="card-sub">大會主題以「行動。運算。實體」為主軸，包含但不限於以下：</h4>
			<ul>
                <li>行動軟體開發技術</li>
                <li>行動數據分析與應用</li>
                <li>物聯網</li>
                <li>開放資料</li>
                <li>遊戲開發</li>
                <li>經營管理 or Growth Hack</li>
                <li>VR / AR</li>
                <li>UI / UX</li>
                <li>DevOps</li>
            </ul>
			<!-- <br>
			<h3 class="card-head comma" id="cfp5">演講協助</h3>
			<p>當您的主題入選為大會議程，我們將會提供以下協助：</p>
			<ul>
			    <li>協助主題內容編排，讓您不再為簡報內容太長或太短而煩惱。</li>
			    <li>協助製作投影片美化和風格調整。</li>
			    <li>於大會議程中進行錄影，並於後製完成後，置放於公開的網路影音平台。</li>
			    <li>提供 Open Lab 場地時段，在會場推廣您的行動應用、服務，或者產品。</li>
			</ul> -->
			<br>
			<h3 class="card-head comma" id="cfp6">演講錄影影片之著作權</h3>
			<p>您的演講將會由大會進行錄影，並於後製完成後，置放於公開的網路影音平台（Youtube）。<br>因此，您必須同意以下條件（擇一），我們才能接受您的議程投稿。</p>
			<ul>
                <li>授予 MOPCON 錄影後製與透過公開線上影音平台出版之權利；或是</li>
                <li>以 CC BY 3.0 姓名標示方式授權；或是</li>
                <li>以 CC BY-SA 3.0 姓名標示-相同方式授權；或是</li>
                <li>以 CC BY-NC 3.0 姓名標示-非商業性方式授權；或是</li>
                <li>謝絕所有錄音錄影，但接受 MOPCON 工作人員進行文字紀錄</li>
            </ul>
		</div>
	</div>
</div>

{% endblock %}


{% block footer %}
    <a class="btn cfp-link" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfr">許願講者</a>
    <a class="btn cfp-link" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfp">我要投稿</a>
{% endblock %}