{% extends 'main.twig' %}

{% block content %}

<header class="header text-center relative" id="particles-js">
	<div class="planet-logo"></div>
	<div class="header-block">
		<div class="header-logo">
			<img src="images/cfp-logo.png" srcset="images/cfp-logo@2x.png 2x, images/cfp-logo@3x.png 3x" alt="cfplogo" class="img-responsive center-block common-idx mbxl">
			<img src="images/n-e-e-d-y-o-u.png" srcset="images/n-e-e-d-y-o-u@2x.png 2x, images/n-e-e-d-y-o-u@3x.png 3x" alt="mopcon needyou" class="img-responsive center-block common-idx">
		</div>
		<a class="btn cfp-link cfp-l" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfp-en">Call for Presentation</a>
	</div>
</header>

{% endblock %}