.section-speaker {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 172px;

  .title {
    margin-bottom: 48px;
  }

  &__content {
    &__title {
      color: $colorSecondary;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.11;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 1.67;
      letter-spacing: 1.2px;
    }

    .speakers {
      display: flex;
      margin: 20px 0 50px 0;
      @include rwd(pad) {
        flex-flow: column nowrap;
        margin: 19px 0 79px 0;
      }

      .speakers__item + .speakers__item {
        margin-left: 30px;
        @include rwd(pad) {
          margin-top: 31px;
          margin-left: 0;
        }
      }

      &__item {
        @include flexCenter;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        padding: 42px 30px;
        transition: all 0.3s;
        border: solid 1px $colorPrimary;
        background-color: $colorBg;

        &:hover {
          background-color: $colorBg3;
        }

        &__topic {
          @include moreText;
          position: absolute;
          top: -61px;
          left: 0;
          width: 100%;
          color: $colorWhite;
          font-size: 24px;
          line-height: 1.67;
          letter-spacing: 1.2px;
        }

        &__avatar {
          flex: 0 0 auto;
          width: 140px;
          height: 140px;
          margin-bottom: 10px;
          border-radius: 50%;
        }

        &__name {
          color: $colorWhite;
          font-size: 24px;
          line-height: 1.5;
        }

        &__company {
          color: $colorGray;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }

    .speakers-keynotes {
      display: flex;
      margin: 0px 0 50px 0;
      @include rwd(pad) {
        flex-flow: column nowrap;
        margin-bottom: 79px;
      }

      &__item {
        flex: 1;

        &__title {
          margin-bottom: 21px;
          color: $colorWhite;
          font-size: 24px;
          line-height: 1.67;
          letter-spacing: 1.2px;
        }

        &__content {
          @include flexCenter;
          flex-flow: column nowrap;
          padding: 42px 30px;
          transition: all 0.3s;
          border: solid 1px $colorPrimary;
          background-color: $colorBg;

          &:hover {
            background-color: $colorBg3;
          }
        }

        &__avatar {
          flex: 0 0 auto;
          width: 140px;
          height: 140px;
          margin-bottom: 10px;
          border-radius: 50%;
        }

        &__name {
          color: $colorWhite;
          font-size: 24px;
          line-height: 1.5;
        }

        &__company {
          color: $colorGray;
          font-size: 16px;
          line-height: 1.5;
        }
      }

      .speakers-keynotes__item + .speakers-keynotes__item {
        margin-left: 30px;
        @include rwd(pad) {
          margin-top: 44px;
          margin-left: 0;
        }
      }
    }
  }

  &__more {
    align-self: flex-end;
    margin-top: -16px;
    padding-bottom: 3px;
    border-bottom: solid 1px $colorWhite;
    color: $colorWhite;
    font-size: 16px;
    letter-spacing: 0.8px;

    @include rwd(pad) {
      margin-top: -48px;
    }
  }
}
