#History {
  background: $colorWhite;
  padding-bottom: 104px;
}
h3 {
  @include font(40px, $colorPrimary, 600);
  br {
    display: none;
  }
}
ul {
  list-style: none;
  @include flex(flex-start, row, center);
  overflow-x: scroll;
  li {
    padding: 24px;
    p {
      @include font(24px, $colorPrimary, 600);
    }
  }
}
@for $i from 13 through 20 {
  .mosume_20#{$i} {
    background-image: url(./images/Mosume_20#{$i}.png);
    @include bgCenter(320px, 320px);
    background-size: contain;
  }
}
@include screen(sm) {
  #History {
    padding-bottom: 72px;
  }
  h3 {
    font-size: 40px;
    br {
      display: block;
    }
  }
  ul {
    li {
      padding: 8px;
    }
  }
  @for $i from 13 through 20 {
    .mosume_20#{$i} {
      width: 160px;
      height: 160px;
    }
  }
}
