#About {
  background: #0d1336;
}
.container {
  padding-top: 120px;
  @include flex(space-between, row, flex-start);
  flex-wrap: nowrap;
}
.aboutTextContainer {
  h4 {
    width: 525px;
  }
  h3 {
    @include font(56px, $colorOrange, 600);
  }
  h4 {
    @include font(20px, $colorWhite, 400);
  }
}
.aboutImgContainer {
  .decorateCircle {
    width: 900px;
    height: 900px;
    border-radius: 999em;
    background: linear-gradient(180deg, #2b314f 0%, #0d1336 100%);
    img {
      width: 560px;
      height: 560px;
    }
  }
}

@include screen(md) {
  .container {
    flex-direction: column;
  }
  .aboutTextContainer {
    margin-bottom: 48px;
  }
  .aboutImgContainer {
    height: 676px;
    padding-left: 145px;
    overflow-y: hidden;
  }
}
@include screen(pad) {
  .container {
    padding-top: 80px;
  }
  .aboutTextContainer {
    margin-bottom: 80px;
    h4 {
      width: 100%;
    }
  }
  .aboutImgContainer {
    height: 640px;
    padding-left: 120px;
  }
}

@include screen(sm) {
  .container {
    padding-top: 48px;
  }
  .aboutTextContainer {
    margin-bottom: 48px;
    h3 {
      font-size: 48px;
    }
  }
  .aboutImgContainer {
    height: 368px;
    padding-left: 0;
    .decorateCircle {
      width: 480px;
      height: 480px;
      img {
        width: 320px;
        height: 320px;
      }
    }
  }
}
