<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <title>
    {{ main.pagetitle }}
  </title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <link rel="stylesheet" type="text/css" href="{{ baseUrl('assets/css/all.css') }}">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  {# <script type="text/javascript" src="{{ baseUrl('/assets/js/bootstrap.js') }}"></script> #}

</head>

<body>
<div class="wrapper">
  <!-- header -->
  <header class="header">
	<div class="container text-right">
		<a href="?lang=zh">中文</a>
		/
		<a href="?lang=en">English</a>
	</div>
</header>
  {% block content %} {% endblock %}
  <!-- footer -->
  <footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="text-center">Copyright © 2018 Mobile Open Platform Conference.
					<a href="code-of-conduct.html">行為準則 Code of Conduct</a>
				</p>
				
			</div>
		</div>
	</div>
</footer>
</div>
</body>

</html>
