$badge_size: 79px;

@mixin badge_animate($offset, $rotate_name) {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    .badgePic,
    .badgeCycle {
        position: absolute;
        top: 0;
    }
    .badgeCycle {
        width: $badge_size;
        height: $badge_size;
        background: #fff;
        border-radius: 50%;
        opacity: .6;
        left: $offset;
    }

    .badgeFornt {
        perspective: 50em;
    }
    
    .badge-scale {
        opacity: 0;
        animation: scale 4.5s linear forwards 1;
    }
    
    .badge-rotatey {
        position: absolute;
        transform-style: preserve-3d;
        opacity: 0;
        animation: $rotate_name 4.5s ease-out forwards 1;

        img {
            max-width: $badge_size * 2;
            max-height: $badge_size * 2;
        }
    }
    
    .badge-opacity {
        width: 67px;
        height: 67px;
        opacity: 1;
        animation: opacity 4.5s ease-out forwards 1;
    }
}

.badgePic {
    position: absolute;
}

.badgeWrapper {
    z-index: 1;
    @include badge_animate(0px, 'rotatey');
}

.badgeWrapper-left {
    z-index: 2;
    @include badge_animate(100px, 'rotatey-left');
}

.badgeWrapper-right {
    z-index: 2;
    @include badge_animate(-100px, 'rotatey-right');
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    5% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    23% {
        opacity: .3;
    }
    24% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotatey {
    0% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1);
    }
    10% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    15% {
        opacity: 0.3;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    20% {
        opacity: 1;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    27% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(1);
    }
    35% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) rotatey(-180deg) scale(1);
    }
    50% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(1);
    }
    88% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(1);
    }
    91% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(2);
    }
    95% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    100% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
        opacity: 1;
    }
}

@keyframes rotatey-left {
    0% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1);
    }
    10% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    15% {
        opacity: 0.3;
        transform: translate(($badge_size / 2) * -1 + 50, ($badge_size / 2) * -1) scale(0.5);
    }
    20% {
        opacity: 1;
        transform: translate(($badge_size / 2) * -1 + 100, ($badge_size / 2) * -1) scale(0.5);
    }
    27% {
        transform: translate(($badge_size / 2) * -1 + 100, ($badge_size / 2) * -1) scale(1);
    }
    35% {
        transform: translate(($badge_size / 2) * -1 + 100, ($badge_size / 2) * -1) rotatey(-180deg) scale(1);
    }
    50% {
        transform: translate(($badge_size / 2) * -1 + 100, ($badge_size / 2) * -1) scale(1);
    }
    88% {
        transform: translate(($badge_size / 2) * -1 + 100, ($badge_size / 2) * -1) scale(1);
    }
    91% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(2);
    }
    95% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    100% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
        opacity: 1;
    }
}

@keyframes rotatey-right {
    0% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1);
    }
    10% {
        opacity: 0;
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    15% {
        opacity: 0.3;
        transform: translate(($badge_size / 2) * -1 - 50, ($badge_size / 2) * -1) scale(0.5);
    }
    20% {
        opacity: 1;
        transform: translate(($badge_size / 2) * -1 - 100, ($badge_size / 2) * -1) scale(0.5);
    }
    27% {
        transform: translate(($badge_size / 2) * -1 - 100, ($badge_size / 2) * -1) scale(1);
    }
    35% {
        transform: translate(($badge_size / 2) * -1 - 100, ($badge_size / 2) * -1) rotatey(-180deg) scale(1);
    }
    50% {
        transform: translate(($badge_size / 2) * -1 - 100, ($badge_size / 2) * -1) scale(1);
    }
    88% {
        transform: translate(($badge_size / 2) * -1 - 100, ($badge_size / 2) * -1) scale(1);
    }
    91% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(2);
    }
    95% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
    }
    100% {
        transform: translate(($badge_size / 2) * -1, ($badge_size / 2) * -1) scale(0.5);
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: translate(20px, 20px) scale(2);
    }
    50% {
        opacity: 0;
    }
    53% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    57% {
        opacity: 1;
    }
    59% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}