.badgeWrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    .badgePic,
    .badgeCycle {
        position: absolute;
    }
    .badgeCycle {
        width: 110px;
        height: 110px;
        background: #fff;
        border-radius: 50%;
        opacity: .6;
    }
}

.badgeFornt {
    perspective: 50em;
}

.badge-scale {
    opacity: 0;
    animation: scale 4.5s linear forwards 1;
}

.badge-rotatey {
    transform-style: preserve-3d;
    opacity: 0;
    animation: rotatey 4.5s ease-out forwards 1;
}

.badge-opacity {
    opacity: 0;
    animation: opacity 4.5s ease-out forwards 1;
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    5% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    23% {
        opacity: .3;
    }
    24% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotatey {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        transform: scale(0.5);
    }
    15% {
        opacity: 0.3;
    }
    20% {
        opacity: 1;
        transform: scale(0.5);
    }
    27% {
        transform: scale(1);
    }
    35% {
        transform: rotatey(-180deg) scale(1);
    }
    50% {
        transform: scale(1);
    }
    88% {
        transform: scale(1);
    }
    91% {
        transform: scale(2);
    }
    95% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0.5);
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    50% {
        opacity: 0;
    }
    53% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    57% {
        opacity: 1;
    }
    59% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}