.btn {
    cursor: pointer;
    margin: 0 5px 5px 0;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    // padding: 10px 12px;
}

.btn-lg {
    font-size: $font-larger;
}

.btn-default {
    border: 1px solid $colorWhite;
    background: none;
    color: $colorWhite;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $colorWhite;
        background: $colorWhite;
        color: $colorMainFirst;
    }
}
.btn-getTicket{
    border: 3px solid #f3e38c;
    background: none;
    color: #f3e38c;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid #f3e38c;
        background: #f3e38c;
        color: $colorMainFirst;
    }
}
.btn-primary {
    border: 1px solid $colorMainFirst;
    background: none;
    color: $colorMainFirst;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $colorMainFirst;
        background: $colorMainFirst;
        color: $colorWhite;
    }
}

.btn-warning {
    border: 1px solid $colorMainThird;
    background: none;
    color: $colorMainThird;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $colorMainThird;
        background: $colorMainThird;
        color: $colorMainFirst;
    }
}

.btn-detail{
    font-size: $font-small;
    padding: 5px 10px;
    background-color: $colorMainSecond;
    border-radius: 5px;
    color: #fff;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        background: $colorMainFirst;
        color:#fff;
    }

} 

.btn-switch {
    border: 1px solid $colorMainSecond;
    background: none;
    color: $colorMainSecond;
    font-size: $font-large;
    padding: 0.5rem 4rem;
    text-shadow: 0px 0px 10px $colorMainfourth;
    @include pad-below() {
        padding: 0.5rem 3rem;
    }
    @include mobile() {
        padding: 0.5rem 2.5rem;
    }
    &:first-child {
        border-radius: 10px 0 0 10px;
        margin: 0;
    }
    &:last-child {
        border-radius: 0 10px 10px 0;
    }
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $colorMainSecond;
        background: $colorMainSecond;
        color: #fff;
    }
}

.btn-group-switch {
    margin: auto;
}

.switch {
    text-align: center;
    margin: 20px auto;
}
