.detailBox {
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    width: 100vw;
}

.detailBox_content {
    background-color: #fff;
    border: 5px solid $colorMainSecond;
    border-radius: 25px;
    box-shadow: 0px 0px 10px $gray-dark;
    padding: 30px 20px;
    margin: auto;
    max-width: 650px;
    position: relative;
    @include pad-below() {
        margin: 15px;
    }
}

.detailBox_content_cancel {
    color: $colorMainSecond;
    position: absolute !important;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.detailBox_content_schedule {
    p {
        color: $gray;
    }
    .pic-detail {
        border-radius: 50%;
        width: 100px;
        display: inline-block;
        vertical-align: middle;
    }
    .scheduleTable-subject {
        background-color: $colorMainSecond;
        margin: 20px -20px;
        text-align: center;
        padding: 15px 0;
        font-size: $font-large;
        color: #fff;
    }
}

.detailBox_content_schedule_speaker {
    text-align: center;
    margin-bottom: 20px;
    h4 {
        margin-left: 10px;
        color: $colorMainfourth;
    }
}

.detailBox-link {
    text-align: center;
    margin-top: 20px;
    a.slide-link {
        border: 3px solid $colorSubfourth;
        border-radius: 8px;
        color: $colorSubfourth;
        padding: 8px 10px;
        font-size: $font-small;
        &.is-active,
        &:hover,
        &:focus,
        &:active {
            background-color: $colorSubfourth;
            color: #fff;
        }
        &:before {
            content: '';
            vertical-align: sub;
            display: inline-block;
            width: 25px;
            height: 17px;
            margin-right: 10px;
            background: url(../images/link-slide.svg) no-repeat;
        }
    }
}
