.floater {
    position: fixed;
    right: 0;
    z-index: 999;
    bottom: 25vh;
    display: block;
    @include pad-below() {
        bottom: 0;
        width: 100%;
    }
}

.floater_pic {
    transform: rotate(-36deg);
    background: url(./../images/floater-pic.png) no-repeat;
    background-size: 103px 134px;
    height: 269px;
    position: absolute;
    width: 204px;
    bottom: -88px;
    left: 46px;
    z-index: -1;
    @include pad-below() {
        display: none;
    }
}

.floater_content {
    font-size: 15px;
    z-index: 99;
    background-color: #e81d73;
    color: #fff;
    padding: .25rem .25rem .25rem 1rem;
    font-size: 1.4rem;
    border-radius: 2rem 0 0 2rem;
    letter-spacing: .1rem;
    .fa-chevron-right {
        animation: move .75s infinite none running;
    }
    @include pad-below() {
        border-radius: 0;
        text-align: center;
        padding: .25rem;
    }
}

@keyframes move {
    0%,100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}