.icon {
    display: inline-block;
    background: $colorMainFirst;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    &:before {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 1rem 1rem;
        height: 2rem;
        width: 2rem;
    }
    &:hover,
    &:focus,
    &:active {
        transition: all 0.3s ease-in-out;
        background: $colorMainSecond;
    }
}

.icon-fb {
    &:before {
        content: '';
        background-image: url(../images/icon-fb.svg);
    }
}

.icon-github {
    &:before {
        content: '';
        background-image: url(../images/icon-github.svg);
    }
}

.icon-blog {
    &:before {
        content: '';
        background-image: url(../images/icon-blog.svg);
    }
}

.icon-link {
    &:before {
        content: '';
        background-image: url(../images/icon-link.svg);
    }
}