.pageHead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 85px auto;
    width: 100%;
    overflow: hidden;
    @include pad-below() {
        margin: 40px auto;
    }
    img {
        max-width: 120%;
    }
}