.pic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:before {
        width: 100%;
        padding-top: 100%;
        content: '';
        display: block;
    }
}

.pic-speaker {
    border-radius: 50%;
    border: 10px solid $colorMainSecond;
}

.pic-item {
    margin: 5px auto;
    padding-left: 5px;
    padding-right: 5px;
}

.pic-radius {
    border-radius: 15px;
    @include pad-below () {
        margin-bottom: 20px;
    }
}

.pic-cycle {
    border-radius: 50%;
    @include pad-below () {
        margin-bottom: 20px;
    }
}