.table {
    text-align: center;
}

th {
    color: #fff;
    text-align: center;
}

td {
    background-color: #fff;
    border-top: none!important;
    border: 3px $colorMainFirst solid;
    vertical-align: inherit !important;
}

tr:first-child {
    background-color: $colorMainSecond;
    border: 3px $colorMainFirst solid;
}


