.title {
    margin-top: 10%;
    margin-bottom: 5%;
    position: relative;
}

.title_en {
    color: $colorSubSecond;
    position: relative;
    font-size: $font-larger;
    padding-left: 3.5em;
    line-height: 1.4;
    @include mobile() {
        font-size: $font-large;
    }
    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background: url(../images/title-deco-gear.svg) no-repeat;
        background-size: contain;
    }
}

.title_ch {
    margin-top: 80px;
    color: $colorMainThird;
    font-size: 3rem;
    position: relative;
    @include pad () {
        font-size: $font-larger;
        margin-top: 30px;
    }
    @include pad-below () {
        font-size: $font-larger;
        margin-top: 30px;
    }
    @include mobile() {
        font-size: $font-larger;
        margin-top: 30px;
    }
    &:after {
        content: '';
        background-color: $colorSubThird;
        border-radius: 50%;
        width: .8em;
        height:.8em;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-left: .5rem;
    }
}

.title-twiDot {
    color: $colorMainThird;
    font-size: 3rem;
    &:before,&:after{
    	content: '::';
    }
}
.title-twiDot-h2{
    font-size:2rem; 
    color:$colorSubThird;
}
.title-deco-dot {
    background: url(../images/title-deco-dot.svg) no-repeat;
    position: absolute;
    right: 0;
    top: -25%;
    width: 45%;
    max-width: 380px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    &:before {
        padding-top: 100%;
        content: '';
        display: block;
    }
}
