{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-app.svg" alt="交流場次標題圖片">
</section>

<section class="container">
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="text-center">
                    Android
                </h3>
                <a href="#">
                    <img src="/images/android.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="text-center">
                    IOS
                </h3>
                <a href="#">
                <img src="/images/ios.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h2>
                    MOPCON-APP隱私權政策
                </h2>
                <p>
                    為保護您的隱私權，請您詳細閱讀以下有關 MOPCON-APP之「隱私權政策」，請注意，本隱私權政策會不定時變更。我們不會在未經您同意的情況下，削減本隱私權政策賦予您的權利。
                    <br/>
                    <br/>
                    <strong>1.隱私權保護政策適用範圍</strong><br/>
                    隱私權保護政策內容，包括本 APP如何處理在您使用 APP服務時收集到的個人識別資料。<br/>
                    <br/>
                    <strong>2.Cookie的使用</strong><br/>
                    我們使用 Cookie追蹤您的 ID以確保大地遊戲功能進行中的搜集徽章順利，以及推播 MOPCON相關的活動消息內容。<br/>
                    <br/>
                    <strong>3.應用程式</strong><br/>
                    使用 ＭOPCON-APP時需存取裝置之功能包含「相機」，用於 APP功能「大地遊戲-搜集徽章」將會開啟您的相機鏡頭，以利掃描徽章的 QR CODE，完成遊戲的進行。<br/>
                    <br/>
                    <strong>4.聯絡與溝通</strong><br/>
                    APP隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上，若有任何問題歡迎聯絡 contact@mopcon.org。        
                </p>
            </div>
        </div>
    </div>
    <br>
    

</section>


{% endblock %}
