{% extends 'main.twig' %}

{% block content %}

<header class="header text-center">
  <div class="header_mainVisual">
    <div class="mainVisualPic"></div>
  </div>
  <div class="header_btnGroup">
    <a href="heatmap.php?from_app=1" class="btn btn-getTicket">室內熱度圖</a>
    <a href="schedule.php?from_app=1" class="btn btn-getTicket">議程</a>
    <a href="speaker.php?from_app=1" class="btn btn-getTicket">講師</a>
    <a href="sponsor.php?from_app=1" class="btn btn-getTicket">贊助商</a>
    <a href="badge.php?from_app=1" class="btn btn-getTicket">MOPCON 徽章</a>
  </div>
</header>

{% endblock %}
