{% extends 'main.twig' %}

{% block content %}
<div class="container badgeContainer">
    <button onclick="test('icon1')">TEST1</button>
    <button onclick="test('icon2')">TEST2</button>
    <div class="illustration">
        <div id="icon1" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon2" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
    </div>
    <p class="collection">
        已收集數量：1 / 30
    </p>
    <div class="func">
        <div onclick="gotoScan()">
            <img src="images/scan.png" alt="">
            徽章掃描
        </div>
        <div>活動說明</div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title sponsor" id="exampleModalLabel">
                    KKBOX
                </p>
                <p class="time">
                    2017/10/29 10:12 獲得。
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="logo">
                    <img src="images/badge.png" alt="">
                </div>
                <div class="intro">
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                    KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字。
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();
    }

    const test = (icon) => {
        $(`#${icon}`).addClass('badgeWrapper');
        $(`#${icon}`).find('.badgeFornt').find('img').attr('src', 'images/badge/badge001-2.png');
    }

    const gotoScan = () => {
        location.href = 'qrcode.php?type=badge';
    }

    const toggleModal = () => {
        $('#myModal').modal('show');
    }
</script>
{% endblock %}