{% extends 'main.twig' %}

{% block content %}
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '326056827805047',
            xfbml      : true,
            version    : 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container badgeContainer">
    <div style="margin-bottom: 10px;">
        <button onclick="triggerBadge('4')">TEST4</button>
        <button onclick="triggerBadge('5')">TEST5</button>
        <button onclick="triggerBadge('6')">TEST6</button>
    </div>
    <div class="illustration">
        <div id="icon1" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon2" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon3" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon4" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon5" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div id="icon6" class="badge_icon" onclick="toggleModal()">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge002.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
        <div class="badge_icon"></div>
    </div>
    <p class="collection">
        已收集數量：1 / 30
    </p>
    <div class="func">
        <div onclick="gotoScan()">
            <img src="images/scan.png" alt="">
            徽章掃描
        </div>
        <div onclick="gotoDescription()">活動說明</div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title sponsor" id="exampleModalLabel">
                        KKBOX
                    </p>
                    <p class="time">
                        2017/10/29 10:12 獲得。
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="shareBtn" onclick="fbShare()" >
                        <a class="fa fa-facebook-square fa-2x" target="_blank" title="MOPCON"></a>
                        <span>分享</span>
                    </p>
                </div>
                <div class="modal-body">
                    <div class="logo">
                        <img src="images/badge/badge002.png" alt="">
                    </div>
                    <div class="intro">
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字，
                        KKBOX介紹文字，KKBOX介紹文字，KKBOX介紹文字。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();
    }

    function triggerBadge(index) {
        var mod = index % 3;
        var className;

        if (mod === 1) { // left
            className = 'badgeWrapper-left';
        } else if (mod === 2) { // center
            className = 'badgeWrapper';
        } else { // right
            className = 'badgeWrapper-right';
        }

        $('#icon' + index).addClass(className);
        $('#icon' + index).find('.badgeFornt').find('img').attr('src', 'images/badge/badge001-2.png');
    }

    function gotoScan() {
        location.href = 'qrcode.php?type=badge';
    }

    function gotoDescription() {
        location.href = 'description.php';
    }

    function toggleModal() {
        $('#myModal').modal('show');
    }

    function fbShare() {
        var url = 'https://www.kkbox.com/tw/tc/index.html';
        var title = 'MOPCON 徽章'
        var description = '「我在ＭＯＰＣＯＮ獲得了一個KKBOX徽章，快來一起收集換獎品」'; 
        var image = document.location.href.replace('badge.php', '') + 'images/badge/badge002.png';

        FB.ui({
            method: 'share_open_graph',
            action_type: 'og.shares',
            action_properties: JSON.stringify({
                object: {
                    'og:url': url,
                    'og:title': title,
                    'og:description': description,
                    'og:image': image,
                }
            })
        }, function(response) {});
    }
</script>
{% endblock %}