{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-community.svg" alt="社群標題圖片">
</section>

<!-- community -->
<section class="container">
    <div class="sponsor_content">
        <div class="content-radius">
            <div class="row">
            {% for id, data in community %}
                <div class="pic-item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    {% if from_app == true %}
                        <a href="community.php?id={{data['id']}}&from_app=1">
                    {% else %}
                        <a href="community.php?id={{data['id']}}">
                    {% endif %}
					<div class="pic pic-radius" style="background-image:url(./images/community/{{ data['image'] }});"></div>
					</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
