{% extends 'main.twig' %}

{% block content %}
<div id="descriptionContainer">
    <div class="descript">
        活動目的為收集兩天來於議場內藏在各處的MOPCON徽章，藉此更了解不同的攤位以及MOPCON本身，如果收集到一定數量，還能跟工作人員換取神秘禮物唷～
    </div>
    <div class="activity">
        <p>活動方式：</p>
        <p>1. 尋找MOPCON徽章</p>
        <p>2. 開啟徽章掃描功能</p>
        <p>3. 獲得徽章並記錄於圖鑑中</p>
    </div>
    <div class="logo"></div>
</div>
<script>
    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();
    }
</script>
{% endblock %}