{% extends 'main.twig' %}

{% block content %}
<div id="heatmapRoomContainer">
    <div class="map">
        <img class="floor" src="" alt="" />
        <div id="heatmap"></div>
    </div>
</div>
<script>

    const generate = (scale_object, heatmap, floor) => {
        $.ajax({
            url: `https://mopcon.webduino.cc/api/Locations?filter={"where":{"floor": "${floor}"},"limit":1}`,
            error: function(xhr) {
                console.log('Ajax request 發生錯誤');
            },
            success: function(response) {
                response.length > 0 && setHeatMapData(response[0].coordinates, scale_object, heatmap, floor);
            }
        })
    };

    const setHeatMapData = (coordinates, scale_object, heatmap, floor) => {
        coordinates.forEach(data => {
            if (data.x < 10) data.x = 10;
            if (data.y < 10) data.y = 10;

            if (floor === '3F') {
                if (data.x > 105) data.x = 105;
                if (data.y > 50) data.y = 50;
            } else {
                if (data.x > 140) data.x = 140;
                if (data.y > 75) data.y = 75;
            }
        });

        const datapoints = coordinates.map(data => ({
            x: parseInt(data.x * scale_object.width, 10), // 座標X
            y: parseInt(data.y * scale_object.height, 10), // 座標Y
            value: Math.random() * 10 >> 0, // 該偵測點人數
            radius: 20, // 感應器半徑
        }))

        const data = {
            max: 10, // 會場總人數或設定上限
            min: 0,
            data: datapoints,
        };

        heatmap.setData(data);
    }

    // 取得queryString
    const getParameterByName = (name, url) => {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    window.onload = function () {
        // 隱藏不必要的元件
        $('.footer_contactUs').hide();
        $('.footer_mail').hide();
        $('.footer_nav').hide();

        const floor = getParameterByName('floor');

        $('.floor')
        .attr('src', `images/${floor}.png`)
        .on('load', function() {
            $(this).show();
        });

        $('#heatmap').addClass(`heatmap${floor}`);

        const scale_3F = {
            width: (205 / 120),
            height: (113 / 60),
        }

        const scale_4F = {
            width: (246 / 150),
            height: (150 / 90),
        }

        const scale = floor === '3F' ? scale_3F : scale_4F;

        // create a heatmap instance
        window.heatmap = h337.create({
            container: document.getElementById('heatmap'),
            maxOpacity: .5,
            radius: 10,
            blur: .75,
        });

        // initial generate
        generate(scale, heatmap, floor);

        // upate map
        const updateTime = 60 * 60 * 10; // 10分鐘
        setInterval(() => generate(scale, heatmap, floor), updateTime);
    }

</script>
{% endblock %}