{% extends 'main.twig' %}

{% block content %}
<div id="heatmapContainer">
    <div class="heatmap_icon_list">
        <div class="heatmap_icon">
            <div class="icon_circle color1"></div>
            <span>人潮洶湧</span>
        </div>
        <div class="heatmap_icon">
            <div class="icon_circle color2"></div>
            <span>還沒塞車</span>
        </div>
        <div class="heatmap_icon">
            <div class="icon_circle color3"></div>
            <span>尚有座位</span>
        </div>
    </div>
    <div class="heatmap_tip">點擊該廳查看該廳熱度圖</div>
    <div class="heatmap_floor">
        <p>3F</p>
        <div class="heatmap_room" onclick="goRoom('3F', 'R1')">
            <div id="R1" class="color1">R1廳</div>
            <button>></button>
        </div>
    </div>
    <div class="heatmap_floor">
        <p>4F</p>
        <div class="heatmap_room" onclick="goRoom('4F', 'R2')">
            <div id="R2" class="color2">R2廳</div>
            <button>></button>
        </div>
        <div class="heatmap_room" onclick="goRoom('4F', 'R3')">
            <div id="R3" class="color3">R3廳</div>
            <button>></button>
        </div>
    </div>
</div>

<script>
    // todo: 各廳人數顏色api

    window.onload = function () {
        $('.footer_contactUs').hide();
        $('.footer_mail').hide();
        $('.footer_nav').hide();
    }

    function goRoom(floor, room) {
        window.location = `heatmapRoom.php?floor=${floor}&room=${room}`;
    }

</script>
{% endblock %}
