{% extends 'main.twig' %}

{% block content %}
<div id="loginContainer">
    <div class="logo">
        <img src="images/app_logo.svg" alt="">
    </div>
    <div class="title">
        帳號登入
    </div>
    <div class="unloginArea">
        <div class="form-group">
            <label for="usr">帳號</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">密碼</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="login_btn" onclick="handleLogin();">登入</div>
    </div>
    <div class="functions">
        <div class="func_btn" id="forgetPW">
            忘記密碼
        </div>
        <div class="func_btn" id="register">
            註冊綁定帳號
        </div>
        <div class="func_btn" id="heatmap" onclick="gotoHeatmap();">
            查看現場熱度圖
        </div>
        <div class="func_btn" id="information">
            修改/查看個人資料
        </div>
    </div>
</div>

<script>
    // 兩個參數，一個是cookie的名字，一個是值
    const setCookie = (name,value) => {
        const expires = 1; // 此 cookie 保存 1 天
        const exp  = new Date();
        exp.setTime(exp.getTime() + expires * 24 * 60 * 60 * 1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
    }

    // 取cookies函数   
    const getCookie = name => {
        const arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
        if(arr != null) return unescape(arr[2]); return null;
    }

    // 删除cookie
    const delCookie = name => {
        const exp = new Date();
        exp.setTime(exp.getTime() - 1);
        const cval = getCookie(name);
        if(cval!=null) document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }

    const login_success = (name) => {
        $('.unloginArea').hide();
        $('#forgetPW').hide();
        $('#register').hide();
        $('#information').show();
        $('.title').addClass('user_name');
        $('.title').text(`Hi! ${name}`);
    }

    const handleLogin = () => {
        login_success('暱稱');

        const userid = "user1";
        const username = "使用者1";
        setCookie('userid', userid);
        setCookie('username', username);
    }

    const gotoHeatmap = () => {
        location.href = 'heatmap.php';
    }

    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();
        $('#information').hide();

        const userid = getCookie('userid');
        const username = getCookie('username');
        if (userid) login_success(username);
    }
</script>
{% endblock %}
