{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="志工組織標題圖片">
</section>
<!-- speaker -->
<section class="container">
        {% for id, data in member %}
        
    <div class="content-radius clearfix">
        <div class="row">
            
            <h3 class="h3 col-lg-12">{{data['name']}}</h3>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>
                    {{data.description}}
                </p>
                <a href="speakerDetail.php?speaker=chris" class="btn btn-detail">詳細介紹</a>
            </div>
        </div>
        
    </div>
    <br>
    {% endfor %}
    
</section>
{% endblock %}
