{% extends 'main.twig' %}

{% block content %}
<div id="qrcodeContainer">
    <a href="javascript:destoryCameraAndGoTo('badge.html')" class="btn btn-default" style="margin-top:10px;">
      <i class="fa fa-chevron-circle-left"></i> 回上一頁
    </a>
    <div class="qrcode">
        <div class="frame1 top_frame1"></div>
        <div class="frame2 top_frame2"></div>
        <div class="frame1 bottom_frame1"></div>
        <div class="frame2 bottom_frame2"></div>
    </div>
    <div class="hint"></div>
</div>

<script>
    // 取得queryString
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();

        var type = getParameterByName('type');

        let hint = '將鏡頭對準MOPCON名牌背後的QR CODE，以利完成個人化綁定!';

        if (type === 'badge') {
            hint = '將鏡頭對準QR CODE，來完成收集徽章';
        }

        $('.hint').text(hint);
    }

    document.addEventListener('deviceready', function () {
        QRScanner.show(function (status) {

            QRScanner.scan(function (err, text) {
                if (err) {
                    swal('啟動相機失敗！' + err.toString()).then(function () {
                        // destoryCameraAndGoTo('index.html');
                    });
                    return;
                }

                QRScanner.hide(function (status) {
                    $.post({
                        url: API_URL + '/scan/' + text,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Basic " + btoa(Token.getId()));
                        }
                    }, function (data) {
                        data.timestamp = Date.now();
                        window.records.push(data);
                        window.localStorage.setItem('records', JSON.stringify(window.records));
                        destoryCameraAndGoTo('/2017/badge.php?from_app=1&new_badge=' + data.badgeId);
                    }).fail(function (reason) {
                        swal('QRCode 掃描失敗！' + JSON.stringify(reason)).then(function () {
                            destoryCameraAndGoTo('/2017/qrcode.php?from_app=1');
                        })
                    });
                });
            });
        });
    });

    function destoryCameraAndGoTo(page) {
        QRScanner.destroy(function (status) {
            location.href = page;
        });
    }
</script>
{% endblock %}
