{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="講者標題圖片">
</section>
<!-- speaker -->
<section class="container">
    <div class="content-radius clearfix">
        <div class="row">
            <h3 class="h3 col-lg-12">宋志峰（Anistar）</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pic pic-cycle" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p>目前現職服務於雅虎奇摩，負責帶領超級商城與拍賣 APP 開發， 專注在專案軟體架構規劃與開發，熱愛分享自己的經驗。 具備 10 年以上的專案開發經驗， 7 年的專業講師資歷， 開發的 Magic Shutter 曾獲得 NewYork Times 推薦最佳前十大攝影軟體推薦。
                </p>
                <a href="speakerDetail.php?speaker=anistar" class="btn btn-detail">詳細介紹</a>
            </div>
        </div>
    </div>
    <br>
    <div class="content-radius clearfix">
        <div class="row">
            <h3 class="h3 col-lg-12">董福興（Bobby Tung）</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pic pic-cycle" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p>在台灣推動 EPUB 3 電子書格式與數位出版改革，目前為大塊文化與台灣漫讀（BookWalker Taiwan）的顧問。2013年起參與 W3C 活動，為中文排版需求（CLREQ）的編輯與邀請專家。希望能夠改善中文電子書與 Web 內容的排版表現，保留傳統並提高使用者閱讀體驗。
                </p>
                <a href="speakerDetail.php?speaker=test" class="btn btn-detail">詳細介紹</a>
            </div>
        </div>
    </div>
    <br>
</section>
{% endblock %}