{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="講者標題圖片">
</section>
<!-- sponsor -->
<section class="speakerDetail container">
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vcenter">
                <div class="pic pic-cycle" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);">
                </div>
            </div><div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 vcenter">
                <h3 class="name">鄭鈞隆 (Chris Jeng)</h3>
                <h4>Mobile 跨平台開發從測試到架構</h4>
                <span class="subjectTag">Mobile</span>
            </div>
        </div>
        <br>
        <h3>講者介紹</h3>
        <p>目前任職於PayEasy，五年經驗的Android開發者，目前熱衷研究各種跨平台技術的無限可能，業餘時間也致力於將技術回饋社會的想法，開發找廁所App，造福行動不便者找廁所無障礙。</p>
        <a href=""><i class="icon icon-fb"></i></a>
        <a href=""><i class="icon icon-github"></i></a>
        <a href=""><i class="icon icon-blog"></i></a>
        <a href=""><i class="icon icon-link"></i></a>
        <br>
        <h3>議題介紹</h3>
        <p>解密Google如何使用Java開發跨平台產品，從軟體自動化測試的角度切入，說明跨平台架構的實現與如何從遺留的程式（LegacyCode）到跨平台架構與測試的遷移流程。</p>
        <div class="scheduleTable-link">
            <a>slide</a>
        </div>
        <br>
        <h3>其他項目</h3>
        <p>項目內容，項目內容，項目內容，項目內容，項目內容，項目內容項目內容，項目內容，項目內容。項目內容，項目內容。項目內容，項目內容，項目內容，項目內容，項目內容，項目內容項目內容，項目內容，項目內容。項目內容，項目內容。</p>
    </div>
</section>
{% endblock %}