{% extends 'main.twig' %} {% block content %}
<!-- header	 -->
<section class="pageHead">
    <img src="images/headPage-sponsor.svg" alt="議程標題圖片">
</section>
<!-- sponsor -->
<section class="sponsor container">
    <!-- 等級一 -->
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Yoda
        </div>
        <div class="sponsor_content_area">
            <div class="row">
                <div class="pic-item col-lg-12">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 等級二 -->
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Sky Walker
        </div>
        <div class="sponsor_content_area">
            <div class="row">
                <div class="pic-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
                <div class="pic-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
                <div class="pic-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
                <div class="pic-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 等級三 -->
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Sky Walker
        </div>
        <div class="sponsor_content_area">
            <div class="row">
                <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
                <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
                <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}