{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-sponsor.svg" alt="贊助標題圖片">
</section>

<!-- community -->
<section class="container">
    <div class="content-radius clearfix">
        <div class="row">
            <h3 class="h3 col-lg-12">{{ sponsors['name'] }}</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pic" style="background-image:url(./images/sponsor/{{ sponsors['logo'] }});">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p>
                    {{ sponsors['info'] }}
                    
                </p>
                <a href="{{ sponsors['website'] }}" target="_blank">
					<i class="icon icon-link"></i>
				</a>
            </div>
        </div>
        <br>
        <a href="sponsor.php" class="btn btn-primary align-table">
            回贊助商列表
        </a>
    </div>
   
</section>

{% endblock %}