{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-ticket.svg" alt="票券資訊圖片">
</section>
<!-- community -->
<section class="container">
    <div class="content-radius">
        <div class="row">
            <div class="ticket">
                <div class="ticket_price">$600</div>
                <div class="ticket_content">
                    <h3 class="h3">一般票</h3>
                    <p>包含兩日餐盒、午茶點心、大會手冊</p>
                    <p class="tip">期間限定販售 09/18~10/20</p>
                </div>
                <a href="https://goo.gl/xCR44S" target="_blank" class="btn btn-rightNow">立即購票</a>
            </div>
            <div class="ticket">
                <div class="ticket_price">$900起</div>
                <div class="ticket_content">
                    <h3 class="h3">學生KKBOX套票</h3>
                    <p>包含兩日餐盒、午茶點心、kkbox 90/180天體驗方案、大會手冊</p>
                    <p class="tip">期間限定販售 09/11~10/20</p>
                </div>
                <a href="https://goo.gl/MhKocg" target="_blank" class="btn btn-rightNow">立即購票</a>
            </div>
            <div class="ticket">
                <div class="ticket_price">$2000</div>
                <div class="ticket_content">
                    <h3 class="h3">豪華獨享票</h3>
                    <p>包含兩日餐盒、午茶點心、kkbox 90/180天體驗方案、大會手冊</p>
                    <p class="tip">期間限定販售 09/04~10/20</p>
                </div>
                <a href="https://goo.gl/byi5AJ" target="_blank" class="btn btn-rightNow">立即購票</a>
            </div>
            <div class="ticket">
                <div class="ticket_price">$4000</div>
                <div class="ticket_content">
                    <h3 class="h3">尊絕不凡票</h3>
                    <p>包含兩日餐盒、午茶點心、kkbox 90/180天體驗方案、大會手冊、毒鴨設計金屬胸章、講者晚宴乙客</p>
                    <p class="tip">期間限定販售 09/04~10/20</p>
                </div>
                <a href="https://goo.gl/byi5AJ" target="_blank" class="btn btn-rightNow">立即購票</a>
            </div>
            <div class="text-center">
                <a href="https://mopcon.kktix.cc/" target="_blank" class="btn btn-ticketDetail"> 前往 KKTIX 查看購票詳情</a>
                <img src="./images/floater-pic.png" alt="">
            </div>
    </div>
    </div>
</section>
{% endblock %}