@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mx490c');
	src:url('fonts/icomoon.eot?#iefixmx490c') format('embedded-opentype'),
		url('fonts/icomoon.woff?mx490c') format('woff'),
		url('fonts/icomoon.ttf?mx490c') format('truetype'),
		url('fonts/icomoon.svg?mx490c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone2:before {
	content: "\e650";
}
.icon-mobile3:before {
	content: "\e651";
}
.icon-mouse:before {
	content: "\e652";
}
.icon-directions:before {
	content: "\e653";
}
.icon-mail5:before {
	content: "\e654";
}
.icon-paperplane:before {
	content: "\e655";
}
.icon-pencil3:before {
	content: "\e656";
}
.icon-feather2:before {
	content: "\e657";
}
.icon-paperclip:before {
	content: "\e658";
}
.icon-drawer4:before {
	content: "\e659";
}
.icon-reply2:before {
	content: "\e65a";
}
.icon-reply-all:before {
	content: "\e65b";
}
.icon-forward22:before {
	content: "\e65c";
}
.icon-user22:before {
	content: "\e65d";
}
.icon-users22:before {
	content: "\e65e";
}
.icon-user-add:before {
	content: "\e65f";
}
.icon-vcard:before {
	content: "\e660";
}
.icon-export:before {
	content: "\e661";
}
.icon-location3:before {
	content: "\e662";
}
.icon-map3:before {
	content: "\e663";
}
.icon-compass2:before {
	content: "\e664";
}
.icon-location22:before {
	content: "\e665";
}
.icon-target2:before {
	content: "\e666";
}
.icon-share2:before {
	content: "\e667";
}
.icon-sharable:before {
	content: "\e668";
}
.icon-heart22:before {
	content: "\e669";
}
.icon-heart32:before {
	content: "\e66a";
}
.icon-star4:before {
	content: "\e66b";
}
.icon-star22:before {
	content: "\e66c";
}
.icon-thumbsup:before {
	content: "\e66d";
}
.icon-thumbsdown:before {
	content: "\e66e";
}
.icon-chat2:before {
	content: "\e66f";
}
.icon-comment:before {
	content: "\e670";
}
.icon-quote:before {
	content: "\e671";
}
.icon-house:before {
	content: "\e672";
}
.icon-popup:before {
	content: "\e673";
}
.icon-search22:before {
	content: "\e674";
}
.icon-flashlight:before {
	content: "\e675";
}
.icon-printer:before {
	content: "\e676";
}
.icon-bell2:before {
	content: "\e677";
}
.icon-link2:before {
	content: "\e678";
}
.icon-flag2:before {
	content: "\e679";
}
.icon-cog3:before {
	content: "\e67a";
}
.icon-tools:before {
	content: "\e67b";
}
.icon-trophy2:before {
	content: "\e67c";
}
.icon-tag2:before {
	content: "\e67d";
}
.icon-camera22:before {
	content: "\e67e";
}
.icon-megaphone:before {
	content: "\e67f";
}
.icon-moon2:before {
	content: "\e680";
}
.icon-palette:before {
	content: "\e681";
}
.icon-leaf2:before {
	content: "\e682";
}
.icon-music2:before {
	content: "\e683";
}
.icon-music22:before {
	content: "\e684";
}
.icon-new:before {
	content: "\e685";
}
.icon-graduation:before {
	content: "\e686";
}
.icon-book22:before {
	content: "\e687";
}
.icon-newspaper22:before {
	content: "\e688";
}
.icon-bag:before {
	content: "\e689";
}
.icon-airplane2:before {
	content: "\e68a";
}
.icon-lifebuoy:before {
	content: "\e68b";
}
.icon-eye3:before {
	content: "\e68c";
}
.icon-clock22:before {
	content: "\e68d";
}
.icon-microphone:before {
	content: "\e68e";
}
.icon-calendar22:before {
	content: "\e68f";
}
.icon-bolt:before {
	content: "\e690";
}
.icon-thunder:before {
	content: "\e691";
}
.icon-droplet2:before {
	content: "\e692";
}
.icon-cd:before {
	content: "\e693";
}
.icon-briefcase2:before {
	content: "\e694";
}
.icon-air:before {
	content: "\e695";
}
.icon-hourglass:before {
	content: "\e696";
}
.icon-gauge:before {
	content: "\e697";
}
.icon-language:before {
	content: "\e698";
}
.icon-network:before {
	content: "\e699";
}
.icon-key3:before {
	content: "\e69a";
}
.icon-battery:before {
	content: "\e69b";
}
.icon-bucket:before {
	content: "\e69c";
}
.icon-magnet2:before {
	content: "\e69d";
}
.icon-drive:before {
	content: "\e69e";
}
.icon-cup:before {
	content: "\e69f";
}
.icon-rocket2:before {
	content: "\e6a0";
}
.icon-brush:before {
	content: "\e6a1";
}
.icon-suitcase:before {
	content: "\e6a2";
}
.icon-cone:before {
	content: "\e6a3";
}
.icon-earth2:before {
	content: "\e6a4";
}
.icon-keyboard2:before {
	content: "\e6a5";
}
.icon-browser2:before {
	content: "\e6a6";
}
.icon-publish:before {
	content: "\e6a7";
}
.icon-progress-3:before {
	content: "\e6a8";
}
.icon-progress-2:before {
	content: "\e6a9";
}
.icon-brogress-1:before {
	content: "\e6aa";
}
.icon-progress-0:before {
	content: "\e6ab";
}
.icon-sun:before {
	content: "\e6ac";
}
.icon-sun2:before {
	content: "\e6ad";
}
.icon-adjust:before {
	content: "\e6ae";
}
.icon-code2:before {
	content: "\e6af";
}
.icon-screen22:before {
	content: "\e6b0";
}
.icon-infinity:before {
	content: "\e6b1";
}
.icon-light-bulb:before {
	content: "\e6b2";
}
.icon-creditcard:before {
	content: "\e6b3";
}
.icon-database:before {
	content: "\e6b4";
}
.icon-voicemail:before {
	content: "\e6b5";
}
.icon-clipboard2:before {
	content: "\e6b6";
}
.icon-cart4:before {
	content: "\e6b7";
}
.icon-box:before {
	content: "\e6b8";
}
.icon-ticket2:before {
	content: "\e6b9";
}
.icon-rss:before {
	content: "\e6ba";
}
.icon-signal:before {
	content: "\e6bb";
}
.icon-thermometer:before {
	content: "\e6bc";
}
.icon-droplets:before {
	content: "\e6bd";
}
.icon-uniE6BE:before {
	content: "\e6be";
}
.icon-statistics:before {
	content: "\e6bf";
}
.icon-pie2:before {
	content: "\e6c0";
}
.icon-bars3:before {
	content: "\e6c1";
}
.icon-graph:before {
	content: "\e6c2";
}
.icon-lock3:before {
	content: "\e6c3";
}
.icon-lock-open:before {
	content: "\e6c4";
}
.icon-logout:before {
	content: "\e6c5";
}
.icon-login:before {
	content: "\e6c6";
}
.icon-checkmark3:before {
	content: "\e72c";
}
.icon-cross3:before {
	content: "\e72b";
}
.icon-minus3:before {
	content: "\e72a";
}
.icon-plus3:before {
	content: "\e729";
}
.icon-cross2:before {
	content: "\e728";
}
.icon-minus22:before {
	content: "\e727";
}
.icon-plus22:before {
	content: "\e726";
}
.icon-cross:before {
	content: "\e725";
}
.icon-minus2:before {
	content: "\e724";
}
.icon-plus2:before {
	content: "\e723";
}
.icon-erase:before {
	content: "\e722";
}
.icon-blocked2:before {
	content: "\e721";
}
.icon-info22:before {
	content: "\e720";
}
.icon-info3:before {
	content: "\e71f";
}
.icon-question22:before {
	content: "\e71e";
}
.icon-help:before {
	content: "\e71d";
}
.icon-warning2:before {
	content: "\e6c7";
}
.icon-cycle:before {
	content: "\e6c8";
}
.icon-cw:before {
	content: "\e6c9";
}
.icon-ccw:before {
	content: "\e6ca";
}
.icon-shuffle2:before {
	content: "\e6cb";
}
.icon-arrow:before {
	content: "\e6cc";
}
.icon-arrow2:before {
	content: "\e6cd";
}
.icon-retweet:before {
	content: "\e6ce";
}
.icon-loop4:before {
	content: "\e6cf";
}
.icon-history2:before {
	content: "\e6d0";
}
.icon-back:before {
	content: "\e6d1";
}
.icon-switch2:before {
	content: "\e6d2";
}
.icon-list22:before {
	content: "\e6d3";
}
.icon-add-to-list:before {
	content: "\e6d4";
}
.icon-layout:before {
	content: "\e6d5";
}
.icon-list32:before {
	content: "\e6d6";
}
.icon-text:before {
	content: "\e6d7";
}
.icon-text2:before {
	content: "\e6d8";
}
.icon-document:before {
	content: "\e6d9";
}
.icon-docs:before {
	content: "\e6da";
}
.icon-landscape:before {
	content: "\e6db";
}
.icon-pictures:before {
	content: "\e6dc";
}
.icon-video:before {
	content: "\e6dd";
}
.icon-music3:before {
	content: "\e6de";
}
.icon-folder2:before {
	content: "\e6df";
}
.icon-archive:before {
	content: "\e6e0";
}
.icon-trash2:before {
	content: "\e6e1";
}
.icon-upload4:before {
	content: "\e6e2";
}
.icon-download4:before {
	content: "\e6e3";
}
.icon-disk2:before {
	content: "\e6e4";
}
.icon-install:before {
	content: "\e6e5";
}
.icon-cloud22:before {
	content: "\e6e6";
}
.icon-upload22:before {
	content: "\e6e7";
}
.icon-bookmark2:before {
	content: "\e6e8";
}
.icon-bookmarks2:before {
	content: "\e6e9";
}
.icon-book3:before {
	content: "\e6ea";
}
.icon-play22:before {
	content: "\e6eb";
}
.icon-pause22:before {
	content: "\e6ec";
}
.icon-record:before {
	content: "\e6ed";
}
.icon-stop22:before {
	content: "\e6ee";
}
.icon-next2:before {
	content: "\e6ef";
}
.icon-previous2:before {
	content: "\e6f0";
}
.icon-first2:before {
	content: "\e6f1";
}
.icon-last2:before {
	content: "\e6f2";
}
.icon-resize-enlarge:before {
	content: "\e6f3";
}
.icon-resize-shrink:before {
	content: "\e6f4";
}
.icon-volume:before {
	content: "\e6f5";
}
.icon-sound2:before {
	content: "\e6f6";
}
.icon-mute:before {
	content: "\e6f7";
}
.icon-flow-cascade:before {
	content: "\e6f8";
}
.icon-flow-branch:before {
	content: "\e6f9";
}
.icon-flow-tree:before {
	content: "\e6fa";
}
.icon-flow-line:before {
	content: "\e6fb";
}
.icon-flow-parallel:before {
	content: "\e6fc";
}
.icon-arrow-left4:before {
	content: "\e6fd";
}
.icon-arrow-down4:before {
	content: "\e6fe";
}
.icon-arrow-up-upload:before {
	content: "\e6ff";
}
.icon-arrow-right4:before {
	content: "\e700";
}
.icon-arrow-left22:before {
	content: "\e701";
}
.icon-arrow-down22:before {
	content: "\e702";
}
.icon-arrow-up4:before {
	content: "\e703";
}
.icon-arrow-right22:before {
	content: "\e704";
}
.icon-arrow-left32:before {
	content: "\e705";
}
.icon-arrow-down32:before {
	content: "\e706";
}
.icon-arrow-up22:before {
	content: "\e707";
}
.icon-arrow-right32:before {
	content: "\e708";
}
.icon-arrow-left42:before {
	content: "\e709";
}
.icon-arrow-down42:before {
	content: "\e70a";
}
.icon-arrow-up32:before {
	content: "\e70b";
}
.icon-arrow-right42:before {
	content: "\e70c";
}
.icon-arrow-left5:before {
	content: "\e70d";
}
.icon-arrow-down5:before {
	content: "\e70e";
}
.icon-arrow-up42:before {
	content: "\e70f";
}
.icon-arrow-right5:before {
	content: "\e710";
}
.icon-arrow-left6:before {
	content: "\e711";
}
.icon-arrow-down6:before {
	content: "\e712";
}
.icon-arrow-up5:before {
	content: "\e713";
}
.icon-arrow-right6:before {
	content: "\e714";
}
.icon-arrow-left7:before {
	content: "\e715";
}
.icon-arrow-down7:before {
	content: "\e716";
}
.icon-arrow-up6:before {
	content: "\e717";
}
.icon-uniE718:before {
	content: "\e718";
}
.icon-arrow-left8:before {
	content: "\e719";
}
.icon-arrow-down8:before {
	content: "\e71a";
}
.icon-arrow-up7:before {
	content: "\e71b";
}
.icon-arrow-right7:before {
	content: "\e71c";
}
.icon-menu22:before {
	content: "\e72d";
}
.icon-ellipsis:before {
	content: "\e72e";
}
.icon-dots:before {
	content: "\e72f";
}
.icon-dot:before {
	content: "\e730";
}
.icon-cc:before {
	content: "\e731";
}
.icon-cc-by:before {
	content: "\e732";
}
.icon-cc-nc:before {
	content: "\e733";
}
.icon-cc-nc-eu:before {
	content: "\e734";
}
.icon-cc-nc-jp:before {
	content: "\e735";
}
.icon-cc-sa:before {
	content: "\e736";
}
.icon-cc-nd:before {
	content: "\e737";
}
.icon-cc-pd:before {
	content: "\e738";
}
.icon-cc-zero:before {
	content: "\e75d";
}
.icon-cc-share:before {
	content: "\e75e";
}
.icon-cc-share2:before {
	content: "\e75f";
}
.icon-danielbruce:before {
	content: "\e760";
}
.icon-danielbruce2:before {
	content: "\e761";
}
.icon-github6:before {
	content: "\e739";
}
.icon-github22:before {
	content: "\e73a";
}
.icon-flickr5:before {
	content: "\e73b";
}
.icon-flickr22:before {
	content: "\e73c";
}
.icon-vimeo4:before {
	content: "\e73d";
}
.icon-vimeo22:before {
	content: "\e73e";
}
.icon-twitter4:before {
	content: "\e73f";
}
.icon-twitter22:before {
	content: "\e740";
}
.icon-facebook22:before {
	content: "\e741";
}
.icon-facebook32:before {
	content: "\e742";
}
.icon-facebook42:before {
	content: "\e743";
}
.icon-googleplus22:before {
	content: "\e744";
}
.icon-googleplus32:before {
	content: "\e762";
}
.icon-pinterest3:before {
	content: "\e763";
}
.icon-pinterest22:before {
	content: "\e764";
}
.icon-tumblr3:before {
	content: "\e765";
}
.icon-tumblr22:before {
	content: "\e766";
}
.icon-linkedin2:before {
	content: "\e745";
}
.icon-linkedin22:before {
	content: "\e746";
}
.icon-dribbble22:before {
	content: "\e747";
}
.icon-dribbble32:before {
	content: "\e748";
}
.icon-stumbleupon3:before {
	content: "\e749";
}
.icon-stumbleupon22:before {
	content: "\e74a";
}
.icon-lastfm3:before {
	content: "\e74b";
}
.icon-lastfm22:before {
	content: "\e74c";
}
.icon-rdio:before {
	content: "\e74d";
}
.icon-rdio2:before {
	content: "\e74e";
}
.icon-spotify:before {
	content: "\e74f";
}
.icon-spotify2:before {
	content: "\e750";
}
.icon-qq:before {
	content: "\e767";
}
.icon-instagram22:before {
	content: "\e768";
}
.icon-dropbox:before {
	content: "\e769";
}
.icon-evernote:before {
	content: "\e76a";
}
.icon-flattr2:before {
	content: "\e76b";
}
.icon-skype2:before {
	content: "\e751";
}
.icon-skype22:before {
	content: "\e752";
}
.icon-renren:before {
	content: "\e753";
}
.icon-sina-weibo:before {
	content: "\e754";
}
.icon-paypal4:before {
	content: "\e755";
}
.icon-picasa:before {
	content: "\e756";
}
.icon-soundcloud3:before {
	content: "\e757";
}
.icon-mixi:before {
	content: "\e758";
}
.icon-behance:before {
	content: "\e759";
}
.icon-circles:before {
	content: "\e75a";
}
.icon-vk:before {
	content: "\e75b";
}
.icon-smashing:before {
	content: "\e75c";
}
