@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  margin: 0;
  background: linear-gradient(
    155deg,
    rgba(43, 56, 60, 1) 60%,
    rgba(244, 124, 87, 1) 150%
  );
  box-sizing: border-box;
  font-family: "Noto Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* body::-webkit-scrollbar {
  display: none;
  overflow: -moz-hidden-unscrollable;
} */
h1 {
  font-size: 48px;
  color: #dbdae1;
  text-align: center;
  font-family: "Wallpoet";
  font-weight: 500;
}
h2 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
}
h3 {
  color: #fbc427;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 400;
}
