.wrapper{
  height: 100vh;
  padding: 3rem 2rem;
  background-image:
  url('../images/bg-down-right.png')
  ,url('../images/bg-downleft.png')
  ,url('../images/bg-upleft.png')
  ,url('../images/bg-upright.png');
  background-size:50%,10%,15%,15%;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: 
  right -200px bottom -30px,
  left bottom,
  left top,
  right top
}
.comming-soon{
  height: 100%;
  display: flex;
  font-family: 'PingFangTC', 'Microsoft JhengHei','sans-serif';
}
.logo{
  width: 50vw;
}
.mobile-logo{
  display: none;
}
.info{
  width: 50vw;
}
.title{
  margin-top: 0;
  margin-bottom: 15%;
}
.main-title{
  color:#00d0ca;
  font-family: 'Rajdhani', sans-serif;
  font-size: 4rem;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom:-25px;
}
.sub-title{
  height: 4rem;
  background-image: url('../images/bg-comingsoon.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 2rem;
  padding-left:2rem; 
  padding-top: 1rem;
}

.content{
  height: 50%;
  background-image: url('../images/info-bg.png');
  background-size:50%;
  background-repeat: no-repeat;

}

.content ul{
  width: 100%;
}

.content li{
  color:#00d0ca;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
  padding-left: 2rem;
}

.content li:first-child{
  text-align: left;
  font-family: 'Rajdhani';
}

.content li:before{
  content: '●';
  margin-right: 15px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .main-title{
    font-size: 2.5rem;
    margin-bottom: -17px;
  }
  .sub-title{
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  .content li{
  font-size: 1rem;
}
}

@media (max-width: 640px) {
  .wrapper{
    padding: 0;
  }
  .comming-soon{
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .info{
    height: 100%;
    width: 80vw;
  }
  .logo{
    display: none;
  }
  .mobile-logo{
    display: block;
  }
  .title{
    margin-bottom: 0;
  }
  .main-title{
    font-size: 2rem;
    margin-bottom: -15px;
  }
  .sub-title{
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-top: 0.5rem; 
  }
  .logo{
    margin-top: 8rem;
  }
  .content{
    height: 50%;
    display: flex;
    justify-content: center;
    background-size: 80%;
  }
  .content li{
    font-size: 1.2rem;
    list-style: inside;
    padding-left: 0;
  }
  
  .content li:before{
  content: ' ';
  margin-right: 0px;
}
}