<div class="menu">
	<a href="index" class="logo">
		MOPCON 2014
	</a>
	<nav>
		<ul>
			<li><a href="#">議程</a></li>
			<li><a href="#">贊助</a></li>
			<li><a href="#">講者</a></li>
			<li><a href="#">交通</a></li>
			<li><a href="#">社群</a></li>
		</ul>
	</nav>	
</div>