// logo
@import '~@/assets/styles/_mix';
$logo_map: (
  svg: sponsor_banner sponsor_has1 sponsor_has2 sponsor_has3 sponsor_has4 sponsor_intro,
  jpg: sponsor-1 sponsor-2 sponsor-3 sponsor-4 sponsor-5 sponsor-6
);
@include logo_map_mix(sponsor);

@mixin bg-contain {
  @apply bg-contain bg-center bg-no-repeat;
}

.sponsor {
  &-content-width {
    @apply w-full mx-auto;
    @screen lg {
      @apply w-1/2 mx-auto;
    }
    @screen md {
      @apply w-2/3 mx-auto;
    }
  }
  &-content-height {
    min-height: 200px;
  }
  &-header {
    @apply mx-auto flex flex-col items-center overflow-x-hidden mb-10 text-white;
    h2 {
      @screen md {
        @include border-primary;
      }
    }
  }
  &-title {
    @screen md {
      @apply text-3xl;
    }
    @apply text-2xl relative text-white mt-16 mb-2;
    span {
      @apply text-yellow-500;
    }
  }
  &-swiper {
    height: 220px;
    @apply rounded-lg overflow-hidden bg-cover bg-center bg-no-repeat;
    &-navigation {
      @apply flex mt-8 justify-center items-center;
    }
    &-circle-btn {
      width: 32px;
      height: 32px;
      @apply relative hidden border-purple-700 border rounded-full;
      @screen md {
        @apply block;
      }
      &:hover {
        &::after {
          @apply bg-purple-700;
        }
      }
      &::after {
        width: 16px;
        height: 16px;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        @apply absolute rounded-full border-purple-700 border;
      }
    }
  }
  &-intro {
    @apply flex flex-wrap;
    &-banner {
      @screen lg {
        @apply w-2/5;
      }
      @apply w-full;
      &-height {
        @screen lg {
          min-height: 336px;
        }
        min-height: 224px;
      }
    }
    &-description {
      @screen lg {
        @apply w-3/5 pl-12 text-xl;
      }
      @apply  w-full pl-0 text-lg mt-8;
      p {
        letter-spacing: 0.25px;
        @apply leading-8;
        span {
          @apply text-purple-400;
        }
      }
    }
    &-subtitle {
      @apply text-yellow-500 text-xl leading-8 mb-5 mt-10;
    }
  }
  &-reward {
    @screen sm {
      @apply grid-cols-2;
    }
    @screen md {
      @apply grid-cols-4 mt-12 px-0;
    }
    @apply grid grid-cols-1 gap-8 mt-10 px-6;
    &-img {
      width: 140px;
      min-height: 140px;
    }
    &-title {
      @apply my-2 text-xl text-center font-bold mt-5;
    }
  }
  &-partner {
    @screen md {
      @apply grid-cols-2;
    }
    @screen lg {
      @apply grid-cols-3 mb-12 px-0;
    }
    @apply grid grid-cols-1 gap-6;
    &-title {
      @apply text-2xl mb-6 text-white;
    }
  }
  .progress {
    @screen lg {
      @apply mb-2;
    }
    @apply mb-5;
  }
}
::v-deep .dialog {
  width: 90%;
  @screen md {
    width: 70%;
  }
  @screen lg {
    width: 50%;
  }
}

$lengths: 100, 70, 35;

@mixin progress($progressHeight) {
  @apply bg-purple-400 mb-4 align-middle mr-4 relative block;
  width: 150px;
  height: 2px;
  @screen md {
    @apply inline-block mb-0;
  }
  &::after {
    content: "";
    position: absolute;
    width: percentage($progressHeight/100);
    height: 9px;
    transform: translateY(-50%);
    border-radius: 4px;
    @apply bg-purple-400;
  }
}

@each $length in $lengths {
  .progress-#{$length} {
    @include progress($length);
  }
}