$bg_map: (
  png: mario
);
@include bgImg(timeMachine);

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.12em;
  color: #202020;
  br {
    display: none;
  }
}

@include screen(pad) {
  h2 {
    br {
      display: block;
    }
  }
}

.main {
  .container {
    padding-top: 100px;
    min-height: 100vh;
  }
  .vol10-mobile {
    top: 50px;
    left: 20px;
  }
  .mo-container {
    @include flex(center, row, center);
  }
  .bg-mario {
    width: 600px;
    height: 400px;
    background-size: contain;
  }
  .vol10-gray {
    top: 50px;
    left: 0;
  }
  &-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    @include font(20px);
  }
}
@include screen(sm) {
  .main {
    .container {
      padding-top: 80px;
    }
    .bg-mosume {
      height: 200px;
    }
  }
}
