.section-place {
  display: flex;
  flex-flow: row wrap;
  margin-top: 207px;
  @include rwd(pad) {
    margin-top: 300px;
  }

  .peoples {
    position: absolute;
    top: -100px;
    right: 0;
    width: 270px;
    height: 180px;
    @include rwd(pad) {
      top: -220px;
      left: 50%;
      transform: translateX(-50%);
    }

    [class*="people-"],
    .msg-hola {
      @include bgCenter;
      position: absolute;
    }

    .people-1 {
      bottom: 0;
      left: 0;
      width: 72px;
      height: 122px;
      background-image: url("./images/people-1.png");
    }

    .people-2 {
      bottom: 30px;
      left: 110px;
      width: 70px;
      height: 117px;
      background-image: url("./images/people-2.png");
    }

    .msg-hola {
      top: 0;
      right: 0;
      width: 90px;
      height: 40px;
      background-image: url("./images/msg-hola.png");
    }
  }

  .title {
    width: 100%;
    margin-bottom: 65px;
    @include rwd(pad) {
      margin-bottom: 26px;
      text-align: center;
    }
  }

  &__addr {
    display: flex;
    align-items: center;
    width: 100%;
    @include rwd(pad) {
      flex-flow: column nowrap;
    }

    .image-wall {
      display: flex;
      flex-flow: row wrap;
      width: calc(50% - 30px);
      @include rwd(pad) {
        width: calc(100% + 10px);
        margin-bottom: 29px;
        margin-left: -5px;
      }

      &__item {
        @include bgCenter;
        margin: 5px;
      }
      &__item:nth-child(1) {
        width: calc(36.5% - 10px);
        height: 0;
        padding-top: calc(102% * 0.365);
        background-image: url("./images/section-place-img-1.jpg");
      }
      &__item:nth-child(2) {
        width: calc(63.5% - 10px);
        height: 0;
        padding-top: calc(61.3% * 0.608);
        background-image: url("./images/section-place-img-2.jpg");
      }
      &__item:nth-child(3) {
        width: 100%;
        height: 0;
        padding-top: 30.5%;
        background-image: url("./images/section-place-img-3.jpg");
      }
    }

    &__lists {
      width: calc(50% - 30px);
      margin-left: 60px;
      @include rwd(pad) {
        width: 100%;
        margin-left: 0;
      }

      .section-place__addr__list + .section-place__addr__list {
        margin-top: 29px;
      }

      .google-map {
        color: $colorSecondary;

        .icon-goto {
          @include bgCenter(14px, 14px);
          display: inline-block;
          top: 1px;
          margin-left: 9px;
          background-image: url("./images/icon-goto.png");
          background-size: contain;
        }
      }

      p {
        color: $colorPrimary;
      }

      p::nth-child(2) {
        color: red;
      }

      .subtitle {
        color: $colorGrayLight;
      }
    }
  }

  &__traffic {
    margin-top: 30px;
    @include rwd(pad) {
      margin-top: 45px;
    }
    @include rwd(sm) {
      display: none;
    }

    &__title {
      color: $colorPrimary;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.8px;
    }

    &__items {
      display: flex;
      flex-flow: row wrap;
      margin-top: 9px;
    }

    &__item {
      width: 50%;
      @include rwd(pad) {
        width: 100%;
      }

      h4 {
        width: 100%;
        max-width: 325px;
        margin-bottom: 20px;
        padding-bottom: 9px;
        color: $colorGrayLight;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 1.2px;
        @include rwd(pad) {
          max-width: 100%;
        }
      }

      p {
        width: 100%;
        max-width: 325px;
        margin-bottom: 29px;
        @include rwd(pad) {
          max-width: 100%;
        }
      }
    }
  }

  &__traffic--mobile {
    display: none;
    width: 100%;
    @include rwd(sm) {
      display: block;
    }

    &__title {
      margin-top: 45px;
      color: $colorPrimary;
      font-size: 16px;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 9px 0;
      @include rwd(pad) {
        &:after {
          display: none;
        }
      }

      .item {
        color: $colorPrimary;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1.2px;
        cursor: pointer;
      }
      .item.active {
        color: $colorGrayLight;
        @include rwd(pad) {
          &:before {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $colorPrimary;
          }
        }
      }
    }

    &__content {
      display: none;
      margin-top: 20px;
      line-height: 1.88;
    }
    &__content.active {
      display: block;
    }
  }
}
