.eboardSite {
  @apply relative overflow-hidden;
  .bg-circle-1 {
    position: absolute;
    transform: translate(-20%, 100%);
  }
  .bg-circle-2 {
    position: absolute;
    right: 0;
    transform: translate(60%, 30%);
  }
  .site__info {
    padding: 85px 100px;
    display: flex;
    width: 100%;
    height: 100vh;
    .area {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__title {
      display: flex;
      margin-bottom: 48px;
      justify-content: space-between;
      align-items: center;
      @apply text-yellow-500;
      p {
        display: inline-block;
        font-size: 56px;
        white-space: nowrap;
      }
      .line {
        display: inline-block;
        width: 100%;
        height: 5px;
        background: white;
        margin: 0px 32px;
      }
    }
    &__img {
      height: 100%;
      align-self: center;
    }
  }
  .hasNewsheight {
    height: calc(100vh - 152px);   
  }
  .site__info__img img {
    max-width: 100%;
    height: auto;
  }
  .hasNewsheight {
    .site__info__img img {
      width: auto;
      height: 90%;
    }
  }
}
