.event {
  margin-bottom: 130px;
  @include rwd(pad) {
    margin-bottom: 70px;
  }

  &__desc {
    margin-top: 236px;
    @include rwd(pad) {
      margin-top: 78px;
    }

    .title {
      @include rwd(pad) {
        margin-bottom: 30px;
      }
    }
  }

  .subtitle {
    line-height: 1.25;
    @include rwd(pad) {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.8px;
    }
  }

  &__steps {
    margin-top: 80px;
    @include rwd(pad) {
      margin-top: 60px;
    }

    .title {
      margin-bottom: 40px;
      @include rwd(pad) {
        margin-bottom: 30px;
      }
    }
  }

  &__step + &__step {
    margin-top: 30px;
  }
  &__step {
    &__count {
      color: $colorPrimary;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.8px;
    }

    &__text {
      color: $colorGrayLight;
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 1.2px;
      @include rwd(pad) {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
    }
  }
}
