@mixin badge($font-size, $radius, $line-height, $margin) {
  display: inline-block;
  padding: 3px 7.5px;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $radius;
  margin-left: $margin;
  margin-right: $margin;
}

.basic-badge-primary {
  background-color: $colorPrimary;
  color: #fff;
  @include badge(12px, .25rem, 1, .25rem)
}

.basic-badge-secondary {
  background-color: $colorSecondary;
  color: #fff;
  @include badge(12px, .25rem, 1, .25rem)
}

.basic-badge-third {
  background-color: $colorThird;
  color: #fff;
  @include badge(12px, .25rem, 1, .25rem);
}

.tag-badge-outline-primary {
  border: 1px solid $colorPrimary;
  color: $colorPrimary;
  @include badge(16px, 0px, 1, .25rem);
}

.tag-badge-outline-secondary {
  border: 1px solid $colorSecondary;
  color: $colorSecondary;
  @include badge(16px, 0px, 1, .25rem);
}

.tag-badge-outline-third {
  border:1px solid $colorThird;
  color: $colorThird;
  @include badge(16px, 0px, 1, .25rem);
}

.speaker-badge-third {
  background-color: $colorThird;
  color: #fff;
  @include badge(12px, .25rem, 2, 0px);
}
