// Filter Button

$theme-colors: ("primary": $colorPrimary, "secondary": $colorSecondary, "third": $colorThird);

@mixin filterButton($color) {
  padding: 7px 11px;
  color: $color;
  line-height: 1.5;
  border: 1px solid $color;
  background-color: transparent;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #fff;
    background: $color;
  }
  &.active {
    color: #fff;
    background: $color;
    &:hover {
      border: 1px solid darken($color, 5%);
      background: darken($color, 5%);
    }
  }
}

@each $name, $color in $theme-colors {
  .filter-btn-#{$name} {
    @include filterButton($color);
  }
}

// Default Button
.basic-btn {
  padding: 5px 29px;
  line-height: 1.5;
  color: $colorPrimary;
  border: 1px solid $colorPrimary;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &:hover, &:active {
    background: rgba($colorPrimary, .15);
  }
}

// Date Button

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  .btn-primary {
    padding: 8px 36px;
    line-height: 1.5;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    &:hover, &.active {
      color: #fff;
      background-color: $colorPrimary;
    }
  }
}

.btn-group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Cart tag Button
@mixin tagButton($color) {
  padding: 0px 8px;
  font-size: 14px;
  line-height: 1.71;
  border: solid 1px $color;
  color: $color;
}

// 產出三款 tag class => .tag-btn-primary  .tag-btn-secondary  .tag-btn-third
@each $name, $color in $theme-colors {
  .tag-btn-#{$name} {
    @include tagButton($color);
  }
}