.schedule {
  padding: 0 40px;
  @include rwd(pad) {
    padding: 0;
  }

  &__banner {
    @include bgCenter;
    width: 100%;
    height: 0;
    padding-top: 23%;
    background-image: url('~assets/images/schedule/banner.png');
    @include rwd(md) {
      width: 100%;
      height: 217px;
      padding-top: 0;
      background-size: auto 100%;
    }
  }

  &__desc {
    width: 100%;
    max-width: 536px;
    margin: 105px auto 132px auto;
    @include rwd(pad) {
      margin: 54px auto 43px auto;
      padding: 0 25px;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 32px;
      letter-spacing: 0;

      @include rwd(pad) {
        margin-bottom: 34px;
        span:nth-child(1) {
          display: block;
        }
      }

      .color-primary {
        margin-right: 7px;
      }
    }

    &__text {
      letter-spacing: 0;
    }
  }

  &__tool {
    width: calc(100% + 70px);
    margin-bottom: 60px;
    margin-left: -40px;
    text-align: center;
    @include rwd(pad) {
      width: calc(100% - 10px);
      margin-left: 0;
    }

    &__date,
    &__keyword {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__date {
      @include rwd(pad) {
        left: 5px;
      }
      @include rwd(sm) {
        .btn-group {
          display: flex;
          width: 100%;
          padding: 0 25px;
          .btn-primary {
            width: 100%;
            padding: 8px 20px;
          }
        }
      }
    }

    &__keyword {
      margin-top: 35px;
      padding: 0 25px 15px 25px;
      padding-bottom: 15px;
      overflow-x: auto;
      overflow-y: hidden;
      @include rwd(lg) {
        justify-content: flex-start;
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: $colorBg;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $colorPrimary;
      }

      [class*='filter-btn-'] {
        flex: 0 0 auto;
      }

      [class*='filter-btn-'] + [class*='filter-btn-'] {
        margin-left: 24px;
      }

      // close icon
      [class*='filter-btn-'].active {
        padding-left: 28px;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 55%;
          left: 8px;
          width: 13px;
          height: 1px;
          transform: translateY(-50%) rotate(45deg);
          background-color: $colorWhite;
        }
        &:after {
          transform: translateY(-50%) rotate(135deg);
        }
      }
    }

    &__clear {
      display: inline-block;
      border-bottom: solid 1px $colorGray;
      color: $colorGray;
      font-size: 14px;
      line-height: 1.43;
      cursor: pointer;
      @include rwd(lg) {
        margin-top: 10px;
      }
    }
  }
}
