// $typography 字體排版
body {
  color: $colorFont;
  font-family: $fontStyle;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

p,
.text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

// common
body * {
  box-sizing: border-box;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 32px;
}

a {
  color: $colorPrimary;
}

.hidden {
  display: none !important;
}

// svg icon 預設撐滿, 大小將由外層樣式決定
[class*='svg-'] {
  /deep/ svg {
    width: 100%;
    height: 100%;
  }
}
