// $color
$colorPrimary: #00aaf0;
$colorSecondary: #98ce00;
$colorThird: #ff4492;
$colorBlack: #101010;
$colorBg: #101721;
$colorBg2: #121e30;
$colorBg3: #182434;
$colorWhite: #fff;
$colorGray: #848a8e;
$colorGrayLight: #f0f1f2;
$colorFont: $colorGrayLight;
$colorTimeLine: #005375;

$fontStyle: 'Noto Sans TC', '微軟正黑體', 'sans-serif', 'Noto Sans', 'Helvetica',
  'roboto', arial, sans-serif;

// == $mixin ==
// extend
// clearfix 清除浮動
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// position absolute center 置中
@mixin abCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hCenter {
  &:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin moreText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 背景圖
@mixin bgCenter($w: 'none', $h: 'none') {
  @if $w != 'none' {
    width: $w;
  }
  @if $h != 'none' {
    height: $h;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// rwd斷點
@mixin rwd($point) {
  @if $point == xs {
    @media (max-width: 375px) {
      @content;
    }
  }
  @if $point == sm {
    @media (max-width: 568px) {
      @content;
    }
  }
  @if $point == pad {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == md {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $point == lg {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $point == llg {
    @media (max-width: 1540px) {
      @content;
    }
  }
}
