.cardDetail {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 0 29px 36px 29px;
  @include rwd(sm) {
    padding: 0 0 36px 0;
  }

  &__time {
    color: $colorPrimary;
    @include rwd(sm) {
      color: $colorGray;
    }

    span + span {
      margin-left: 12px;
      @include rwd(sm) {
        margin-left: 8px;
      }
    }
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    margin: 11px 0 11px -5px;
  }

  &__tag {
    margin: 5px;
    padding: 2px 8px;
    border: none;
    font-size: 12px;
    line-height: 1.5;
    &:hover {
      border: none;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    letter-spacing: 0;
    @include rwd(sm) {
      margin-bottom: 8px;
    }
  }

  &__desc {
    color: $colorGray;
  }

  &__promptTags {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 30px;
    margin-left: -5px;
    [class*='tag-btn-'] {
      margin: 3px 5px;
    }
  }

  &__speaker {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 45px;

    &__item {
      display: flex;
      width: 100%;
    }

    &__item + &__item {
      margin-top: 54px;
      @include rwd(sm) {
        margin-top: 31px;
      }
    }

    &__avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      @include rwd(sm) {
        width: 56px;
        height: 56px;
      }
    }

    &__info {
      margin-left: 16px;
      @include rwd(sm) {
        margin-left: 12px;
      }

      &__name {
        font-weight: bold;
      }

      &__company,
      &__job {
        color: $colorGray;
      }
    }
  }

  &__sponsor {
    margin: 52px auto 15px auto;
    text-align: center;
    @include rwd(pad) {
      margin: 45px auto 8px auto;
    }
    &__title {
      font-size: 16px;
      @include rwd(pad) {
        font-size: 14px;
      }
    }
    &__logo {
      margin-top: 12px;
      width: 60px;
      height: 60px;
    }
  }

  &__btn {
    align-self: center;
    margin-top: 37px;
    padding: 6px 29px;
    border: solid 1px $colorPrimary;
    color: $colorPrimary;
    text-align: center;
    cursor: pointer;
  }
}
