/* The Modal (background) */
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1071;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal.fade {
  opacity: 0;
}
.modal.show {
  opacity: 1;
}

/* Modal Content */
.modal.fade .modal-content {
  border-radius: 8px;
  margin: 50px auto;
  padding: 22px;
  width: 90%;
  max-width: 609px;
  transform: translate(0, -50px);
  transition: transform 0.3s ease-out;
}

.modal.show .modal-content {
  transform: none;
}

.fade {
  transition: opacity 0.15s linear;
}


/* The Close Button */
.close {
  color: #ffcc00;
  font-size: 50px;
  line-height: 1;
  cursor: pointer;
  float: right;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}