#LookAtMe {
  background: #0d1336;
}
.container {
  @include flex(center, column, center);
  margin-top: -40px;
}
h3 {
  @include font(56px, $colorOrange, 600);
}
h4 {
  @include font(20px, $colorWhite, 400);
  width: 600px;
}
.youTubeContainer {
  margin-bottom: 120px;
  iframe {
    border-radius: 12px;
  }
}

@include screen(md) {
  .container {
    padding-top: 120px;
    margin-top: 0;
  }
  .youTubeContainer {
    iframe {
      width: 784px;
      height: 441px;
    }
  }
}

@include screen(pad) {
  h4 {
    width: 100%;
  }
  .youTubeContainer {
    margin-bottom: 80px;
    width: 100%;
    height: auto;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@include screen(sm) {
  h3 {
    font-size: 56px;
  }
  .container {
    padding-top: 48px;
  }
}
