@mixin bg-contain {
  @apply bg-contain bg-center bg-no-repeat
}
.sponsor-card{
  &-head{
    @apply flex items-center justify-center relative py-8 bg-blue-500;
    &-hover{
      @apply hidden;
    }
    &:hover .sponsor-card-head-hover{
      letter-spacing:0.29px;
      background-color: rgba(255, 204, 0, 0.7);
      @apply absolute top-0 left-0 h-full flex justify-center items-center font-medium w-full;
    }
  }
  &-pic{
    @include bg-contain;
    width: 119px;
    height: 90px;
  }
  &-text{
    @apply flex bg-white text-lg items-center justify-center py-3 px-4;
  }
}