.tab-menu {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  margin: 0 auto 60px auto;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.tab-menu-speaker {
  justify-content: left;
  gap: 20px;
}
.btn {
  font-size: 24px;
  padding: 12px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.btn-speaker {
  font-size: 16px;
}
.btn-default {
  background-color: rgba(0, 0, 0, 0);
  color: #fbc427;
  border: 1px solid #fbc427;
  transition: all 1s;
}
.btn-active {
  border: 1px solid #fbc427;
  background-color: #fbc427;
  color: #fff;
}
.btn-default:hover {
  background-color: #fbc427;
  color: #ffffff;
  transition: all 1s;
}
.btn-community-default {
  background-color: rgba(0, 0, 0, 0);
  color: #f47c57;
  border: 1px solid #f47c57;
  transition: all 1s;
}
.btn-community-active {
  border: 1px solid #f47c57;
  background-color: #f47c57;
  color: #fff;
}
.btn-community-default:hover {
  background-color: #f47c57;
  color: #ffffff;
  transition: all 1s;
}
@media screen and (max-width: 1024px) {
  .tab-menu {
    margin: 0 auto;
    width: 1024px;
  }
  .tab-menu-speaker {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .tab-menu {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 740px;
  }
  .tab-menu-speaker {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .tab-menu {
    margin: 0 auto;
    max-width: 343px;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .tab-menu-speaker {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .btn-speaker {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 568px) {
  .tab-menu {
    margin: 0 auto;
    max-width: 343px;
    gap: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  .tab-menu-speaker {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .btn-speaker {
    padding: 8px 16px;
  }
}
@media screen and (max-width: 375px) {
  .tab-menu {
    margin: 0 auto;
    max-width: 343px;
    gap: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  .tab-menu-speaker {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .btn-speaker {
    padding: 8px 16px;
  }
}
