.popup-cover {
  @include flexCenter;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}

.popup-cover.action {
  pointer-events: unset;
  .popup {
    transform: translateY(0%);
    opacity: 1;
  }
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: fixed;
  width: 100%;
  max-width: 553px;
  padding: 40px 25px;
  transform: translateY(20%);
  transition: all 0.6s;
  border: solid 1px $colorPrimary;
  background-color: $colorPopupBg;
  opacity: 0;
  @include rwd(pad) {
    max-width: 325px;
    padding: 82px 25px 40px 25px;
  }

  &__close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 23px;
    height: 23px;
    transform: rotate(-45deg);
    cursor: pointer;
    &:before,
    &:after {
      @include abCenter;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $colorPrimary;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1.2px;
  }

  &__desc {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    span {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.8px;
      @include rwd(pad) {
        line-height: 1.5;
        white-space: nowrap;
      }
    }
  }

  &__input {
    width: 100%;
    max-width: 300px;
    margin: 50px 0 40px 0;
    padding: 3px 0;
    border: none;
    border-bottom: solid 1px $colorPrimary;
    border-radius: 0px;
    background-color: transparent;
    color: $colorWhite;
    font-size: 16px;
    letter-spacing: 0.8px;
    opacity: 0.8;
    outline: none;
    @include rwd(pad) {
      margin-top: 56px;
    }
  }

  &__input::placeholder {
    opacity: 0.5;
  }

  ::v-deep .btn {
    min-width: 149px;
    height: 45px;
    min-height: 45px;
    line-height: 45px;
    &:before {
      border-radius: 8px;
    }
    &:after {
      transform: translate(5px, 6px);
      border-radius: 8px;
    }

    &:hover {
      transform: translate(2px, 2px);
      &:after {
        transform: translate(0, 0);
      }
    }
    .btn__text {
      font-size: 16px;
    }
  }
}
