.cardTicket {
  @include bgCenter;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 296px;
  min-height: 360px;
  margin: 12px 16px;
  padding: 24px 16px 24px 32px;
  transition: all 0.3s;
  border-radius: 8px;
  color: $colorBlack;
  overflow: hidden;
  cursor: pointer;

  @include rwd(pad) {
    padding: 24px 32px;
  }

  @include rwd(sm) {
    max-width: 100%;
    margin: 15px 16px;
  }
  &:hover {
    transform: translateY(-16px);
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
    }

    &__count {
      font-size: 16px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12px;

    &__list + &__list {
      margin-top: 12px;
    }
    &__list {
      padding-left: 28px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        height: 2px;
        background-color: $colorBlack;
      }

      &:before {
        top: 58%;
        left: 5px;
        width: 7px;
        transform: translate(-50%) rotate(45deg);
      }
      &:after {
        left: 13px;
        width: 16px;
        transform: translate(-50%) rotate(-45deg);
      }
    }

    &__desc {
      margin-top: 15px;
    }
  }

  &__btn {
    display: inline-block;
    align-self: center;
    width: 166px;
    margin-top: auto;
    padding: 12px 0;
    border-radius: 4px;
    background-color: $colorBlack;
    color: $colorCardPrimary;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}

.cardTicket.primary {
  background-color: $colorCardPrimary;
  .cardTicket__btn {
    color: $colorCardPrimary;
  }
}

.cardTicket.secondary {
  background-color: $colorCardSecondary;
  .cardTicket__btn {
    color: $colorCardSecondary;
  }
}

.cardTicket.third {
  background-color: $colorThird;
  background-image: url('./images/bg-wave.png');
  .cardTicket__btn {
    color: $colorThird;
  }
}

.cardTicket.primary,
.cardTicket.secondary {
  background-image: url('./images/bg-circle.png');
  background-size: 255px 255px;
  background-position: 125px 200px;
}

.cardTicket.beEngaged {
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 160px;
  background-image: url('./images/bg-beengaged.png');
  background-size: contain;
  background-position: bottom right;
  pointer-events: none;
  @include rwd(pad) {
    justify-content: flex-start;
    max-width: 296px;
    min-height: 360px;
    background-size: 624px 160px;
    background-position: 125% 100%;
  }

  @include rwd(sm) {
    max-width: 100%;
  }

  .cardTicket__head {
    display: flex;
    justify-content: flex-start;
    @include rwd(pad) {
      align-items: flex-start;
      flex-flow: column nowrap;
    }

    &__title {
      @include rwd(pad) {
        font-size: 23px;
      }
    }

    &__count {
      margin-left: 15px;
      @include rwd(pad) {
        margin-left: 0;
        order: -1;
      }
    }
  }

  .cardTicket__content {
    &__list {
      padding-left: 0;
      &:before,
      &:after {
        display: none;
      }
    }

    &:before {
      @include abCenter;
      @include bgCenter(255px, 255px);
      content: '';
      transform: translate(-15%, 26%);
      background-image: url('./images/bg-circle.png');
    }
  }
}

// 禁用狀態
.cardTicket.disabled {
  .cardTicket__btn {
    background-color: $colorWhite;
  }
}

.cardTicket.disabled,
.cardTicket.soldout {
  pointer-events: none;
}
