.modal-speaker{
  @include flex(space-between,row,flex-start);
  @include screen(sm){
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.modal-speaker-dropdown{
  @include flex(flex-start,row,center);
  @include font(20px,$colorPrimary,500);
  margin-bottom: 16px;
  cursor: pointer;
  span{
    transition: all .3s;
    @include bgCenter(32px,32px);
    background-image:url('~/assets/images/schedule/down.svg');
    background-size:contain;
    background-blend-mode: screen;
  }
  .transform{
    transform: rotate(180deg);
  }
}
.modal-speaker-img{
  overflow: hidden;
    img {
      width: 160px;
      height: 160px;
      // object-fit: cover;
      max-width: 100%;
      border-radius: 99em;
    }
}
.modal-speaker-text{
  width: 70%;
  @include screen(sm){
    width: 100%;
    text-align: center;
  }
}
.speaker-title{
  @include font (20px,$colorPrimary,500);
  margin-bottom: 4px;
}
.speaker-company{
  margin-bottom: 20px;
  margin-top: 0px;
}
.speaker-community-wrap{
  @include flex(flex-start,row,center);
  a{
    &:not(:last-child){
      margin-right: 8px;
    }
  } 
  @include screen(sm){
    justify-content: center
  }
}
.modal-agenda-info{
  @include flex(flex-end,row,center);
  @include screen(sm){
    justify-content: center;
  }
  div{
    color:#5d6160;
    font-weight: 400;
  }
}
.modalBody{
  .modal-agenda-title{
    @include font(20px,$colorPrimary,500)
  }
  .modal-agenda-topic{
    @include font(20px,#5d6160,500);
  }
  .modal-agenda-intro{
    @include font(16px,#5d6160,400);
  }
  .modal-tag{
    li{
      @include font (16px,$colorWhite,500);
      background-color:$colorPrimaryLight;
      padding: 8px 16px;
      display: inline-block;
      border-radius: 32px;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}
.sponsor-logo{
  width: 120px;
  height: 120px;
  object-fit: contain;
  display: inline-block;
}
.modalFooter{
  @include flex(space-between,row,center);
  @include screen(sm){
    flex-wrap: wrap;
  }
  .calendar{
    @include flex(center,row,center);
    background-color: $colorWhite;
    border: 2px solid $colorPrimaryLight;
    border-radius: 32px;
    width: 45%;
    span{
      @include font(20px,$colorPrimary,500);
    }
    @include screen(sm){
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .community-share{
    background-color: $colorPrimary;
    width: 45%;
    border-radius: 32px;
    border: 2px solid $colorPrimary;
    @include screen(sm){
      width: 100%;
    }
  }
  .community-share-btn{
    @include flex(center,row,center);
    cursor:pointer;
    position: relative;
    span{
      @include font(20px,$colorWhite,500);
    }
  }
  .community-share-list{
    position: absolute;
    width: 200px;
    top:80%;
    right: -70px;
    @include flex (center,column,center);
    border-radius: 4px;
    background-color:$colorWhite;
    a{
      padding: 12px 8px;
      display: block;
      width: 100%;
      @include font (16px,$colorPrimary,400);
      transition: all .3s;
      &:hover{
        background-color:$colorPrimaryLight;
        border-radius: 4px;
      }
    }
    @include screen(sm){
      top:100%;
      right: 0;
      width: 100%;
      a{
        text-align: center;
      }
    }
  }
}
