.runNumber {
  &__items.active {
    @include rwd(pad) {
      .runNumber__item {
        .runNumber__item__center {
          opacity: 1;
        }
        .runNumber__item__top, .runNumber__item__bottom {
          transform: translateY(0%);
          opacity: 1;
        }
      }

      .runNumber__item:nth-child(1) {
        .runNumber__item__top, .runNumber__item__bottom {
          transition: all .6s ease-out .9s;
        }
        .runNumber__item__center {
          transition: all .6s ease-out 1s;
        }
      }

      .runNumber__item:nth-child(2) {
        .runNumber__item__top, .runNumber__item__bottom {
          transition: all .6s ease-out 1.2s;
        }
        .runNumber__item__center {
          transition: all .6s ease-out 1.3s;
        }
      }

      .runNumber__item:nth-child(3) {
        .runNumber__item__top, .runNumber__item__bottom {
          transition: all .6s ease-out 1.5s;
        }
        .runNumber__item__center {
          transition: all .6s ease-out 1.8s;
        }
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include rwd(sm) {
      flex-flow: column nowrap;
    }
  }

  &__item + &__item {
    @include rwd(sm) {
      margin-top: 65px;
    }
  }

  &__item {
    @include flexCenter;
    flex-flow: column nowrap;

    &__top {
      color: $colorThird;
    }

    &__bottom {
      margin-top: 5px;
    }

    &__top, &__bottom {
      font-size: 24px;
      letter-spacing: 1.2px;
      @include rwd(pad) {
        align-self: center;
        transform: translateY(200%);
        transition: all .6s;
        opacity: 0;
      }
    }

    &__center {
      font-size: 100px;
      line-height: 1;
      letter-spacing: 5px;
      @include rwd(pad) {
        opacity: 0;
      }
    }
  }
}



