.ticket {
  &__banner {
    @include bgCenter;
    width: 100%;
    height: 0;
    padding-top: 23%;
    background-image: url('~assets/images/schedule/banner.png');
    @include rwd(md) {
      width: 100%;
      height: 217px;
      padding-top: 0;
      background-size: auto 100%;
    }
  }

  &__desc {
    width: 100%;
    margin: 100px auto 132px auto;
    padding: 0 30px;

    @include rwd(pad) {
      margin: 54px auto 65px auto;
      padding: 0 25px;
    }

    &__title {
      margin-bottom: 24px;
      font-size: 32px;
      letter-spacing: 0;
      text-align: center;

      @include rwd(pad) {
        text-align: left;
        .span-s {
          display: block;
        }
      }

      @include rwd(pad) {
        margin-bottom: 37px;
        .span-s {
          display: block;
        }
      }
    }

    &__text {
      width: 100%;
      max-width: 624px;
      margin: 0 auto;
      letter-spacing: 0;
    }
  }

  &__kind {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    .title {
      width: 100%;
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
      @include rwd(pad) {
        margin-bottom: 30px;
        padding: 0 24px;
        text-align: left;
      }
    }

    &__block {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
      width: 50%;
      max-width: 660px;
      @include rwd(llgs) {
        width: 100%;
      }
      @include rwd(pad) {
        padding: 0 16px;
      }
    }

    &__block--left {
      justify-content: flex-end;
      @include rwd(llgs) {
        justify-content: center;
      }
    }
    &__block--right {
      justify-content: flex-start;
      @include rwd(llgs) {
        justify-content: center;
      }
    }
  }

  &__studentKind {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 120px;

    .title {
      width: 100%;
      margin-bottom: 32px;
      font-size: 32px;
      text-align: center;
      @include rwd(pad) {
        margin-bottom: 12px;
        padding: 0 24px;
        text-align: left;
      }
    }

    .text {
      width: 100%;
      max-width: 624px;
      @include rwd(pad) {
        padding: 0 24px;
        text-align: left;
      }
    }

    &__remarks {
      justify-content: center;
      max-width: 624px;
      margin-top: 23px;
      padding: 0 25px;
      color: $colorThird;
      font-size: 14px;
      @include rwd(sm) {
        color: $colorWhite;
      }
    }

    &__remark + &__remark {
      margin-top: 8px;
    }

    .ticket__kind__block {
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin-top: 44px;
      @include rwd(pad) {
        align-items: center;
        flex-flow: column nowrap;
        padding: 0 32px;
      }
    }
  }

  .sectionApp {
    @include rwd(md) {
      margin-top: 75px;
    }
  }
}
