.edashboard {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .news {
    border-bottom: 2px solid $colorPrimary;
    background: $colorBg;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    marquee {
      p {
        font-size: 38px;
        display: inline-block;
      }
    }
  }
}