.container {
  border: 2px solid #fff;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  margin-bottom: 90px;
}

.team {
  border-radius: 27px;
  background-color: #fff;
  font-size: 1.25rem;
  color: #fbc427;
  font-weight: bold;
  text-align: center;
  padding: 0.8125rem 1.875rem;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.community {
  color: #f47c57;
}
.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.content a {
  text-decoration: none;
  color: #f47c57;
  font-size: 1rem;
  display: flex;
  gap: 2px;
  align-items: center;
}
/* ICON */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container:nth-child(odd) .icon-container {
  justify-content: end;
}
.icon:hover {
  color: #fff;
  background-color: #f47c57;
  transition: all 0.3s;
}
.icon:hover path {
  fill: #ffffff;
  transition: all 0.3s;
}
.icon-none {
  display: none !important;
  opacity: 0;
}
.icon {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #f47c57;
  max-width: 124px;
  padding: 0.5rem 0;
}
.site {
  max-width: 124px;
  padding: 0.5rem 2.375rem;
}
.fb {
  max-width: 124px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
/* ICON */
.container:nth-child(even) .team {
  left: 10%;
}
.container:nth-child(odd) .team {
  left: 90%;
}
.team-position {
  left: 85% !important;
}
.content-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 3.875rem 0;
  max-width: 1020px;
  height: 221px;
}

.container:nth-child(odd) .content-container {
  flex-direction: row-reverse;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fbc427;
  max-width: 612px;
  text-indent: -1rem;
}
.title-none {
  display: none;
  opacity: 0;
}
.text {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5rem;
  max-width: 612px;
  margin-bottom: 0rem;
}
.photo-container {
  width: 282px;
  height: 221px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.bgc {
  background-color: #fff;
}

.photo-container img {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: scale-down;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 5rem auto;
  }
  .content-container {
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 343px;
    margin: 3.125rem auto;
    display: flex;
  }
  .content {
    display: block;
  }
  .icon-container {
    margin-top: 1.875rem;
    justify-content: center;
  }
  .container:nth-child(even) .team,
  .container:nth-child(odd) .team {
    left: 50%;
  }
  .team-position {
    left: 50% !important;
  }

  .content-container,
  .container:nth-child(odd) .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.875rem;
    height: 100%;
  }
  .photo-container {
    width: 279px;
    height: 221px;
  }
  .content-container p {
    margin-top: 0.75rem;
  }
  .content-container,
  .title,
  .text {
    max-width: 260px;
    margin: 0 auto;
  }
  .container:nth-child(odd) .content-container .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 343px;
    margin: 3.125rem 1rem;
    display: flex;
  }
  .container:nth-child(even) .team,
  .container:nth-child(odd) .team {
    left: 50%;
  }
  .team-position {
    left: 50% !important;
  }

  .content-container,
  .container:nth-child(odd) .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .photo-container {
    width: 279px;
    height: 221px;
  }
  .content-container p {
    margin-top: 0.75rem;
  }
  .content-container,
  .title,
  .text {
    max-width: 260px;
    margin: 0 auto;
  }
  .container:nth-child(odd) .content-container .content {
    margin-left: 0;
  }
}
