.btn {
  width: 231px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
  background-color: transparent;
  border: 2px solid $colorBlack;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  @include screen(pad) {
    width: 185px;;
    line-height: 2.5rem;
  }
  @include screen(sm) {
    width: 96%;
    line-height: 3rem;
    border-radius: 35px;
    font-weight: bold;
    font-size: 16px;
  }
  &:hover {
    background-color: $colorGray;
    color: $colorWhite;
  }
}

.btn-circle {
  @include flex(center, column, center);
  background-color: $colorOrange;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  cursor: pointer;
  @include screen(pad) {
    width: 126px;
    height: 126px;
  }
  & p {
    color: $colorPrimary;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &:hover {
    background-color: $colorOrangeLight;
  }
}
