.slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.sponsor-swiper {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}
