{% extends 'layouts/main.twig' %} {% block content %}
<h2 class="page-title mt-5 mb-5 text-center">APPS</h2>
      <div class="apps container">
          <div class="qrcode row mb-5">
                <div class="col-md-6 mb-md-0 mb-5">
                  <div class="android p-4">
                      <h4>Android</h4>
                      <a href="https://play.google.com/store/apps/details?id=org.mopcon.session.app" target="_blank" class="d-block">
                        <img class="img-fluid" src="assets/images/android.png" alt="">
                      </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ios p-4">
                      <h4>iOS</h4>
                      <a href="https://itunes.apple.com/tw/app/mopcon/id721411970?mt=8" target="_blank" class="d-block">
                        <img class="img-fluid" src="assets/images/ios.png" alt="">
                      </a>
                  </div>
                </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="privacy p-5">
                  <h5>MOPCON-APP隱私權政策</h5>
                  <div>
                  <p> 為保護您的隱私權，請您詳細閱讀以下有關 MOPCON-APP(以下簡稱本 APP)之「隱私權政策」:</p>
      
                  <p>
                    一、隱私權保護政策的適用範圍<br>
                    隱私權保護政策內容，包括本 APP如何處理在您使用軟體服務時收集到的個人識別資料。隱私權保護政策不
                    適用於我方以外的相關連結網站，也不適用於非我方所委託或參與管理的人員。
                  </p>
      
                  <p>
                    二、資料的蒐集與使用方式<br>
                    為了在 MOPCON-APP 上提供您最佳的功能體驗，有可能會請您提供相關個人的資料或要求處理使用者或裝
                    置資訊授權，其範圍可能包含或不包含如下：<br>
                    1.相機、麥克風、帳戶、聯絡人、使用者資料或電話。<br>
                    2.於使用本 APP或我方網站資訊服務時，伺服器會自行記錄相關行徑，包括您使用連線設備的 IP 位址、使用
                    時間、使用的瀏覽器、該手機型號及 Android 版本等，以做為我方增進軟體應用或網站服務的參考依據，此
                    記錄為內部應用，決不對外公布。除非取得您的同意或其他法令之特別規定，我方絕不會將您的個人資料揭
                    露予第三人或使用於蒐集目的以外之其他用途。
                  </p>
      
                  <p>
                    三、資料之保護<br>
                    本 APP 之網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施加以保護網站
                    及您的個人資料，其採用嚴格的保護措施。
                  </p>
      
                  <p>
                    四、網站對外的相關連結<br>
                    本 APP網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連
                    結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。
                  </p>
      
                  <p>
                    五、隱私權保護政策之修正<br>
                    本 APP及網站隱私權保護政策如因應需求而將隨時進行修正，修正後的條款將刊登於我方網站上且併隨更新
                    於本 APP，若有任何問題歡迎聯絡 contact@mopcon.org。
                  </p>
              </div>
                
              </div>
            </div>
          </div>
      </div>
      {% endblock %}