{% extends 'layouts/main.twig' %} {% block content %}
<div class="stand d-flex flex-column align-items-center">

  <div class="stand-banner"></div>
  <div class="stand-button m-5">
    <a href="https://quizizz.com/join/" target="_blank" class="play-game mb-5"></a>
    <div class="enter-score" data-toggle="modal" data-target="#getModal"></div>
    <div class="bg-left"></div>
    <div class="bg-right"></div>
  </div>
  <div class="stand-description">
    <h3 class="text-center">活動流程</h3>
    <ul>
      <li>點擊 Play Game，輸入 Game Code 加入遊戲。</li>
      <li>等待參賽者加入，開始《知識王 PK 賽》
        </li>
      <li>依序答題 10 題，答題越快分數越高</li>
      <li>遊戲結束後回到此頁，輸入分數並得到對應等級</li>
      <li>分享遊戲成果到個人 FB 並設為公開可享好康限定哦</li>
    </ul>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="getModal" tabindex="-1" role="dialog" aria-labelledby="getModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body  d-flex justify-content-center">
          ...
          <input type="number" class="get-score" placeholder="輸入分數看你是誰">
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button type="button" id="sendScore" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<script>
$(function(){
  $('#sendScore').on('click', function(){
    var value = $('.get-score').val();
    if(value != null && typeof Number(value) === 'number') {
      if(value > 0 && value < 5000) {
        window.location.replace("/2018/score.php?result=0");
      }
      else if(value >= 5000 && value < 7000) {
        window.location.replace("/2018/score.php?result=1");
      }
      else if(value >= 7000 && value < 9000) {
        window.location.replace("/2018/score.php?result=2");
      }
      else if(value >= 9000 ) {
        window.location.replace("/2018/score.php?result=3");
      }
    }
    
  })
})
</script>
{% endblock %}