{% extends 'layouts/main.twig' %} {% block content %}
<h2 class="page-title mt-5 mb-5 text-center">TICKET</h2>

<div class="container">
    <div class="col-12">
        <div class="ticket-item type1 row mb-4">
            <div class="ticket-type  d-flex flex-md-column align-items-md-start">
                <div class="name">一般票</div>
            </div>
            <div class="ticket-content flex-auto">
                <h4>NT$ 600 元</h4>
                <p>
                    包含兩日餐盒、午茶點心<br>
                    <span class="text-danger">期間限定販售 09/17~10/31</span>
                </p>
                <div class="ticket-tool">
                    <!--<p class="text-danger mb-0 text-right d-md-block">限量：200名</p>-->
                    <a href="#"" target=" _blank" class="btn btn-ticket" title="But ticket">
                        立即購票
                    </a>

                </div>
            </div>
        </div>
        <div class="ticket-item type1 row mb-4">
            <div class="ticket-type  d-flex flex-md-column align-items-md-start">
                <div class="name">學生票</div>
            </div>
            <div class="ticket-content flex-auto">
                <h4>免費</h4>
                <p>
                    <strong style="text-decoration: underline">不包含</strong>兩日餐盒、午茶點心<br>
                    <span class="text-danger">期間限定販售 09/10~09/13</span>
                </p>
                <div class="ticket-tool">
                    <p class="text-danger mb-0 text-right d-md-block">限量：200名</p>
                    <a href="#" target="_blank" class="btn btn-ticket" title="But ticket">
                        立即購票
                    </a>

                </div>
            </div>
        </div>
        <div class="ticket-item type2 row mb-4">
            <div class="d-flex ticket-type flex-md-column align-items-md-start">
                <div class="robbon-wrap">
                    <div class="ticket-ribbon">TOP</div>
                </div>
                <div class="name">豪華獨享票</div>
            </div>
            <div class="ticket-content flex-auto">
                <h4>NT$ 2000 元</h4>
                <p>
                    包含兩日餐盒、午茶點心MOPCON 2018獨家紀念品、快速通關<br>
                    <span class="text-danger">期間限定販售 09/03~10/12</span>
                </p>
                <div class="ticket-tool">
                    <p class="text-danger mb-0 text-right d-md-block">限量：30名</p>
                    <a href="#" target="_blank" class="btn btn-ticket" title="But ticket">
                        立即購票
                    </a>

                </div>
            </div>
        </div>
        <div class="ticket-item type3 row mb-4">
            <div class="ticket-type d-flex flex-md-column align-items-md-start">
                <div class="robbon-wrap">
                    <div class="ticket-ribbon">Limited</div>
                </div>
                <div class="name">尊絕不凡票</div>
            </div>
            <div class="ticket-content flex-auto">
                <h4>NT$ 4000 元</h4>
                <p>
                    包含兩日餐盒、午茶點心MOPCON 2018獨家紀念品、快速通關<br>
                    獨家設計方型抱枕、講者晚宴乙客<br>
                    <span class="text-danger">期間限定販售 09/03~10/12</span>
                </p>
                <div class="ticket-tool">
                    <p class="text-danger mb-0 text-right d-md-block">限量：20名</p>
                    <a href="#" target="_blank" class="btn btn-ticket" title="But ticket">
                        立即購票
                    </a>

                </div>
            </div>
        </div>
        <div class="ticket-item type2 row mb-4">
            <div class="ticket-type d-flex flex-md-column align-items-md-start">
                <div class="name">講者晚宴票</div>
            </div>
            <div class="ticket-content flex-auto">
                <h4>NT$ 1000 元</h4>
                <p>
                    講者晚宴乙客 (11/3晚上)
                    <br>
                    <span class="text-danger">期間限定販售 10/01~11/02</span>
                </p>
                <div class="ticket-tool">
                    <!--<p class="text-danger mb-0 text-right d-md-block">限量：200名</p>-->
                    <a href="#" target="_blank" class="btn btn-ticket" title="But ticket">
                        立即購票
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}