{% extends 'layouts/warmup.twig' %} {% block content %}

<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-info col-sm-6" data-div-name="#second">
            <h4 class="page-title">暖身場是什麼？</h4>
            <p>
                MOPCON 創立至今已達七年之久，從 2012 到現在，堅持濁水溪以南這句話 ... 我們堅持了七年，有了您才有今天的 MOPCON ，就在今年 ， 我們決定有 個番外活動，「 MOPCON
                暖身場」就這樣誕生了！
            </p>
            <p>
                什麼是 MOPCON 暖身場？ 會眾、講師以及我們的貴賓們遠道而參與這場盛會 ， 但兩天時間總是過得特 別快還意猶未盡時就結束了，您的心聲我們聽到了 ， 透過 MOPCON 暖身場
                讓您有更多的機會可以接觸大會講師、議程委員與透過 Workshop
                來更加認 識廠商產品進而提昇工作效率與想法。期待您一同來參加！
            </p>
        </div>
        <div class="warm-up-people col-sm-6">
            <h4 class="page-title">暖身場可以做些什麼事？</h4>
            <div class="row">
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-users"></i>
                    <h5>我是會眾</h5>
                    <span>
                        好想聽更多大神的演講
                        ，有了暖身場可以聽到
                        飽聽到爽！
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-graduate"></i>
                    <h5>我是講者</h5>
                    <span>
                        難得來到南台灣，除了
                        遊山玩水外，還有好多
                        的議題想要分享～
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-edit"></i>
                    <h5>我是議程委員</h5>
                    <span>
                        默默在幕後辛辛苦苦審
                        理稿件也想要來 Show
                        一波～
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-tie"></i>
                    <h5>我是廠商</h5>
                    <span>
                        透過精緻的 Workshop
                        可以有更多的機會進行
                        手把手教學～
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-schedule col-sm-6" data-div-name="#three">
            <h4 class="page-title">時刻表</h4>
            <div class="table">
                <div class="row table-title">
                    <div class="col-sm-4 text-center">
                        時間
                    </div>
                    <div class="col-sm-8 text-center">
                        活動
                    </div>
                </div>
                <div class="row break">
                    <div class="col-sm-4 text-center">
                        08:30 - 09:30
                    </div>
                    <div class="col-sm-8 text-center">
                        報到
                    </div>
                </div>
                <div class="row conf">
                    <div class="col-sm-4 text-center">
                        09:30 - 10:00
                    </div>
                    <div class="col-sm-8 text-center">
                        <span class="tag">Blockchain</span>
                        <h6>黃敬群(jserv)</h6>
                        <span>透過區塊鏈打造行動化數位證書</span>
                    </div>
                </div>
                <div class="row conf">
                    <div class="col-sm-4 text-center">
                        10:00 - 11:00
                    </div>
                    <div class="col-sm-8 text-center">
                        <span class="tag">Blockchain</span>
                        <h6>黃敬群(jserv)</h6>
                        <span>透過區塊鏈打造行動化數位證書</span>
                    </div>
                </div>
                <div class="row conf">
                    <div class="col-sm-4 text-center">
                        11:00 - 12:00
                    </div>
                    <div class="col-sm-8 text-center">
                        <span class="tag">Blockchain</span>
                        <h6>黃敬群(jserv)</h6>
                        <span>透過區塊鏈打造行動化數位證書</span>
                    </div>
                </div>
                <div class="row break">
                    <div class="col-sm-4 text-center">12:00</div>
                    <div class="col-sm-8 text-center">休息 Break</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-ticket" data-div-name="#four">
            <h4 class="page-title">售票資訊</h4>
            <div class="ticket-item type1 row mb-4">
                <div class="ticket-type  d-flex flex-column align-items-start">
                    <div class="name">一般票</div>
                </div>
                <div class="ticket-content flex-auto">
                    <h4>NT$ 600 元</h4>
                    <p>
                        一般會眾票乙張，含午餐。
                    </p>
                    <div class="ticket-tool">
                        <p class="text-danger mb-0 text-right">限量：200名</p>
                        <a href="#" target="_blank" class="btn btn-ticket" title="But ticket">
                            立即購票
                        </a>

                    </div>
                </div>
            </div>
            <div class="main-conf-ticket">
                <h5>來個充實的週末吧，MOPCON 2018 歡迎您！</h5>
                <a class="btn btn-ticket" href="/2018/ticket.php">MOPCON 2018 立即購票</a>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-guide d-flex align-items-center flex-column">
            <div class="warm-up row d-flex align-items-center flex-column">
                <h4 class="page-title">指導單位</h4>
                <div class="item">
                    <a href="#">
                        <img class="img-responsive" src="assets/images/warm-up/asia_silicon.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="warm-up-guide d-flex align-items-center flex-column">
                <div class="warm-up row d-flex align-items-center flex-column">
                    <h4 class="page-title">協辦單位</h4>
                    <div class="item">
                        <a href="#">
                            <img class="img-responsive" src="assets/images/warm-up/asia_silicon.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
