$base-font-size: 16px 
$base-line-height: 24px
$darkgreen: #5EB95E
$text-color: #000
$white: #fff
$black: #000
$dark-blue: #0C4191
$light-blue: #1B75BC
$font-default: 16px //預設字體大小
$font-middle: 18px
$font-big: 24px
@include establish-baseline()  
html
	font-family: Helvetica-Neue, Helvetica, Arial, sans-serif
a 
	text-decoration: none
