.container
	+set-container-width
	padding: 0
	margin: 0 auto
	overflow: hidden
	+susy-grid-background
	+at-breakpoint($pad)
		+container
		+susy-grid-background
	+at-breakpoint($pc)
		+container
		+susy-grid-background	