body 
	height: 100%
.main 
	position: absolute
	top: 0
	bottom: 0
	right: 0
	left: 0
	overflow: auto
.content
	+container

	+susy-grid-background
	+at-breakpoint($pad)
		+container
		+susy-grid-background
	+at-breakpoint($pc)
		+container
		+susy-grid-background	
	
.talk
	h1
	h2

		+adjust-font-size-to($base-font-size)
		color: $white
		font-weight: bold
		+at-breakpoint($pad)
			+adjust-font-size-to($font-big,1)
	h3
		+adjust-font-size-to($font-middle)
		color: $black
	.row
		+pie-clearfix
		overflow: hidden
	.talker
		padding: 1em 
	.area-all a
		background: $darkgreen
		h2 
			color: #fff
	.area-1,.area-2
		+trailer(1)
	.area-3
		margin-bottom: 0
	.area-1,.area-2,.area-3
		+at-breakpoint($pad)
			padding-bottom: 500em
			margin-bottom: -500em
	.area-all,.area-1,.area-2,.area-3
		display: block
		+pie-clearfix
		cursor: default 
		text-decoration: none
		transition: all 0.3s	
		background: $darkgreen
		&:hover,&:active
			cursor: pointer
			background: darken($darkgreen,10%)
			h2
				color: #fff
	.none,.none:hover,.none:active 
		cursor: default
		background: $darkgreen
	.area-all
		.talker
			text-align: center
		.detail
	.area-1,.area-2
		+at-breakpoint($pad)
			+span-columns(3)
	.area-3
		+at-breakpoint($pad)
			+span-columns(3 omega)
	time 
		display: block 
		+adjust-font-size-to(16px,1)
		+trailer(1)
		+leader(1)
		padding-left: 0.5em
		border-left: 5px solid $darkgreen
	.place 
		+adjust-font-size-to(13px)
		.btn 
			color: #fff
		.area-time
			color: #000
.talk 
	+transition(margin 1s)  
	+span-columns($total-columns)
	.open &    
		margin-left: - space($side)
.talker-view
	
	position: absolute
	top: 0
	overflow: auto
	right: 0
	bottom: 0
	+box-sizing(border-box) // compass　CSS3 mixin，就算寬度寫死，用padding推也不會影響原本元素寬度  
	background: #207ABC  
	+translate(100%,0)
	+transition(transform 1s) //左右滑動效果  
	width: 250px
	@extend %clearfix  
	h2 
		color: yellow
		font-size: 18px 
	p 
		color: #fff
	.open &    
		+translate(-21px,0)
		

.close
	background: blue 
	color: #fff
	padding: 20px
	display: block
	text-align: center
	text-decoration: none 
	font-size: 30px
