.talk
	h1
	h2

		+adjust-font-size-to($base-font-size)
		color: $white
		font-weight: bold
		+at-breakpoint($pad)
			+adjust-font-size-to($font-big,1)
	h3
		+adjust-font-size-to($font-middle)
		color: $black
	article
	.row
		+pie-clearfix
	.talker
		padding: 1em 
	.area-all a
		background: $darkgreen
		h2 
			color: #fff
	.row 
		overflow: hidden
		+at-breakpoint($pad)
	.area-1,.area-2
		+trailer(1)
	.area-3
		margin-bottom: 0
	.area-1,.area-2
		+at-breakpoint($pad)
			padding-bottom: 500em
			margin-bottom: -500em
	.area-all,.area-1,.area-2,.area-3
		display: block
		+pie-clearfix
		cursor: default 
		text-decoration: none
		transition: all 0.3s	
		background: $darkgreen
		&:hover,&:active
			cursor: pointer
			background: darken($darkgreen,10%)
			h2
				color: #fff
	.none,.none:hover,.none:active 
		cursor: default
		background: $darkgreen
	.area-all
		.talker
			text-align: center
		.detail
	.area-1,.area-2
		+at-breakpoint($pad)
			+span-columns(3)
	.area-3
		+at-breakpoint($pad)
			+span-columns(3 omega)
	time 
		display: block 
		+adjust-font-size-to(16px,1)
		+trailer(1)
		+leader(1)
		padding-left: 0.5em
		border-left: 5px solid $darkgreen
	.place 
		+adjust-font-size-to(13px)
		.btn 
			color: #fff
		.area-time
			color: #000
			