.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px $colorPrimary;
  background-color: $colorBg;
  z-index: 1000;
  @include rwd(md) {
    height: 67px;
    transition: all 0.6s;
    background-color: transparent;
    overflow: hidden;
    @include rwd(pad) {
      height: 47px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    max-width: 1252px;
    height: 65px;
    margin: 0 auto;
    padding: 0 20px;
    @include rwd(md) {
      flex-flow: column nowrap;
      height: 100vh;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        z-index: -1;
      }
      &:before {
        height: 67px;
        transition: all 0.3s 0.15s;
        background-color: $colorPrimary;
        @include rwd(pad) {
          height: 47px;
        }
      }
      &:after {
        height: 66px;
        transition: all 0.3s;
        background-color: $colorBg;
        @include rwd(pad) {
          height: 46px;
        }
      }
    }
  }

  &__toggle {
    display: none;
    position: absolute;
    top: 20px;
    right: 22px;
    width: 33px;
    height: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2000;
    @include rwd(md) {
      display: block;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      transition: all 0.3s;
      border-radius: 20px;
      background-color: $colorWhite;
    }
    &:before {
      top: 0;
      width: 100%;
    }
    &:after {
      top: 100%;
      right: 0;
      width: 50%;
    }
  }

  &__logo {
    @include bgCenter(158px, 24px);
    flex: 0 0 auto;
    background-image: url('./images/logo.png');

    @include rwd(md) {
      position: absolute;
      top: 20px;
      left: 26px;
    }

    @include rwd(pad) {
      width: 87px;
      height: 13px;
    }
  }

  &__nav {
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    margin-left: auto;
    @include rwd(md) {
      flex-flow: column nowrap;
      height: 50vh;
      margin-top: 19vh;
      margin-left: 0;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
    }

    &__item {
      @media (min-width: 1024px) {
        &:hover {
          .header__nav__subItem {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      height: 100%;
      transition: all 0.6s 0.3s;

      &__icon {
        display: none;
        position: absolute;
        top: 50%;
        left: 30px;
        width: 11px;
        height: 11px;
        transform: translateY(-50%);
        @include rwd(md) {
          display: block;
        }
        &:before,
        &:after {
          @include abCenter;
          content: '';
          width: 100%;
          height: 1px;
          transition: all 0.3s;
          background-color: $colorWhite;
        }
      }

      &__icon.active {
        &:before {
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }

      &__name {
        @media (min-width: 1024px) {
          &:hover {
            color: $colorPrimary;
          }
        }
        display: inline-block;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 24px;
        color: $colorWhite;
        font-size: 16px;
        cursor: pointer;
        z-index: 2000;
        @include rwd(md) {
          justify-content: center;

          span:before {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 0;
            height: 1px;
            transition: all 0.6s;
            background-color: $colorPrimary;
          }
        }
      }

      &__name.nuxt-link-exact-active {
        @include rwd(md) {
          span:before {
            width: 100%;
          }
        }
      }

      &__name.disable {
        pointer-events: none;
      }
    }

    &__item.active {
      margin-bottom: 115px;
      transition: all 0.6s;

      .header__nav__subItem {
        top: 0%;
        transition: all 0.3s 0.3s;
        opacity: 1;
        visibility: visible;
      }
    }

    &__subItem {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      top: calc(100% + 1px);
      width: 100%;
      transition: all 0.6s;
      opacity: 0;
      visibility: hidden;
      @include rwd(md) {
        position: relative;
        top: -100%;
      }

      &__name {
        padding: 12px 0;
        background-color: $colorBg3;
        color: $colorWhite;
        text-align: center;
        @include rwd(md) {
          background-color: transparent;
        }

        &:hover {
          color: $colorPrimary;
        }
      }

      &__name:hover:active {
        background-color: lighten($colorBg3, 5);
      }
    }
  }

  &__nav.active {
    @include rwd(md) {
      height: calc(50vh + 115px);
    }
  }

  &__lang {
    display: flex;
    margin-left: 116px;
    @include rwd(lg) {
      margin-left: 10px;
    }

    @include rwd(md) {
      margin-top: 12.8vh;
      margin-left: 0;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
    }

    &__item + &__item {
      margin-left: 20px;
      @include rwd(md) {
        margin-left: 37px;
      }
    }

    &__item {
      color: $colorPrimary;
      cursor: pointer;
      @include rwd(md) {
        @include flexCenter;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }

    &__item.active {
      color: $colorWhite;
      @include rwd(md) {
        border: solid 1px $colorWhite;
      }
    }
  }
}

.header.active {
  height: 100vh;
  z-index: 1000;
  .header__toggle {
    &:before,
    &:after {
      top: 50%;
      transform-origin: center;
    }
    &:before {
      transform: rotate(-210deg);
    }
    &:after {
      width: 100%;
      transform: rotate(210deg);
    }
  }

  .header__content {
    &:before {
      height: 100%;
      transition: all 0.6s;
      background-color: $colorPrimary;
    }
    &:after {
      height: calc(100% - 6px);
      transition: all 0.6s 0.3s;
      background-color: $colorBg;
    }
  }

  .header__nav,
  .header__lang {
    opacity: 1;
    visibility: visible;
  }

  .header__nav {
    transition: all 0.6s 0.3s;
  }

  .header__lang {
    transition: all 0.6s 0.6s;
  }
}
