.wrap {
  width: 100%;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12.5rem auto;
  max-width: 1200px;
  color: #fff;
  font-size: 1rem;
}
.img {
  position: absolute;
}

.content-text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 2.5rem auto 0 auto;
  width: 996px;
}
.text-hightlight {
  color: #fbc427;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.content {
  font-size: 1rem;
  margin: 0 auto;
  text-align: left;
  margin-top: 7.5rem;
  line-height: 1.5rem;
  position: relative;
  max-width: 840px;
}
.core-square {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 996px;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .core-square {
    display: none;
  }
  .content-text {
    max-width: 720px;
  }
  .container {
    max-width: 720px;
  }
  .img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .content-text {
    max-width: 660px;
  }
  .content {
    max-width: 660px;
    margin-top: 2.5rem;
  }
  .core-square {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .container {
    min-width: 343px;
    margin: 8.75rem auto 4.375rem auto;
  }
  .content {
    white-space: normal;
    max-width: 343px;
    margin-top: 1.25rem;
  }

  .content-text {
    flex-direction: column;
    align-items: center;
    max-width: 343px;
  }
  .core-square {
    display: none;
  }
}
