.container h3 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.text {
  font-size: 1rem;
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1200px;
}

.icon {
  position: absolute;
  top: -20px;
}
.container .album {
  max-width: 590px;
  max-height: 360px;
  margin-top: 1.5rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container h3,
  .text {
    text-align: center;
  }
  .text span {
    display: block;
    margin: 1rem 0;
  }
  .container .album {
    max-width: 590px;
    max-height: 360px;
  }
}
@media screen and (max-width: 568px) {
  .container {
    flex-direction: column;
    max-width: 343px;
  }
  .container h3,
  .text {
    text-align: center;
  }
  .text span {
    display: block;
    margin: 1rem 0;
  }
  .container .album {
    width: 343px;
    height: 189px;
  }
}
