.container {
  display: flex;
  max-width: 942px;
  margin: 0 auto;
  justify-content: space-between;
}
.traffic {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-around;
  align-items: self-start;
  line-height: 40px;
  max-width: 942px;
  flex-direction: column;
}
.traffic-container {
  display: flex;
  margin-top: 60px;
}
.content {
  font-weight: 400;
  margin-left: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.square {
  border: 1px solid #fff;
  border-radius: 24px;
  max-width: 120px;
  margin: 0.75rem 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 568px) {
  .container {
    flex-direction: column;
    max-width: 343px;
  }
}
