.background {
  background-image: url("/public/assets/images/Home/imformation-background.png");
  background-size: cover;
  font-size: 24px;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 6.875rem;
  width: 100%;
}
.container {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}
.location-information {
  display: flex;
  max-width: 996px;
  align-items: center;
  justify-content: space-between;
}
.btn {
  color: #2b383c;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  max-width: 159px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0.25rem 0rem;
}
.btn:hover {
  color: #fff;
  background-color: #f47c57;
  transition: all 0.3s;
}
.btn:hover .icon path {
  stroke: #ffffff;
  transition: all 0.3s;
}

.loaction-text {
  margin-left: 1.5rem;
}
.location-img {
  max-width: 690px;
  object-fit: cover;
}
@media screen and (max-width: 1023px) {
  .location-img img {
    max-width: 700px;
  }
  .btn {
    margin: 0 auto;
  }
  .loaction-text {
    text-align: center;
  }
  .location-information {
    flex-direction: column;
  }
}

@media screen and (max-width: 568px) {
  .location-img img {
    max-width: 343px;
  }
  .btn {
    margin: 0 auto;
  }
  .loaction-text {
    text-align: center;
  }
  .location-information {
    flex-direction: column;
  }
}
