.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  border-bottom: 1px solid #f0f0f1;
  border-top: 1px solid #f0f0f1;
  color: #dbdae1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container p {
  margin-right: 3.5rem;
  font-size: 1.25rem;
}
.container .card:first-of-type {
  margin-right: 1.5rem;
}
.card {
  margin: 2.5rem 0;
  width: 384px;
  height: 242px;
  border-radius: 10px;
  border: 1px solid #dbdae1;
  background: rgba(240, 240, 241, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin: 1.5rem 2rem;
  font-size: 0.875rem;
  align-items: flex-start;
}

.text span:first-child {
  font-size: 1.25rem;
}

.tab {
  border: 1px solid #dbdae1;
  border-radius: 4px;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.content {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 2rem;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.break {
  max-width: 971px;
  margin: 2.6875rem auto 2.6875rem auto;
  text-align: start;
  color: #f0f0f1;
  font-size: 1.5rem;
}
.break span:first-child {
  margin-right: 394px;
  font-size: 20px;
}
.wrap .break:nth-last-child(2) span:first-child {
  margin-right: 28.25rem;
}
.mopnight {
  border-top: 1px solid #dbdae1;
  max-width: 1200px;
  border-bottom: 1px solid #dbdae1;
  margin-bottom: 7.5rem;
}

@media screen and (max-width: 768px) {
  .wrap {
    max-width: 375px;
  }
  .container {
    max-width: 375px;
    flex-direction: column;
    align-items: flex-start;
  }
  .container .card:first-of-type {
    margin-right: 0;
  }
  .card {
    max-width: 375px;
    margin: 0 0 1.5rem 0;
  }
  .break {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1.5rem auto 1.5rem auto;
    max-width: 386px;
  }
  .break span:first-child {
    margin-right: 0;
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
  .wrap .break:nth-last-child(2) span:first-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 375px) {
  .wrap {
    max-width: 343px;
    margin: 0 auto;
  }
  .card {
    max-width: 343px;
  }
}
