.scheduleUnconf {
  .schedule__timeList--head {
    width: 100%;
    height: 40px;
    background-color: $colorPrimary;
    color: $colorBg;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    @include rwd(pad) {
      width: calc(100% - 50px);
      margin-left: 25px;
    }
  }

  .schedule__timeList {
    border-right: solid 1px $colorPrimaryDark;
    @include rwd(pad) {
      width: calc(100% - 50px);
      margin-left: 25px;
      border-left: solid 1px $colorPrimaryDark;
    }
  }

  // timelist 內容樣式
  .schedule__timeList__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 26px 45px;
    @include rwd(pad) {
      padding: 18px 30px;
    }

    &__title {
      margin-bottom: 9px;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.45;
    }

    &__speaker {
      @include rwd(pad) {
        margin-top: 36px;
      }
      &__name {
        color: $colorGray;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
      }

      &__avatar {
        display: none;
        word-break: break-all;
      }
    }
  }

  // 有講者頭像的樣式
  .schedule__timeList__content.avatar {
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    @include rwd(pad) {
      flex-flow: column nowrap;
    }

    .schedule__timeList__content__title {
      padding-right: 20px;
    }
    .schedule__timeList__content__speaker {
      display: flex;
      align-items: flex-start;
      width: 160px;
      margin-left: auto;
      @include rwd(pad) {
        margin-left: 0;
      }

      &__name {
        margin-top: 5px;
      }

      &__avatar {
        display: block;
        width: 53px;
        height: 53px;
        margin-right: 14px;
        border-radius: 50%;
      }
    }
  }

  .schedule__tool.mobile {
    display: none;
    margin-top: 72px;
    @include rwd(pad) {
      display: block;
    }
  }
}
