/* The Modal (background) */

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1071;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.fade {
  opacity: 0;
}
.modal.show {
  opacity: 1;
}

/* Modal Content */
.modal.fade .modal-content {
  background-color: #ffffff;
  border: 2px solid #0074A2;
  border-radius: 32px;
  margin: 50px auto;
  width: 90%;
  max-width: 720px;
  transform: translate(0, -50px);
  transition: transform 0.3s ease-out;
  padding: 1rem 2.5rem;
  @include screen(pad) {
    padding: 1rem 1.5rem;
  }
}

.modal.show .modal-content {
  transform: none;
}

.fade {
  transition: opacity 0.15s linear;
}

/* The Close Button */
.close {
  color: #0074A2;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  float: right;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.section-title {
  @include font(20px,$colorPrimary,500);
}
.speaker {
  &-info {
    display: flex;
    @include screen(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
  }
  &-title {
    .name {
      @include font(20px,$colorPrimary,500);
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include screen(sm) {
      flex-direction: column;
    }
  }
  &-subtitle {
    @include font(16px,$colorBlue,500);
  }
  &-bio {
    @include font(16px,$colorBlueLight,400);
  }
  &-date {
    @include flex(flex-end, row, center);
    .text {
      @include flex(normal, row, center);
      svg {
        color: $colorBlue;
      }
      span {
        @include font(16px,$colorBlueLight,400);
      }
    }
  }
  &-topic {
    @include font(20px,$colorBlueLight,500);
  }
  &-content {
    @include font(16px,$colorBlueLight,400);
  }
  &-tag {
    @include flex(normal, row, center);
    flex-wrap: wrap;
    &-item {
      display: block;
      border-radius: 2rem;
      background: $colorPrimaryLight;
      color: $colorWhite;
      padding: 0.5rem 1rem;
      border: 0px;
      margin-right: 0.75rem;
      margin-bottom: 0.5rem;
    }
  }
  &-modal-button {
    width: 100%;
    @include flex(center, row, center);
  }
}
.share-dropdown {
  position: relative;
}
.share-list {
  position: absolute;
  right: 10px;
  top: 85%;
  background: white;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  a {
    display: block;
    padding: 0.75rem 1.5rem;
    white-space: nowrap;
    @include font(16px,$colorPrimary,400);
    &:hover{
      background: $colorPrimaryLight;
    }
  }
}
.copy-success {
  position: absolute;
  right: 10px;
  top: 85%;
  background: $colorPrimaryLight;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  @include font(16px,$colorPrimary,400);
}