.navbar {
    color: $colorWhite;
    background-color: rgba(41, 50, 100, .7);
    padding: 5px 0;
}

.navbar-brand {
    padding: 0;
    margin: 10px 15px;
    height: initial;
}

.nav {
    li>a {
        color: $colorWhite;
        line-height: 1.6;
        padding-top: 10px;
        padding-bottom: 10px;
        &.is-active,
        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $colorMainThird;
        }
    }
}

.navbar-nav {
    margin: 8px 0;
}

.navbar-collapse {
    @include pad-below () {
        display: none;
    }
    @include mobile() {
        display: none;
    }
}

.navbar-right {
    padding: 15px;
    margin-bottom: 0;

    // update for mobile
    margin-right: 0;
    position: absolute;
    top: 5px;
    right: 0;
}

.nav-lang {
    display: inline-block;
    .btn-default {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0;
        padding: 0;
        border-radius: 5px;
        &.is-active,
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $colorSubSecond;
            background: $colorSubSecond;
            color: $colorMainFirst;
        }
    }
    .dropdown-menu {
        min-width: 100px;
        border-radius: 5px;
        background: $colorSubSecond;
    }
    .btn-select {
        display: inline-block;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0;
        padding: 0 10px;
        border-radius: 5px;
        color: $colorWhite;
        border: 1px solid $colorWhite;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $colorSubSecond;
            background: $colorSubSecond;
            color: $colorMainFirst;
        }
    }
}
