.section-image-wall {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  margin-top: 200px;
  @include rwd(pad) {
    min-height: initial;
    min-height: auto;
    margin-top: 86px;
  }

  .title {
    width: 100%;
    @include rwd(pad) {
      span:nth-child(1) {
        display: block;
      }
    }
  }

  p {
    width: 100%;
    margin-top: 5px;
    span:not([class]) {
      color: $colorSecondary;
    }
    .symbol-x:before {
      @include rwd(pad) {
        content: '|';
      }
    }
  }

  .bg-cover {
    @include bgCenter;
    position: absolute;
  }
  .bg-cover--1 {
    top: -180px;
    left: -240px;
    width: 459px;
    height: 459px;
    background-image: url('./images/bg-cover-1.png');
    @include rwd(pad) {
      top: -10%;
      left: -25%;
      width: 44%;
      height: 0;
      padding-top: 44%;
    }
  }
  .bg-cover--2 {
    right: -50%;
    bottom: -60%;
    width: 909px;
    height: 909px;
    background-image: url('./images/bg-cover-2.png');
    @include rwd(pad) {
      right: -40%;
      bottom: -65%;
      width: 79%;
      height: 0;
      padding-top: 79%;
      background-image: url('./images/bg-cover-1.png');
    }
  }
  .people-flashlight {
    @include bgCenter(640px, 136px);
    position: absolute;
    right: -20%;
    bottom: -180px;
    background-image: url('./images/people-flashlight.png');
    @include rwd(lg) {
      right: 0;
    }
    @include rwd(pad) {
      bottom: -150px;
      left: 50%;
      width: 80%;
      height: 0;
      padding-top: calc(21% * 0.8);
      transform: translateX(-50%);
    }
  }

  .image-wall {
    display: flex;
    flex-flow: column nowrap;
    width: 41.86%;
    margin-top: 76px;
    @include rwd(pad) {
      width: 100%;
      margin-top: 44px;
    }

    .image-wall__item + .image-wall__item {
      margin-top: 35px;
    }

    &__item:nth-child(1) {
      padding-top: 76.1%;
      background-image: url('./images/image-wall-1-new.jpg');
    }
    &__item:nth-child(2) {
      padding-top: 91.8%;
      background-image: url('./images/image-wall-2.png');
    }

    &__item {
      @include bgCenter;
      width: 100%;
      height: 0;
      background-color: #fff;
      @include rwd(pad) {
        display: none;
      }

      &__text {
        position: absolute;
        bottom: 42px;
        left: 0;
        width: 100%;
        color: $colorWhite;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        @include rwd(sm) {
          bottom: 15px;
        }
      }
    }

    &__item--video {
      cursor: pointer;
      @include rwd(pad) {
        display: block;
        width: 100% !important;
        margin-top: 0;
        padding-top: 76.3% !important;
      }
      &:before {
        @include abCenter;
        content: '';
        position: absolute;
        width: 102%;
        height: 102%;
        background-color: rgba($colorBlack, 0.6);
      }

      .video-line {
        position: absolute;
        width: 77px;
        height: 77px;
        @include rwd(sm) {
          width: 48px;
          height: 48px;
        }
        &:before,
        &:after {
          @include abCenter;
          content: '';
          width: 100%;
          height: 100%;
        }
        &:before {
          border-left: solid 1px $colorWhite;
        }
        &:after {
          border-bottom: solid 1px $colorWhite;
        }
      }
      .video-line--left {
        bottom: 0px;
        left: 0px;
      }
      .video-line--right {
        top: 0;
        right: 0;
        transform: rotate(180deg);
      }

      .icon-play {
        @include bgCenter(118px, 118px);
        @include abCenter;
        position: absolute;
        background-image: url('./images/icon-play.png');
      }
    }
  }

  .desc {
    width: calc(100% - 41.86% - 83px);
    margin: 49px 0 0 83px;
    @include rwd(pad) {
      width: 100%;
      margin: 58px 0 0 0;
    }

    &__title {
      margin-bottom: 43px;
      color: $colorWhite;
      font-size: 36px;
      font-weight: normal;
      letter-spacing: 1.8px;
      @include rwd(sm) {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 1.46;
        letter-spacing: 1.4px;
      }
    }

    .desc__item + .desc__item {
      margin-top: 54px;
      @include rwd(sm) {
        margin-top: 32px;
      }
    }

    &__item {
      &__head {
        display: flex;
        align-items: flex-end;

        &__tag {
          margin-right: 8px;
          color: $colorThird;
          font-size: 36px;
          line-height: 1.2;
          letter-spacing: 1.8px;
        }

        &__title {
          color: $colorPrimary;
          font-size: 24px;
          letter-spacing: 1.2px;
        }
      }

      &__text {
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: 0.8px;
      }
    }
  }
}
