.container {
  border-top: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  padding-bottom: 4.375rem;
  width: 100%;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: #fff;
}
.logo {
  font-size: 1.5rem;
  font-family: "Wallpoet";
  color: #fff;
  margin-top: 5rem;
}
.textcolor {
  color: #f47c57;
}
.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
