.header {
  background: #2b383c;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #fff;
  z-index: 100;
}
.header button {
  display: none;
}

.logo {
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .header {
    margin: 0 auto;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    position: absolute;
    top: 1.25rem;
    cursor: pointer;
    right: 1rem;
  }
  .logo {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .header {
    display: inline-block;
    height: 4rem;
  }
  .header button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-block;
    position: absolute;
    top: 16px;
    cursor: pointer;
    right: 14px;
  }
  .logo {
    text-align: center;
  }
}
.logo a {
  text-decoration: none;
  color: white;
}
.textcolor {
  color: #f47c57;
}
