.button {
  list-style-type: none;
  cursor: pointer;
  font-family: "Noto Sans TC";
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  margin-left: 1.5rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.nav-text {
  text-decoration: none;
  color: #fff;
}
.nav a:hover {
  color: #f47c57;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .button {
    display: none;
  }
  .nav {
    display: none;
    opacity: 0;
  }
}
@media screen and (max-width: 375px) {
  .nav {
    display: none;
    opacity: 0;
  }
}
/* ... */
.nav-agenda {
  color: #f47c57;
  transition: all 0.3s;
}
.nav-agenda svg {
  transform: scaleY(-1);
  transition: all 0.3s;
}
.nav-agenda svg path {
  fill: #f47c57;
}
.dropdown {
  position: absolute;
  top: 100%;
  border-radius: 8px;
  padding-left: 0px;
  background-color: #f47c57;
  list-style: none;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.nav.active .dropdown {
  opacity: 1;
  transition: all 0.3s;
}
.menu {
  white-space: nowrap;
  padding: 0.75rem 1.25rem;
  list-style: none;
}
.menu:hover a {
  color: #f47c57;
}
.menu:hover {
  background-color: #fff;
  transition: all 0.3s;
}
.menu:first-of-type {
  border-radius: 8px 8px 0 0;
}
.menu:last-of-type {
  border-radius: 0 0 8px 8px;
}
