.container {
  max-width: 996px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 7.5rem 0rem;
}
.background {
  background-image: url("/public/assets/images/Home/imformation-background.png");
  background-size: cover;
  width: 100%;
}
.container p {
  padding-bottom: 2.25rem;
}
.container p:first-child,
.container p:last-child {
  padding-bottom: 0rem;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 343px;
    padding: 3.75rem 0rem;
  }

  .container p {
    padding-bottom: 0.625rem;
  }
  .container p:first-child,
  .container p:last-child {
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 343px;
    padding: 3.75rem 0;
  }

  .container p {
    padding-bottom: 0.625rem;
  }
  .container p:first-child,
  .container p:last-child {
    padding-bottom: 0rem;
  }
}
