.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 800;
}
.wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #fff;
  width: 600px;
  height: 520px;
  z-index: 900;
  background-color: #fff;
  border: 1px solid #2b383c;
  color: #2b383c;
  border-radius: 20px;
  position: relative;
}
.card h3 {
  color: #2b383c;
  font-size: 18px;
  font-weight: 700;
  padding-left: 2.1875rem;
  padding-top: 2rem;
  margin: 0;
  padding-bottom: 2.625rem;
}
.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  fill: #2b383c;
}

.title {
  display: flex;
  align-items: center;
}
.img-container {
  width: 264px;
  height: 188px;
  border-radius: 20px;
  background: #f6ebcc;
  overflow: hidden;
  position: relative;
}
.img-container img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 80%;
}
.content {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0 3.3125rem;
}
.icon-container {
  display: flex;
  gap: 16px;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}
.icon {
  width: 124px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #2b383c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: #2b383c;
  font-size: 1rem;
}
.card svg path {
  fill: #2b383c;
}
.icon:hover,
.icon:hover svg path {
  background-color: #2b383c;
  color: #fff;
  transition: all 0.3s;
  fill: #fff;
}

@media screen and (max-width: 568px) {
  .card {
    width: 343px;
  }
  .content {
    max-width: 343px;
    padding: 0 1rem;
  }
}
