$colorPrimary: #ffcc02;
$colorSecondary: #ffcc02;
$colorThird: #651fff;
$startSecond: 3s;
@mixin contentOpacity($plus) {
  animation-name: opacity;
  animation-duration: $startSecond+$plus;
}
.hasMany-animate {
  animation-name: paddingChange;
  animation-duration: $startSecond;
  animation-delay: $startSecond+1;
  animation-fill-mode: forwards;
}

.eboardSchedule {
  height: 100vh;
  padding: 60px 8%;
  display: flex;
  justify-content: space-between;
  .text-white {
    color: white;
  }

  .mainSchedule {
    width: 100%;
    animation-name: widthChange;
    animation-duration: $startSecond;
    animation-fill-mode: forwards;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    .main {
      animation-name: typeTitleAni;
      animation-duration: $startSecond;
      position: relative;
      display: flex;
      .type-title {
        position: relative;
        animation-name: typeTitleAni;
        animation-duration: $startSecond;
        font-size: 56px;
        margin-right: 18px;
      }
      /deep/ .color-primary {
        text-shadow: 0 0 24px $colorPrimary;
      }
      /deep/ .color-secondary {
        text-shadow: 0 0 24px $colorSecondary;
      }
      /deep/ .color-third {
        text-shadow: 0 0 24px $colorThird;
      }
    }
    .schedule {
      &__info {
        margin-top: 56px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        @include contentOpacity(1)
      }
      &__topic {
        max-width: 1020px;
        @include contentOpacity(1.5)
      }
      &__speaker {
        display: flex;
        margin-top: 32px;
        @include contentOpacity(2)
      }
    }
    .tag {
      font-size: 48px;
    }
    /deep/ .tag-badge-outline-third {
      font-size: 32px;
      border-radius: 5px;
      line-height: 1.5;
      padding: 2px 16px;
      margin: 4px 32px;
      margin-top: auto;
    }
    /deep/ .tag-badge-outline-secondary {
      font-size: 32px;
      border-radius: 5px;
      line-height: 1.5;
      padding: 2px 16px;
      margin: 4px 32px;
      margin-top: auto;
    }
    /deep/ .tag-badge-outline-primary {
      font-size: 32px;
      border-radius: 5px;
      line-height: 1.5;
      padding: 2px 16px;
      margin: 4px 32px;
      margin-top: auto;
    }
    .topic {
      font-size: 120px;
    }
    .topic-sm {
      font-size: 80px;
    }
    .speaker {
      &__pic {
        border-radius: 50%;
        margin-right: 16px;
      }
      &__intro {
        margin-left: 32px;
      }
      &__name {
        margin-top: 8px;
        font-size: 48px;
      }
      &__job {
        font-size: 32px;
      }
    }
  }

  .otherSchedule {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    animation-name: otherWidth, opacity;
    animation-duration: $startSecond+3.5;
    .schedule {
      &__info {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        p {
          font-size: 32px;
        }
        /deep/ .tag-badge-outline-third {
          font-size: 28px;
          border-radius: 5px;
          line-height: 1.5;
          padding: 2px 16px;
          margin: 0px 32px;
          margin-top: auto;
        }
      }
      &__topic {
        max-width: 610px;
        .topic {
          font-size: 48px;
        }
      }
      &__speaker {
        display: flex;
        margin-top: 32px;
        .speaker {
          &__pic {
            border-radius: 50%;
            margin-right: 8px;
          }
          &__intro {
            margin-left: 16px;
          }
          &__name {
            margin-top: 4px;
            font-size: 28px;
          }
          &__job {
            font-size: 20px;
          }
        }
      }
    }
    .third-schedule {
      margin-top: 30px;
    }
  }

  // 延遲顯示
  .text-opacity {
    @include contentOpacity(1)
  }
  // delay
  .delay {
    font-size: 56px;
    animation-delay: $startSecond;
  }
  .delay-7 {
    animation-delay: $startSecond+0.5s;
  }
  .delay-8 {
    animation-delay: $startSecond+1s;
  }
  .delay-9 {
    animation-delay: $startSecond+1.5s;
  }
  .delay-10 {
    animation-delay: $startSecond+3s;
  }
  .delay-11 {
    animation-delay: $startSecond+3.2s;
  }
}

.rotateAnimate {
  animation-name: rotateAni;
  animation-duration: $startSecond+2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes typeTitleAni{
  0% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 120px;
  }
  40% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 120px;
  }
  70%{
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    font-size: 56px;
  }
}
@keyframes opacity{
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes widthChange {
  0% {
    width: 100%;
    float: none;
  }
  90% {
    width: 100%;
    float: none;
  }
  100% {
    width: auto;
    float: left;
  }
}
@keyframes paddingChange {
  0% {
    padding: 60px 8%;
  }
  50% {
    padding: 60px 8%;
  }
  100% {
    padding: 60px 6%;
  }
}
@keyframes otherWidth {
  0% {
    width: 0px;
  }
  80% {
    width: 0px;
  }
  100% {
    width: auto;
  }
}
@keyframes rotateAni {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.hasNewsheight {
  height: calc(100vh - 152px);
  padding: 0px 8%;
}


