.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
.swiper-button-prev svg,
.swiper-button-next svg {
  height: 22px;
}

.swiper-button-next-w {
  right: -30px;
}
.swiper-button-prev-w {
  left: -30px;
}

@media screen and (max-width: 568px) {
  .swiper-button-next-w {
    right: -15px;
  }
  .swiper-button-prev-w {
    left: -15px;
  }
}
