.photo-container {
  max-width: 492px;
  height: 360px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 568px) {
  .photo-container {
    width: 279px;
    height: 189px;
  }
}
