html,
body {
  overflow-x: hidden;
}
body {
  * {
    font-size: 16px;
    font-weight: normal;
    font-family: $fontStyle;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: $colorFont;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1280px;
  @include screen(md) {
    max-width: 960px;
  }
  @include screen(pad) {
    max-width: 720px;
  }
  @include screen(sm) {
    max-width: 540px;
  }
}

.home-bg {
  @include bgCenter;
  background-image: url($bg);
  @include screen(pad) {
    background-image: url($bg-mobile);
    background-position: right;
  }
}

.home-bg-lock {
  @include bgCenter;
  background-image: url($bg-lock);
  @include screen(pad) {
    background-image: url($bg-lock-mobile);
  }
}

.vol10-gray {
  background-image: url($vol10-gray);
  background-repeat: no-repeat;
  height: 451px;
  width: 25px;
}

.vol10-org {
  background-image: url($vol10-org);
  background-repeat: no-repeat;
  height: 30px;
  width: 635px;
  @include screen(pad) {
    background-image: url($vol10-2021);
    width: 454px;
  }
  @include screen(sm) {
    background-image: url($vol10-growingWithYou);
    width: 310px;
  }
}
.vol10-mobile {
  height: 95px;
  width: 30px;
  background-image: url($vol10-mobile-2), url($vol10-mobile-1);
  background-position: top left, bottom center;
  background-repeat: no-repeat;
}

.logo-mopcon {
  background-image: url($logo);
  background-repeat: no-repeat;
  width: 570px;
  height: 100px;
  @include screen(pad) {
    background-size: 80%;
  }
  @include screen(sm) {
    width: 100%;
    background-size: 100%;
  }
}

.logo-mopcon-w {
  @include bgCenter(152px, 24px);
  background-image: url($logo-w);
}

.logo-fb {
  background-image: url($fb-icon);
  width: 1.5rem;
  height: 1.5rem;
}

.logo-ig {
  background-image: url($ig-icon);
  width: 1.5rem;
  height: 1.5rem;
}

.line-deco {
  background-image: url($line-deco);
  width: 310px;
  height: 8px;
}

.line-gray {
  @include bgCenter(100%, 1rem);
  background-image: url($line-gray);
}
.line-gray-transform {
  @include bgCenter(100%, 1rem);
  background-image: url($line-gray);
  transform: rotate(180deg);
}

// 共同 sop icon
.sopOne-icon {
  background-image: url('../../assets/images/sop01.svg');
  width: 67px;
  height: 48px;
}
.sopTwo-icon {
  background-image: url('../../assets/images/sop02.svg');
  width: 67px;
  height: 48px;
}
.sopThree-icon {
  background-image: url('../../assets/images/sop03.svg');
  width: 67px;
  height: 48px;
}
