@mixin screen ($width) {
  @if $width == xs {
    @media (max-width: 375px) {
      @content;
    }
  }
  @if $width == sm {
    @media (max-width: 568px) {
      @content;
    }
  }
  @if $width == pad {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $width == md {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $width == lg {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// 背景圖
@mixin bgCenter($w: 'none', $h: 'none') {
  @if $w != 'none' {
    width: $w;
  }
  @if $h != 'none' {
    height: $h;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flex($content: normal, $direction: row, $align: normal) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
  align-items: $align;
}
