//spacing
@for $i from 0 through 15 {
  .m-#{$i} {
    margin: $spacer * $i;
  }
  .mx-#{$i} {
    margin-left: $spacer * $i;
    margin-right: $spacer * $i;
  }
  .my-#{$i} {
    margin-top: $spacer * $i;
    margin-bottom: $spacer * $i;
  }
  .mt-#{$i} {
    margin-top: $spacer * $i !important;
  }
  .mb-#{$i} {
    margin-bottom: $spacer * $i !important;
  }
  .ml-#{$i} {
    margin-left: $spacer * $i !important;
  }
  .mr-#{$i} {
    margin-right: $spacer * $i !important;
  }
  .p-#{$i} {
    padding: $spacer * $i;
  }
  .px-#{$i} {
    padding-left: $spacer * $i;
    padding-right: $spacer * $i;
  }
  .py-#{$i} {
    padding-top: $spacer * $i;
    padding-bottom: $spacer * $i;
  }
  .pt-#{$i} {
    padding-top: $spacer * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: $spacer * $i !important;
  }
  .pl-#{$i} {
    padding-left: $spacer * $i !important;
  }
  .pr-#{$i} {
    padding-right: $spacer * $i !important;
  }
}

// breakpoint spacing
@each $value in $breakpoints {
  @include screen($value) {
    @for $i from 0 through 15 {
      .m-#{$value}-#{$i} {
        margin: $spacer * $i;
      }
      .mx-#{$value}-#{$i} {
        margin-left: $spacer * $i;
        margin-right: $spacer * $i;
      }
      .my-#{$value}-#{$i} {
        margin-top: $spacer * $i;
        margin-bottom: $spacer * $i;
      }
      .mt-#{$value}-#{$i} {
        margin-top: $spacer * $i !important;
      }
      .mb-#{$value}-#{$i} {
        margin-bottom: $spacer * $i !important;
      }
      .ml-#{$value}-#{$i} {
        margin-left: $spacer * $i !important;
      }
      .mr-#{$value}-#{$i} {
        margin-right: $spacer * $i !important;
      }
      .p-#{$value}-#{$i} {
        padding: $spacer * $i;
      }
      .px-#{$value}-#{$i} {
        padding-left: $spacer * $i;
        padding-right: $spacer * $i;
      }
      .py-#{$value}-#{$i} {
        padding-top: $spacer * $i;
        padding-bottom: $spacer * $i;
      }
      .pt-#{$value}-#{$i} {
        padding-top: $spacer * $i !important;
      }
      .pb-#{$value}-#{$i} {
        padding-bottom: $spacer * $i !important;
      }
      .pl-#{$value}-#{$i} {
        padding-left: $spacer * $i !important;
      }
      .pr-#{$value}-#{$i} {
        padding-right: $spacer * $i !important;
      }
    }
  }
}

// font 字體大小
@for $i from 1 through 15 {
  .fz-#{$i} {
    font-size: $font-size-base * $i;
  }
}

// breakpoint font 字體大小
@each $value in $breakpoints {
  @include screen($value) {
    @for $i from 1 through 15 {
      .fz-#{$value}-#{$i} {
        font-size: $font-size-base * $i;
      }
    }
  }
}

//text-align
@each $value in $text-align {
  .text-#{$value} {
    text-align: #{$value};
  }
}

//position
@each $value in $position {
  .position-#{$value} {
    position: #{$value};
  }
}

//width
@for $i from 1 through 5 {
  .col-#{$i} {
    width: calc(100% / #{$i});
  }
}

//width breakpoinst
@each $value in $breakpoints {
  @include screen($value) {
    @for $i from 1 through 5 {
      .col-#{$value}-#{$i} {
        width: calc(100% / #{$i});
      }
    }
  }
}
