$colorPrimary: #0D1336;
$colorOrange: #FF9933;
$colorOrangeLight: rgba(255, 153, 51, 0.6);
$colorBlack: #000000;
$colorGray: #040000;
$colorGrayDark: rgba(0, 0, 0, 0.87);
$colorGrayLight: rgba(4, 0, 0, 0.3);
$colorWhite: #FFFFFF;
$colorFont: $colorPrimary;

$fontStyle: 'Noto Sans', 'Noto Sans TC', 'Noto Sans CJK TC', '微軟正黑體', 'sans-serif',
  'Helvetica', 'roboto', arial, sans-serif;

$logo: '../home/logo-MOPCON.svg';
$logo-w: '../base/logo-w.svg';
$vol10-gray: '../home/vol10-gray.svg';
$vol10-org: '../home/vol10-org.svg';
$vol10-2021: '../home/vol10-2021.svg';
$vol10-growingWithYou: '../home/vol10-growingWithYou.svg';
$bg: '../home/bg.svg';
$bg-mobile: '../home/bg-mobile.svg';
$bg-lock: '../home/bg-lock.svg';
$bg-lock-mobile: '../home/bg-lock-mobile.svg';
$fb-icon: '../base/fb.svg';
$ig-icon: '../base/ig.svg';
$line-deco: '../base/line-deco.svg';
$line-gray: '../base/line-gray.svg';
