$colorPrimary: #0D1336;
$colorOrange: #FF9933;
$colorOrangeLight: rgba(255, 153, 51, 0.6);
$colorBlack: #000000;
$colorGray: #040000;
$colorGrayDark: rgba(0, 0, 0, 0.87);
$colorGrayLight: rgba(4, 0, 0, 0.3);
$colorWhite: #FFFFFF;
$colorFont: $colorPrimary;

$fontStyle: 'Noto Sans', 'Noto Sans TC', 'Noto Sans CJK TC', '微軟正黑體', 'sans-serif',
  'Helvetica', 'roboto', arial, sans-serif;

$logo: '../home/logo-MOPCON.svg';
$logo-s: '../base/logo-s.svg';
$logo-vertical: '../home/logo-vertical.svg';
$bg: '../home/bg.svg';
$bg-mobile: '../home/bg-mobile.svg';
$fb-icon: '../base/fb.svg';
$ig-icon: '../base/ig.svg';
