$colorPrimary: #0d1336;
$colorOrange: #ff9933;
$colorOrangeLight: rgba(255, 153, 51, 0.6);
$colorBlack: #000000;
$colorGray: #040000;
$colorGrayDark: rgba(0, 0, 0, 0.87);
$colorGrayLight: rgba(4, 0, 0, 0.3);
$colorWhite: #ffffff;
$colorFont: $colorPrimary;

$fontStyle: 'Noto Sans', 'Noto Sans TC', 'Noto Sans CJK TC', '微軟正黑體',
  'sans-serif', 'Helvetica', 'roboto', arial, sans-serif;

$logo: '../images/logo-MOPCON.svg';
$logo-w: '../images/logo-w.svg';
$vol10-gray: '../images/vol10-gray.svg';
$vol10-org: '../images/vol10-org.svg';
$vol10-mobile-1: '../images/Mobile-img1.svg';
$vol10-mobile-2: '../images/Mobile-img2.svg';
$vol10-2021: '../images/vol10-2021.svg';
$vol10-growingWithYou: '../images/vol10-growingWithYou.svg';
$bg: '../images/bg.svg';
$bg-mobile: '../images/bg-mobile.svg';
$bg-lock: '../images/bg-lock.svg';
$bg-lock-mobile: '../images/bg-lock-mobile.svg';
$fb-icon: '../images/fb.svg';
$ig-icon: '../images/ig.svg';
$line-deco: '../images/line-deco.svg';
$line-gray: '../images/line-gray.svg';

//space
$spacer: 4px;

//breakpoint
$breakpoints: ('lg', 'md', 'pad', 'sm', 'xs');

//font-size
$font-size-base: 4px;

//text-align
$text-align: ('left', 'right', 'center');

//position
$position: ('staic', 'relative', 'absolute', 'fixed', 'sticky');
