.footer {
  @include flexCenter;
  flex-flow: row wrap;
  width: 100%;
  height: 157px;
  border-top: solid 1px $colorPrimary;
  background-image: linear-gradient(359deg, $colorBg, $colorBg2);
  @include rwd(pad) {
    height: auto;
    padding: 47px 54px 80px 54px;
    text-align: center;
  }
  &__contact {
    display: flex;
    padding: 0 70px;
    @include rwd(pad) {
      flex-flow: column nowrap;
    }
    @include rwd(sm) {
      padding: 0;
    }
    .subtitle + .subtitle {
      margin-left: 15px;
    }
    .subtitle.email {
      line-height: 1.25;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    @include rwd(pad) {
      flex-flow: column nowrap;
      margin-top: 65px;
    }
    @include rwd(sm) {
      padding: 0;
    }
    .icons {
      display: flex;
      @include rwd(pad) {
        margin-top: 20px;
      }
      [class*='svg-'] {
        display: inline-block;
        margin-left: 30px;
      }
      .svg-fb,
      .svg-ig {
        width: 27px;
        height: 27px;
      }

      .svg-twitter {
        width: 33px;
        height: 27px;
      }

      .svg-aircraft {
        width: 30px;
        height: 27px;
      }
    }
  }
}
