.edashboard {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .news {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    marquee {
      p {
        font-size: 38px;
        display: inline-block;
      }
    }
  }
  @keyframes news {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .news-delay {
    opacity: 0;
    animation-name: news;
    animation-duration: 3s;
  }
}
