$bg_map: (
  svg: github_icon facebook_icon website_icon twitter_icon calendar location
    share
);
@include bgImg(speaker);
// Modal 內容樣式
.modalHeader {
  @include flex(flex-start, row, center);
}
.speaker-text-modal {
  h3 {
    @include font(20px, $colorBlack, 700);
  }
  > p {
    @include font(14px);
    opacity: 0.6;
  }
}
.speaker-community-wrap {
  @include flex(content, row, center);
  p {
    @include font(14px);
    text-align: center;
  }
}
.speaker-community-icon {
  @include flex(center, row, center);
  a {
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-right: 16px;
  }
  a:last-child {
    margin-right: 0;
  }
}
.modalBody {
  span {
    color: $colorOrange;
  }
  h4 {
    @include font(18px, $colorBlack, 500);
    margin: 0px;
  }
  p {
    @include font(14px);
  }
  h3 {
    @include font(20px, $colorBlack, 700);
  }
}
.modal-summary-header {
  @include flex(flex-start, row, center);
  h4 {
    white-space: nowrap;
  }
}
.modal-summary-info-wrap {
  @include flex(flex-start, row, center);
}
.modal-summary-info {
  @include flex(normal, row, center);
  > div {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}
.sponsor-logo {
  width: 72px;
  height: 72px;
  background-size: contain;
  display: inline-block;
}
.modalFooter {
  @include flex(normal, row, center);
  > a {
    display: block;
    height: 100%;
    background-color: $colorOrange;
    border-radius: 8px;
    font-size: 18px;
    margin-right: auto;
    width: 100%;
  }
  .community-share {
    @include flex(center, row, center);
    cursor: pointer;
    position: relative;
    background-color: $colorOrange;
    border-radius: 8px;
    width: 100%;
    p {
      font-size: 18px;
    }
  }
  .bg-share {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .community-share-list {
    width: 200px;
    position: absolute;
    top: 80%;
    right: calc(0px - 70px);
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    a {
      display: block;
      padding: 8px 12px;
      &:hover {
        background-color: $colorOrangeLight;
      }
    }
  }
}
@include screen(pad) {
  .modal-summary-header {
    @include flex(flex-start, column, flex-start);
  }
}
@include screen(sm) {
  .modalHeader {
    @include flex(center, column, center);
  }
  .speaker-text-modal {
    h3 {
      text-align: center;
    }
    > p {
      text-align: center;
    }
  }

  .speaker-community-wrap {
    @include flex(center, column, center);
    br {
      display: block;
    }
  }
  .modalBody {
    h3 {
      @include font(20px, $colorBlack, 700);
    }
  }
  .modal-summary-info-wrap {
    @include flex(flex-start, column, flex-start);
  }
}

.modal {
  &-tag {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    @include screen(sm) {
      margin-top: 8px;
    }
    li {
      font-size: 14px;
      border-radius: 20rem;
      padding: 4px 12px;
      border: 2px solid $colorBlueDark;
      margin-bottom: 8px;
      margin-right: 12px;
      color: $colorBlueDark;
    }
  }
  &-speakers {
    display: flex;
    flex-direction: column;
  }
  &-speaker {
    display: flex;
    margin-bottom: 24px;
    @include screen(sm) {
      flex-direction: column;
      align-items: center;
    }
    &-img-list {
      width: 100px;
      height: 100px;
    }
    &-img-wrap {
      width: 100px;
      height: 100px;
      transform: rotate(45deg);
      border-radius: 28px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      img {
        object-fit: cover;
        transform: rotate(-45deg) scale(1.2);
        max-width: 100%;
      }
    }
  }
}