{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="container">
    <div class="text-center">
        <div class="badgeWrapper">
            <div class="badgePic badge-scale">
                <img src="images/badge/badge001.png" alt="">
            </div>
            <div class="badgePic badgeFornt badge-rotatey">
                <img src="images/badge/badge001-2.png" alt="">
            </div>
            <div class="badgeCycle badge-opacity">
            </div>
        </div>
    </div>
</section>
{% endblock %}