{% extends 'main.twig' %}

{% block content %}

<div id="registerContainer">
    <div class="form-group">
        <label for="usrname">暱稱</label>
        <input type="text" class="form-control" id="usrname">
    </div>
    <div class="form-group">
        <label for="usr">Email</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="btn btn-default" id="submit">
        取得驗證碼
    </div>
    <div class="form-group">
        <label for="usrname">輸入驗證碼</label>
        <input type="text" class="form-control" id="confirm">
    </div>
    <div class="functions">
        <div class="func_btn" id="cancel">
            取消
        </div>
        <div class="func_btn func_btn_highlight" id="submit">
            送出
        </div>
    </div>
</div>

{% endblock %}
