{% extends 'main.twig' %}

{% block content %}
<div id="forgetPWDContainer">
    <div class="form-group">
        <label for="email">請輸入當時註冊的信箱</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="functions">
        <div class="func_btn" id="cancel">
            取消
        </div>
        <div class="func_btn func_btn_highlight" id="submit">
            送出
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $('.navbar').hide();
        $('.footer').hide();
    }
</script>
{% endblock %}
