.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 800;
}

.warp {
  overflow-y: auto;
  max-height: 95vh;
  max-width: 720px;
  margin: 1.25rem auto;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #2b383c;
  color: #2b383c;
  position: relative;
  z-index: 900;
}
.warp::-webkit-scrollbar {
  display: none;
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}
.container {
  max-width: 624px;
  margin: 0 auto;
  padding: 4.375rem 0;
  border-bottom: 1px solid #2b383c;
}
.img-container {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f6ebcc;
  position: relative;
}
.img-container img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
}
.speaker-container {
  display: flex;
  gap: 40px;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 5%;
  left: 94%;
  transform: translate(-50%, -50%);
}
.btn svg path {
  fill: #2b383c;
}
.name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}
.job {
  margin-top: -1.25rem;
  font-size: 16px;
  line-height: 24px;
}
.introduce {
  font-size: 16px;
  line-height: 24px;
}
.icon-container {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.icon svg path {
  fill: #2b383c;
}
.icon svg {
  height: 16px;
}
/* Agenda */
.angeda-container {
  max-width: 624px;
  margin: 2.5rem auto;
}
.hashtag {
  margin-right: 8px;
  background-color: #f6ebcc;
  color: #fbc427;
  border-radius: 8px;
  padding: 0.5rem 0.4375rem;
  display: inline-block;
  margin-bottom: 0.75rem;
}
.content {
  margin-top: 1.125rem;
}
.title {
  font-size: 0.875rem;
  display: inline-block;
  line-height: 21px;
  color: #2b383c;
  border-radius: 24px;
  background-color: #f6ebcc;
  border: 1px solid #2b383c;
  padding: 0.75rem 1.25rem;
}
.content p {
  margin-left: 2.25rem;
  line-height: 1.3125rem;
}
.button-container {
  display: flex;
  margin-top: 36px;
  padding-bottom: 18px;
  justify-content: space-between;
}
.button {
  border: 1px solid #2b383c;
  color: #2b383c;
  padding: 1rem 0;
  border-radius: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 304px;
  gap: 8px;
  max-width: 304px;
}
/* RWD */
@media screen and (max-width: 768px) {
  .warp {
    max-width: 560px;
  }
  .container {
    max-width: 480px;
  }
  .name {
    margin-top: 1rem;
  }
  .button-container {
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }

  .angeda-container {
    max-width: 480px;
  }
}
@media screen and (max-width: 568px) {
  .warp {
    max-width: 343px;
  }
  .container {
    max-width: 280px;
    padding: 2.25rem 0;
  }
  .speaker-container {
    gap: 0px;
  }
  .speaker-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .angeda-container {
    max-width: 280px;
  }
  .name,
  .job {
    text-align: center;
  }
}
