.section-partner {
  margin-top: 110px;
  .title {
    font-size: 32px;
    text-align: left;
  }
  .partner-outline {
    border-left: 1px solid $colorPrimary;
    border-bottom: 1px solid $colorPrimary;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 35px auto;
  }
  .partner {
    border: 1px solid $colorPrimary;
    border-radius: 3px;
    position: relative;
    padding: 15px;
    &__title {
      text-align: left;
      font-size: 24px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      .logo {
        flex: 0 0 31.6666%;
        margin-right: 15px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        font-size: 0px;
        @include rwd(pad) {
          flex: 0 0 47%;
        }
        @include rwd(sm) {
          flex: 0 0 100%;
        }
        &:hover .hover {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0,0,0,0.85);
          width: 100%;
          img {
            display: block;
          }
        }
        img.logo_img {
          width: 100%;
        }
        .hover img {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
  
  /deep/ .modal.fade .modal-content {
    max-width: 553px;
    border-radius: 0px;
    padding: 20px 45px 38px 45px;
    @include rwd(sm) {
      max-width: 325px;
      padding: 20px 21px 38px 21px;
    }
  }
  
  .modal-body {
    .company {
      display: flex;
      align-items: center;
      @include rwd(pad) {
        flex-direction: column;
        justify-content: center;
      }
      &__content {
        margin-left: 40px;
        margin-top: auto;
        text-align: left;
        @include rwd(pad) {
          margin-left: 0px;
          margin-top: 13px;
          text-align: center;
        }
      }
      &__name {
        font-size: 24px;
        margin-bottom: 30px;
        @include rwd(pad) {
          margin-bottom: 14px;
        }
      }
    }
    .abous_us {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 16px;
    }
    .partner-speaker {
      margin-top: 15px;
      padding-top: 30px;
      border-top: 1px solid $colorPrimary;
      @include rwd(pad) {
        padding-top: 0px;
        border-top: 0px;
      }
      .column {
        display: flex;
        justify-content: space-between;
      }

      .speaker {
        &__info {
          margin: 17px auto;
          display: flex;
          align-items: center;
          @include rwd(pad) {
            flex-direction: column;
            align-items: flex-start;
          }
          &:not(:nth-child(2)) {
            border-top: 1px solid $colorPrimary;
            border-top-style: dashed;
            padding-top: 17px;
          }
          .content {
            flex: 1;
            display: flex;
            align-items: center;
            @include rwd(pad) {
              align-items: flex-start;
            }
          }
        }
        &__logo {
          border-radius: 100px;
          margin-right: 25px;
        }
        &__detail {
          text-align: left;
        }
        &__time {
          text-align: right;
          @include rwd(pad) {
            text-align: left;
            display: flex;
            margin-top: 14px;
          }
          &__info {
            margin-left: 25px;
          }
        }
      }
    }
    .btn {
      margin-top: 16px;
      @include rwd(pad) {
        margin-top: 27px;
      }
    }
    .nav-mobile {
      text-align: left;
      margin-top: 27px;
      border-bottom: 1px solid $colorPrimary;
      padding-bottom: 11px;
      a.active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -13px;
          height: 3px;
          width: 100%;
          position: absolute;
          background: $colorPrimary;
        }
      }
      a:not(:first-child) {
        margin-left: 13px;
      }
    }
  }
  /deep/ .basic-btn {
    display: inline-block;
    @include rwd(pad) {
      margin-bottom: 8px;
    }
  }
}

.decoration-line {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  width: 100%;
  height: 1px;
  background-color: $colorPrimary;
  position: relative;
  @include rwd(pad) {
    display: block;
    margin-bottom: 9px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: $colorPrimary;
    transform: translateY(-50%);
  }
}

.hidden-md {
  display: block;
  @include rwd(pad) {
    display: none;
  }
}
.show-md {
  display: none;
  @include rwd(pad) {
    display: block;
  }
}

.color-white {
  color: $colorWhite;
}

.section-partner .modal-body .company__name.no-info {
  margin-bottom: 50px;
}