.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// 菱形背景
.logo-bg {
  background-size: 115px 100px;
  background-image: url('~@/assets/home/bg.png');
}

// 分隔線
.logo-hr {
  height: 15px;
  background-repeat: repeat no-repeat;
  background-position-x: left;
  background-size: auto 15px;
  background-image: url('~@/assets/home/hr.svg');
  margin: 0 auto;
  @screen md {
    height: 10px;
    background-size: auto 10px;
  }
}

// 左上右下圓圈 
.logo-circles {
  width: 60px;
  height: 10px;
  background-image: url('~@/assets/home/circles.svg');
  @apply absolute;
  &-l {
    left: -60px;
    top: -25px;
  }
  &-r {
    right: -75px;
    bottom: -14px;
  }
}

// button
.btn-primary {
  border-radius: 8px;
  box-shadow: 10px 10px 0 rgba(255, 217, 140, 0.5);
  transition: all 0.15s;
  outline: none;
  width: 80%;
  @apply px-0 py-3 bg-yellow-300 font-medium text-black text-xl;
  &:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
  }
  @screen md {
    font-size: 1.75rem;
    @apply px-32;
  }
  @screen sm {
    @apply px-24 text-2xl w-auto;
  }
}
.btn-tag {
  border-radius: 18px;
  padding: 4px 12px;
  opacity: .6;
  @apply outline-none text-sm text-white;
  &.active {
    opacity: 1;
    .logo {
      width: 16px;
      height: 12px;
      @apply inline-block;
    }
  }
  &:focus {
    @apply outline-none;
  }
}
.btn-tag-outline {
  padding: 2px 12px;
  @apply border-2 border-purple-700 mr-4 text-sm;
  &:last-child {
    @apply mr-0;
  }
  &:hover {
    opacity: .8;
  }
}

.custom-overflow-hidden {
  overflow: hidden;
}

.modal-open {
  overflow: hidden;
}