// 1. 定義 map (預設名稱)
//   $logo_map: (
//     svg: xxx xx xxxx,
//     png: xxx,
//     jpg: xx xxx,
//   );
// 2. 引入 mixin，括號帶資料夾名稱
//   $include logo_map_mix(home)
// 例：另外定義 $logo_map 名稱, 在 mixin 第二參數帶上
//   $include logo_map_mix(home, $custom_map)

@mixin logo_map_mix($folder_name, $map_name: $logo_map) {
  $map_keys: map-keys($map_name);
  @each $key in $map_keys {
    $list: map-get($map_name, $key);
    $list_length: length($list);
    @for $index from 1 through $list_length {
      .logo-#{nth($list, $index)} {
        background-image: url('~@/assets/#{$folder_name}/#{nth($list, $index)}.#{$key}');
      }
    }
  }
}

// 主視覺 border
@mixin border-primary {
  &::before {
    content: '';
    width: 45px;
    background: url('~@/assets/home/border-s-t.svg') center center / contain no-repeat;
    left: -30px;
    top: -8px;
    @apply absolute h-8;
  }
  &::after {
    content: '';
    width: 20px;
    right: -26px;
    bottom: -10px;
    background: url('~@/assets/home/border-s-b.svg') center center / contain no-repeat;
    @apply absolute h-8;
  }
}